workflows/AI 1 Benchmark.json
{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WF Capture Msg": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Debounce is active?": {
      "main": [
        [
          {
            "node": "baseInfo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "active debounce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "active debounce": {
      "main": [
        [
          {
            "node": "baseInfo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n": {
      "main": [
        [
          {
            "node": "Debounce is active?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "WF Capture Msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "inscrement": {
      "main": [
        [
          {
            "node": "hit limit?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "baseInfo": {
      "main": [
        [
          {
            "node": "RemoteJids",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Messages": {
      "main": [
        [
          {
            "node": "reset msgs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate ID": {
      "main": [
        [
          {
            "node": "Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message": {
      "main": [
        [
          {
            "node": "push on list",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "reset inscrement": {
      "main": [
        [
          {
            "node": "inscrement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "reset msgs": {
      "main": [
        [
          {
            "node": "reset inscrement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "push on list": {
      "main": [
        [
          {
            "node": "inscrement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "hit limit?": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get list": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "get list",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RemoteJids": {
      "main": [
        [
          {
            "node": "Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-09-26T02:19:33.236Z",
  "id": "oP5YO3BHpV60LW5H",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "AI 1 Benchmark",
  "nodes": [
    {
      "parameters": {},
      "id": "626a9d7d-b642-4c4d-ac98-f2b8bfe5ca43",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -4620,
        940
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b5edd299-4d0b-4d92-823b-78da55fbad50",
              "name": "remoteJid",
              "value": "5512982184879@s.whatsapp.net",
              "type": "string"
            },
            {
              "id": "d8051e6b-5541-4d20-83bf-ee9e47bbc236",
              "name": "pushName",
              "value": "William",
              "type": "string"
            },
            {
              "id": "2f1550de-1622-490d-bbcb-d550e66455a2",
              "name": "instance_name",
              "value": "ibox_cli_23",
              "type": "string"
            },
            {
              "id": "b394a911-c168-4e84-bcb7-7c7e3bcb68ae",
              "name": "limit",
              "value": 3,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "c5548e3f-9b38-4a6a-8df9-f11837393fb0",
      "name": "baseInfo",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3960,
        920
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "63648496-599a-4519-a15c-87a6c171916c",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -2080,
        820
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ef743ff9-0d57-46a2-80b7-290327b707f6",
              "name": "msgs",
              "value": "={{ [\n  \"oi\",\n  \"tudo bem?\",\n  \"Como vai?\",\n  \"Quero pedir\",\n  \"De onde são?\",\n  \"Qual o horário de funcionamento?\",\n  \"Tem promoção?\",\n  \"Aceitam cartão?\",\n  \"Qual o tempo de entrega?\",\n  \"Qual o cardápio?\",\n  \"Vocês entregam no meu bairro?\",\n  \"Posso pagar no pix?\",\n  \"Qual o endereço?\",\n  \"Vocês têm sobremesa?\",\n  \"Obrigado!\"\n] }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "d2f00c38-f23c-4e27-9e16-108c3d267ae5",
      "name": "Messages",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3600,
        920
      ]
    },
    {
      "parameters": {
        "amount": 0.2
      },
      "id": "8509a90e-8d4d-4315-aa14-b6b19d2f4893",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1540,
        840
      ],
      "webhookId": "8cbe7c67-f45e-4574-83bc-5f59a04172aa"
    },
    {
      "parameters": {
        "content": "# Stress Test\n## Envio de mensagem",
        "height": 113.7105412168414,
        "width": 454.9276353042105
      },
      "id": "6b0335db-d4e3-449b-83e9-647971811088",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4640,
        660
      ]
    },
    {
      "parameters": {
        "operation": "activate",
        "workflowId": {
          "__rl": true,
          "value": "BZ9o5Ey8QpAJn1OB",
          "mode": "list",
          "cachedResultName": "AI 4 Process Message (#BZ9o5Ey8QpAJn1OB)"
        },
        "requestOptions": {}
      },
      "id": "eb792928-383a-4ddb-bb09-9de424982930",
      "name": "active debounce",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -4100,
        1080
      ],
      "credentials": {
        "n8nApi": {
          "id": "kuCc4NOcDaUS3bF4",
          "name": "william"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://webhook.n8n.wmst.com.br/webhook/f67c8094-022b-4aef-bb16-c7e430158fd9",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {}
      },
      "id": "955f2843-16eb-4f18-a8d2-5a52c2ca1b09",
      "name": "WF Capture Msg",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1700,
        840
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "filters": {
          "activeWorkflows": false,
          "tags": "Debounce"
        },
        "requestOptions": {}
      },
      "id": "b5ee0b8d-9082-44f5-ac39-b602e3a27afa",
      "name": "n8n",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -4440,
        940
      ],
      "credentials": {
        "n8nApi": {
          "id": "kuCc4NOcDaUS3bF4",
          "name": "william"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "68ddab78-6782-443f-9682-326e7712f0d8",
              "leftValue": "={{ $json.active }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f3f3cb1e-eb09-43b0-bdf9-7ebcb8ad1bb5",
      "name": "Debounce is active?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4260,
        940
      ],
      "disabled": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let timestamp  = Math.round($now.toSeconds());\n\nconst content = {\n  \"body\": {\n    \"event\": \"messages.upsert\",\n    \"instance\": \"shake_serraria\",\n    \"data\": {\n      \"key\": {\n        \"remoteJid\": $('baseInfo').first().json.remoteJid,\n        \"fromMe\": false,\n        \"id\": $('Loop Over Items').item.json.messageId\n      },\n      \"pushName\": $('baseInfo').first().json.pushName,\n      \"message\": {\n        \"conversation\": $('Loop Over Items').item.json.conversation,\n        \"messageContextInfo\": {\n          \"deviceListMetadata\": {\n            \"senderKeyHash\": \"XmJzBOLylzgZMw==\",\n            \"senderTimestamp\": \"1726978616\",\n            \"senderAccountType\": \"E2EE\",\n            \"receiverAccountType\": \"E2EE\",\n            \"recipientKeyHash\": \"I8VCc5TteJywHg==\",\n            \"recipientTimestamp\": \"1727477157\"\n          },\n          \"deviceListMetadataVersion\": 2,\n          \"messageSecret\": \"pdwWR8j0uXhfIhPDgkn0V81XiAf9kXtezdO29U5q6pc=\"\n        }\n      },\n      \"messageType\": \"conversation\",\n      \"messageTimestamp\": 1727921856,\n      \"owner\": \"shake_serraria\",\n      \"source\": \"web\"\n    },\n    \"destination\": \"https://n8n.entiliber.com/webhook/c768e41c-091a-49f0-816f-587b563d8cdb/:TESTEssss\",\n    \"date_time\": \"2024-10-02T23:17:36.461Z\",\n    \"sender\": \"558287107712@s.whatsapp.net\",\n    \"server_url\": \"https://wapi.entiliber.com\",\n    \"apikey\": \"hw32bvv1fqtfmlio7n934q\"\n  },\n  \"webhookUrl\": \"https://webhook.n8n.wmst.com.br/webhook-test/052fca95-88ff-4599-8473-89421ca6fc46\",\n  \"executionMode\": \"test\"\n};\n\nreturn content;"
      },
      "id": "45dd0b9e-150a-459f-8ad5-dfcd48cb4f29",
      "name": "Code Rafael",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2260,
        560
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let timestamp  = Math.round($now.toSeconds());\n\nconst msg = JSON.parse($input.item.json.msgs);\n\nconst content = {\n  \"body\": {\n    \"event\": \"messages.upsert\",\n    \"instance\": \"ibox_cli_23\",\n    \"data\": {\n      \"key\": {\n        \"remoteJid\": msg.user.remoteJid,\n        \"fromMe\": false,\n        \"id\": msg.messageId\n      },\n      \"pushName\": msg.user.pushName,\n      \"message\": {\n        \"messageContextInfo\": {\n          \"deviceListMetadata\": {\n            \"senderKeyHash\": \"XmJzBOLylzgZMw==\",\n            \"senderTimestamp\": \"1726978616\",\n            \"senderAccountType\": \"E2EE\",\n            \"receiverAccountType\": \"E2EE\",\n            \"recipientKeyHash\": \"133dAnqlyPxFrg==\",\n            \"recipientTimestamp\": timestamp\n          },\n          \"deviceListMetadataVersion\": 2\n        },\n        \"conversation\": `${msg.order} - ${msg.conversation}`\n      },\n      \"contextInfo\": {\n        \"ephemeralSettingTimestamp\": timestamp,\n        \"disappearingMode\": {\n          \"initiator\": \"CHANGED_IN_CHAT\",\n          \"trigger\": \"CHAT_SETTING\"\n        }\n      },\n      \"messageType\": \"extendedTextMessage\",\n      \"messageTimestamp\": timestamp,\n      \"instanceId\": \"88d98422-5c77-47d2-8405-c813d554530e\",\n      \"source\": \"web\",\n      \"chatwootMessageId\": 762,\n      \"chatwootInboxId\": 4,\n      \"chatwootConversationId\": 3\n    },\n    \"destination\": \"https://n8n.wmst.com.br/webhook-test/052fca95-88ff-4599-8473-89421ca6fc46\",\n    \"date_time\": \"2024-09-25T14:42:39.164Z\",\n    \"sender\": \"5512982471939@s.whatsapp.net\",\n    \"server_url\": \"https://apiwp.wmst.com.br\",\n    \"apikey\": \"A87404A4-1FBF-42C2-B2EF-F3AE0A4D8D36\"\n  },\n  \"webhookUrl\": \"https://webhook.n8n.wmst.com.br/webhook-test/052fca95-88ff-4599-8473-89421ca6fc46\",\n  \"executionMode\": \"test\"\n};\n\nreturn content;"
      },
      "id": "868eb6c3-8381-47a6-a5b8-37ece576cb64",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1880,
        840
      ]
    },
    {
      "parameters": {
        "operation": "incr",
        "key": "benchmark",
        "expire": true
      },
      "id": "f7aca530-fe68-42f9-b5ba-c291baf5de61",
      "name": "inscrement",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -3020,
        920
      ],
      "credentials": {
        "redis": {
          "id": "ePjUcKkuSrLqo1Tt",
          "name": "vps"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f0a722b2-85d2-4509-910a-0fec2cb34489",
              "name": "id",
              "value": "={{ [...Array(22)].map(() => Math.floor(Math.random() * 16).toString(16).toUpperCase()).join('') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "7229faed-c1ec-4b59-959c-7e0c2b94c86f",
      "name": "Generate ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2640,
        1040
      ]
    },
    {
      "parameters": {
        "operation": "push",
        "list": "benchmark_msgs",
        "messageData": "={{ $json.msg }}",
        "tail": true
      },
      "id": "2bb01564-841e-4664-9558-95d71248bb59",
      "name": "push on list",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2320,
        1040
      ],
      "credentials": {
        "redis": {
          "id": "ePjUcKkuSrLqo1Tt",
          "name": "vps"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "msgs",
        "key": "benchmark_msgs",
        "keyType": "list",
        "options": {}
      },
      "id": "01713868-eff8-4701-b033-ed03b42c0243",
      "name": "get list",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2420,
        820
      ],
      "credentials": {
        "redis": {
          "id": "ePjUcKkuSrLqo1Tt",
          "name": "vps"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2292c75f-b563-4411-85e1-cce1791ec97e",
              "name": "msg",
              "value": "={{ { order: $('inscrement').first().json.benchmark, messageId: $json.id, conversation: $('Messages').first().json.msgs.randomItem(), user: $('RemoteJids').first().json.msgs.randomItem() } }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "922aa216-1d14-4e71-a247-a23695a75a3e",
      "name": "Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2480,
        1040
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "benchmark"
      },
      "id": "bd8cbbce-13c7-4d2b-993b-c6c94799e873",
      "name": "reset inscrement",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -3220,
        920
      ],
      "credentials": {
        "redis": {
          "id": "ePjUcKkuSrLqo1Tt",
          "name": "vps"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "benchmark_msgs"
      },
      "id": "aa0fd909-736e-4692-9c39-0542be43b1ed",
      "name": "reset msgs",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -3400,
        920
      ],
      "credentials": {
        "redis": {
          "id": "ePjUcKkuSrLqo1Tt",
          "name": "vps"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "dffa0a3e-feae-47c9-9840-be8106e0cf69",
              "leftValue": "={{ $json.benchmark }}",
              "rightValue": "={{ $('baseInfo').first().json.limit }}",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "2fdc9001-c94f-4b9f-89cd-19662bd77a14",
      "name": "hit limit?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2840,
        920
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "msgs",
        "options": {}
      },
      "id": "9407e97d-20d6-499b-beaa-0afe89a4fbef",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -2260,
        820
      ]
    },
    {
      "parameters": {},
      "id": "9a0d3984-8214-4a11-8c54-23dbe52bbab7",
      "name": "Wait1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2620,
        820
      ],
      "webhookId": "64c3bb36-2eba-43ab-9b77-159557a76a05",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ef743ff9-0d57-46a2-80b7-290327b707f6",
              "name": "msgs",
              "value": "={{ [\n  { remoteJid: \"5512982184879@s.whatsapp.net\", pushName: 'William' },\n  { remoteJid: \"558299515825@s.whatsapp.net\", pushName: 'Rafael' },\n  { remoteJid: \"5512981793016@s.whatsapp.net\", pushName: 'Stephany' }\n] }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "da55a35d-1e74-4992-bd6f-c411b62785ee",
      "name": "RemoteJids",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3780,
        920
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner",
    "saveDataSuccessExecution": "none"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-09-27T14:34:01.317Z",
      "updatedAt": "2024-09-27T14:34:01.317Z",
      "id": "ZoTSEGR97fzorfDz",
      "name": "AI"
    },
    {
      "createdAt": "2024-09-27T17:42:17.034Z",
      "updatedAt": "2024-09-27T17:42:17.034Z",
      "id": "TsfCA8eZuTObjOfy",
      "name": "Backup"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-10-04T04:40:46.271Z",
  "versionId": "7fa0bcd4-ff94-4435-abca-a4c3a4736dab"
}