workflows/AI 1 Benchmark.json
{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "baseInfo": {
      "main": [
        [
          {
            "node": "Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Messages": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WF Capture Msg": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Debounce is active?": {
      "main": [
        [
          {
            "node": "baseInfo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "active debounce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "active debounce": {
      "main": [
        [
          {
            "node": "baseInfo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n": {
      "main": [
        [
          {
            "node": "Debounce is active?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "WF Capture Msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-09-26T02:19:33.236Z",
  "id": "oP5YO3BHpV60LW5H",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "AI 1 Benchmark",
  "nodes": [
    {
      "parameters": {},
      "id": "efa16d0b-f51f-430c-a08e-57a393e43c35",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        320,
        240
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b5edd299-4d0b-4d92-823b-78da55fbad50",
              "name": "remoteJid",
              "value": "5512982184879@s.whatsapp.net",
              "type": "string"
            },
            {
              "id": "d8051e6b-5541-4d20-83bf-ee9e47bbc236",
              "name": "pushName",
              "value": "William",
              "type": "string"
            },
            {
              "id": "2f1550de-1622-490d-bbcb-d550e66455a2",
              "name": "instance_name",
              "value": "ibox_cli_23",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "0d137b63-0788-4b55-a31a-69c56bed31be",
      "name": "baseInfo",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        980,
        220
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b2d4c0fb-c41c-4384-a33e-f0f433e950e8",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1520,
        220
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": []
        },
        "options": {}
      },
      "id": "64dbf6d5-d644-4124-9315-8673484fe1c7",
      "name": "Messages",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1160,
        220
      ]
    },
    {
      "parameters": {
        "amount": 0.5
      },
      "id": "61cb31eb-f21c-459b-8dae-92d4112fc9bf",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2060,
        360
      ],
      "webhookId": "8cbe7c67-f45e-4574-83bc-5f59a04172aa"
    },
    {
      "parameters": {
        "maxItems": 15
      },
      "id": "7fd08d31-1b55-4ac5-8cf5-1d636d4b9cbf",
      "name": "Limit",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1340,
        220
      ]
    },
    {
      "parameters": {
        "content": "# Stress Test\n## Envio de mensagem",
        "height": 113.7105412168414,
        "width": 454.9276353042105
      },
      "id": "6726c142-bd6b-4a03-8ef8-a060b8cd5503",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        300,
        60
      ]
    },
    {
      "parameters": {
        "operation": "activate",
        "workflowId": {
          "__rl": true,
          "value": "KCzwyXp5E0KjdlRc",
          "mode": "list",
          "cachedResultName": "AI Processa Msgs (#KCzwyXp5E0KjdlRc)"
        },
        "requestOptions": {}
      },
      "id": "f2658825-beb5-44ed-9aeb-f633d7bcd1b1",
      "name": "active debounce",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        840,
        380
      ],
      "credentials": {
        "n8nApi": {
          "id": "kuCc4NOcDaUS3bF4",
          "name": "william"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://webhook.n8n.wmst.com.br/webhook/f67c8094-022b-4aef-bb16-c7e430158fd9",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {}
      },
      "id": "63620c6d-b099-48c5-87b7-1350842e9b7c",
      "name": "WF Capture Msg",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1900,
        360
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "filters": {
          "activeWorkflows": false,
          "tags": "Debounce"
        },
        "requestOptions": {}
      },
      "id": "31c5955d-15c9-450e-9682-24080513ec07",
      "name": "n8n",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        500,
        240
      ],
      "credentials": {
        "n8nApi": {
          "id": "kuCc4NOcDaUS3bF4",
          "name": "william"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "68ddab78-6782-443f-9682-326e7712f0d8",
              "leftValue": "={{ $json.active }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3657833a-0879-4d34-b60e-c202bc4e6da8",
      "name": "Debounce is active?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        680,
        240
      ],
      "disabled": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let timestamp  = Math.round($now.toSeconds());\n\nconst content = {\n  \"body\": {\n    \"event\": \"messages.upsert\",\n    \"instance\": \"shake_serraria\",\n    \"data\": {\n      \"key\": {\n        \"remoteJid\": $('baseInfo').first().json.remoteJid,\n        \"fromMe\": false,\n        \"id\": $('Loop Over Items').item.json.messageId\n      },\n      \"pushName\": $('baseInfo').first().json.pushName,\n      \"message\": {\n        \"conversation\": $('Loop Over Items').item.json.conversation,\n        \"messageContextInfo\": {\n          \"deviceListMetadata\": {\n            \"senderKeyHash\": \"XmJzBOLylzgZMw==\",\n            \"senderTimestamp\": \"1726978616\",\n            \"senderAccountType\": \"E2EE\",\n            \"receiverAccountType\": \"E2EE\",\n            \"recipientKeyHash\": \"I8VCc5TteJywHg==\",\n            \"recipientTimestamp\": \"1727477157\"\n          },\n          \"deviceListMetadataVersion\": 2,\n          \"messageSecret\": \"pdwWR8j0uXhfIhPDgkn0V81XiAf9kXtezdO29U5q6pc=\"\n        }\n      },\n      \"messageType\": \"conversation\",\n      \"messageTimestamp\": 1727921856,\n      \"owner\": \"shake_serraria\",\n      \"source\": \"web\"\n    },\n    \"destination\": \"https://n8n.entiliber.com/webhook/c768e41c-091a-49f0-816f-587b563d8cdb/:TESTEssss\",\n    \"date_time\": \"2024-10-02T23:17:36.461Z\",\n    \"sender\": \"558287107712@s.whatsapp.net\",\n    \"server_url\": \"https://wapi.entiliber.com\",\n    \"apikey\": \"hw32bvv1fqtfmlio7n934q\"\n  },\n  \"webhookUrl\": \"https://webhook.n8n.wmst.com.br/webhook-test/052fca95-88ff-4599-8473-89421ca6fc46\",\n  \"executionMode\": \"test\"\n};\n\nreturn content;"
      },
      "id": "9781a670-8701-41d8-bf51-39d81b21eb45",
      "name": "Code Rafael",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        40
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let timestamp  = Math.round($now.toSeconds());\n\nconst content = {\n  \"body\": {\n    \"event\": \"messages.upsert\",\n    \"instance\": \"ibox_cli_23\",\n    \"data\": {\n      \"key\": {\n        \"remoteJid\": $('baseInfo').first().json.remoteJid,\n        \"fromMe\": false,\n        \"id\": $('Loop Over Items').item.json.messageId\n      },\n      \"pushName\": $('baseInfo').first().json.pushName,\n      \"message\": {\n        \"messageContextInfo\": {\n          \"deviceListMetadata\": {\n            \"senderKeyHash\": \"XmJzBOLylzgZMw==\",\n            \"senderTimestamp\": \"1726978616\",\n            \"senderAccountType\": \"E2EE\",\n            \"receiverAccountType\": \"E2EE\",\n            \"recipientKeyHash\": \"133dAnqlyPxFrg==\",\n            \"recipientTimestamp\": timestamp\n          },\n          \"deviceListMetadataVersion\": 2\n        },\n        \"conversation\": $('Loop Over Items').item.json.conversation\n      },\n      \"contextInfo\": {\n        \"ephemeralSettingTimestamp\": timestamp,\n        \"disappearingMode\": {\n          \"initiator\": \"CHANGED_IN_CHAT\",\n          \"trigger\": \"CHAT_SETTING\"\n        }\n      },\n      \"messageType\": \"extendedTextMessage\",\n      \"messageTimestamp\": timestamp,\n      \"instanceId\": \"88d98422-5c77-47d2-8405-c813d554530e\",\n      \"source\": \"web\",\n      \"chatwootMessageId\": 762,\n      \"chatwootInboxId\": 4,\n      \"chatwootConversationId\": 3\n    },\n    \"destination\": \"https://n8n.wmst.com.br/webhook-test/052fca95-88ff-4599-8473-89421ca6fc46\",\n    \"date_time\": \"2024-09-25T14:42:39.164Z\",\n    \"sender\": \"5512982471939@s.whatsapp.net\",\n    \"server_url\": \"https://apiwp.wmst.com.br\",\n    \"apikey\": \"A87404A4-1FBF-42C2-B2EF-F3AE0A4D8D36\"\n  },\n  \"webhookUrl\": \"https://webhook.n8n.wmst.com.br/webhook-test/052fca95-88ff-4599-8473-89421ca6fc46\",\n  \"executionMode\": \"test\"\n};\n\nreturn content;"
      },
      "id": "14b81890-9a01-45e6-9b7b-712a755587eb",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1740,
        340
      ]
    }
  ],
  "pinData": {
    "Messages": [
      {
        "json": {
          "conversation": "1. oi",
          "messageId": "3EB07F50F7183A4F5089A1"
        }
      },
      {
        "json": {
          "conversation": "2. tudo bem?",
          "messageId": "3EB07F50F7183A4F5089A2"
        }
      },
      {
        "json": {
          "conversation": "3. Como vai?",
          "messageId": "3EB07F50F7183A4F5089A3"
        }
      },
      {
        "json": {
          "conversation": "4. Quero pedir",
          "messageId": "3EB07F50F7183A4F5089A4"
        }
      },
      {
        "json": {
          "conversation": "5. De onde são?",
          "messageId": "3EB07F50F7183A4F5089A5"
        }
      },
      {
        "json": {
          "conversation": "6. Qual o horário de funcionamento?",
          "messageId": "3EB07F50F7183A4F5089A6"
        }
      },
      {
        "json": {
          "conversation": "7. Tem promoção?",
          "messageId": "3EB07F50F7183A4F5089A7"
        }
      },
      {
        "json": {
          "conversation": "8. Aceitam cartão?",
          "messageId": "3EB07F50F7183A4F5089A8"
        }
      },
      {
        "json": {
          "conversation": "9. Qual o tempo de entrega?",
          "messageId": "3EB07F50F7183A4F5089A9"
        }
      },
      {
        "json": {
          "conversation": "10. Qual o cardápio?",
          "messageId": "3EB07F50F7183A4F5089A10"
        }
      },
      {
        "json": {
          "conversation": "11. Vocês entregam no meu bairro?",
          "messageId": "3EB07F50F7183A4F5089A11"
        }
      },
      {
        "json": {
          "conversation": "12. Posso pagar no pix?",
          "messageId": "3EB07F50F7183A4F5089A12"
        }
      },
      {
        "json": {
          "conversation": "13. Qual o endereço?",
          "messageId": "3EB07F50F7183A4F5089A13"
        }
      },
      {
        "json": {
          "conversation": "14. Vocês têm sobremesa?",
          "messageId": "3EB07F50F7183A4F5089A14"
        }
      },
      {
        "json": {
          "conversation": "15. Obrigado!",
          "messageId": "3EB07F50F7183A4F5089A15"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-09-27T14:34:01.317Z",
      "updatedAt": "2024-09-27T14:34:01.317Z",
      "id": "ZoTSEGR97fzorfDz",
      "name": "AI"
    },
    {
      "createdAt": "2024-09-27T17:42:17.034Z",
      "updatedAt": "2024-09-27T17:42:17.034Z",
      "id": "TsfCA8eZuTObjOfy",
      "name": "Backup"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-10-03T03:20:17.832Z",
  "versionId": "ae8de038-2fa7-4793-8c64-10a225ab2b58"
}