workflows/AI 1 Benchmark.json
{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WF Capture Msg": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Debounce is active?": {
      "main": [
        [
          {
            "node": "baseInfo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "active debounce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "active debounce": {
      "main": [
        [
          {
            "node": "baseInfo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n": {
      "main": [
        [
          {
            "node": "Debounce is active?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "WF Capture Msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "inscrement": {
      "main": [
        [
          {
            "node": "hit limit?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "baseInfo": {
      "main": [
        [
          {
            "node": "Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Messages": {
      "main": [
        [
          {
            "node": "reset msgs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate ID": {
      "main": [
        [
          {
            "node": "Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message": {
      "main": [
        [
          {
            "node": "push on list",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "reset inscrement": {
      "main": [
        [
          {
            "node": "inscrement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "reset msgs": {
      "main": [
        [
          {
            "node": "reset inscrement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "push on list": {
      "main": [
        [
          {
            "node": "inscrement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "hit limit?": {
      "main": [
        [
          {
            "node": "get list",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get list": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-09-26T02:19:33.236Z",
  "id": "oP5YO3BHpV60LW5H",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "AI 1 Benchmark",
  "nodes": [
    {
      "parameters": {},
      "id": "efa16d0b-f51f-430c-a08e-57a393e43c35",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        320,
        340
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b5edd299-4d0b-4d92-823b-78da55fbad50",
              "name": "remoteJid",
              "value": "5512982184879@s.whatsapp.net",
              "type": "string"
            },
            {
              "id": "d8051e6b-5541-4d20-83bf-ee9e47bbc236",
              "name": "pushName",
              "value": "William",
              "type": "string"
            },
            {
              "id": "2f1550de-1622-490d-bbcb-d550e66455a2",
              "name": "instance_name",
              "value": "ibox_cli_23",
              "type": "string"
            },
            {
              "id": "b394a911-c168-4e84-bcb7-7c7e3bcb68ae",
              "name": "limit",
              "value": 10,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "0d137b63-0788-4b55-a31a-69c56bed31be",
      "name": "baseInfo",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        980,
        320
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b2d4c0fb-c41c-4384-a33e-f0f433e950e8",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2420,
        220
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ef743ff9-0d57-46a2-80b7-290327b707f6",
              "name": "msgs",
              "value": "={{ [\n  \"oi\",\n  \"tudo bem?\",\n  \"Como vai?\",\n  \"Quero pedir\",\n  \"De onde são?\",\n  \"Qual o horário de funcionamento?\",\n  \"Tem promoção?\",\n  \"Aceitam cartão?\",\n  \"Qual o tempo de entrega?\",\n  \"Qual o cardápio?\",\n  \"Vocês entregam no meu bairro?\",\n  \"Posso pagar no pix?\",\n  \"Qual o endereço?\",\n  \"Vocês têm sobremesa?\",\n  \"Obrigado!\"\n] }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "64dbf6d5-d644-4124-9315-8673484fe1c7",
      "name": "Messages",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1160,
        320
      ]
    },
    {
      "parameters": {
        "amount": 0.5
      },
      "id": "61cb31eb-f21c-459b-8dae-92d4112fc9bf",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2960,
        240
      ],
      "webhookId": "8cbe7c67-f45e-4574-83bc-5f59a04172aa"
    },
    {
      "parameters": {
        "content": "# Stress Test\n## Envio de mensagem",
        "height": 113.7105412168414,
        "width": 454.9276353042105
      },
      "id": "6726c142-bd6b-4a03-8ef8-a060b8cd5503",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        300,
        60
      ]
    },
    {
      "parameters": {
        "operation": "activate",
        "workflowId": {
          "__rl": true,
          "value": "KCzwyXp5E0KjdlRc",
          "mode": "list",
          "cachedResultName": "AI Processa Msgs (#KCzwyXp5E0KjdlRc)"
        },
        "requestOptions": {}
      },
      "id": "f2658825-beb5-44ed-9aeb-f633d7bcd1b1",
      "name": "active debounce",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        840,
        480
      ],
      "credentials": {
        "n8nApi": {
          "id": "kuCc4NOcDaUS3bF4",
          "name": "william"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://webhook.n8n.wmst.com.br/webhook/f67c8094-022b-4aef-bb16-c7e430158fd9",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {}
      },
      "id": "63620c6d-b099-48c5-87b7-1350842e9b7c",
      "name": "WF Capture Msg",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2800,
        240
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "filters": {
          "activeWorkflows": false,
          "tags": "Debounce"
        },
        "requestOptions": {}
      },
      "id": "31c5955d-15c9-450e-9682-24080513ec07",
      "name": "n8n",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        500,
        340
      ],
      "credentials": {
        "n8nApi": {
          "id": "kuCc4NOcDaUS3bF4",
          "name": "william"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "68ddab78-6782-443f-9682-326e7712f0d8",
              "leftValue": "={{ $json.active }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3657833a-0879-4d34-b60e-c202bc4e6da8",
      "name": "Debounce is active?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        680,
        340
      ],
      "disabled": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let timestamp  = Math.round($now.toSeconds());\n\nconst content = {\n  \"body\": {\n    \"event\": \"messages.upsert\",\n    \"instance\": \"shake_serraria\",\n    \"data\": {\n      \"key\": {\n        \"remoteJid\": $('baseInfo').first().json.remoteJid,\n        \"fromMe\": false,\n        \"id\": $('Loop Over Items').item.json.messageId\n      },\n      \"pushName\": $('baseInfo').first().json.pushName,\n      \"message\": {\n        \"conversation\": $('Loop Over Items').item.json.conversation,\n        \"messageContextInfo\": {\n          \"deviceListMetadata\": {\n            \"senderKeyHash\": \"XmJzBOLylzgZMw==\",\n            \"senderTimestamp\": \"1726978616\",\n            \"senderAccountType\": \"E2EE\",\n            \"receiverAccountType\": \"E2EE\",\n            \"recipientKeyHash\": \"I8VCc5TteJywHg==\",\n            \"recipientTimestamp\": \"1727477157\"\n          },\n          \"deviceListMetadataVersion\": 2,\n          \"messageSecret\": \"pdwWR8j0uXhfIhPDgkn0V81XiAf9kXtezdO29U5q6pc=\"\n        }\n      },\n      \"messageType\": \"conversation\",\n      \"messageTimestamp\": 1727921856,\n      \"owner\": \"shake_serraria\",\n      \"source\": \"web\"\n    },\n    \"destination\": \"https://n8n.entiliber.com/webhook/c768e41c-091a-49f0-816f-587b563d8cdb/:TESTEssss\",\n    \"date_time\": \"2024-10-02T23:17:36.461Z\",\n    \"sender\": \"558287107712@s.whatsapp.net\",\n    \"server_url\": \"https://wapi.entiliber.com\",\n    \"apikey\": \"hw32bvv1fqtfmlio7n934q\"\n  },\n  \"webhookUrl\": \"https://webhook.n8n.wmst.com.br/webhook-test/052fca95-88ff-4599-8473-89421ca6fc46\",\n  \"executionMode\": \"test\"\n};\n\nreturn content;"
      },
      "id": "9781a670-8701-41d8-bf51-39d81b21eb45",
      "name": "Code Rafael",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2680,
        -40
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let timestamp  = Math.round($now.toSeconds());\n\nconst msg = JSON.parse($input.item.json.msgs);\n\nconst content = {\n  \"body\": {\n    \"event\": \"messages.upsert\",\n    \"instance\": \"ibox_cli_23\",\n    \"data\": {\n      \"key\": {\n        \"remoteJid\": $('baseInfo').first().json.remoteJid,\n        \"fromMe\": false,\n        \"id\": msg.messageId\n      },\n      \"pushName\": $('baseInfo').first().json.pushName,\n      \"message\": {\n        \"messageContextInfo\": {\n          \"deviceListMetadata\": {\n            \"senderKeyHash\": \"XmJzBOLylzgZMw==\",\n            \"senderTimestamp\": \"1726978616\",\n            \"senderAccountType\": \"E2EE\",\n            \"receiverAccountType\": \"E2EE\",\n            \"recipientKeyHash\": \"133dAnqlyPxFrg==\",\n            \"recipientTimestamp\": timestamp\n          },\n          \"deviceListMetadataVersion\": 2\n        },\n        \"conversation\": `${msg.order} - ${msg.conversation}`\n      },\n      \"contextInfo\": {\n        \"ephemeralSettingTimestamp\": timestamp,\n        \"disappearingMode\": {\n          \"initiator\": \"CHANGED_IN_CHAT\",\n          \"trigger\": \"CHAT_SETTING\"\n        }\n      },\n      \"messageType\": \"extendedTextMessage\",\n      \"messageTimestamp\": timestamp,\n      \"instanceId\": \"88d98422-5c77-47d2-8405-c813d554530e\",\n      \"source\": \"web\",\n      \"chatwootMessageId\": 762,\n      \"chatwootInboxId\": 4,\n      \"chatwootConversationId\": 3\n    },\n    \"destination\": \"https://n8n.wmst.com.br/webhook-test/052fca95-88ff-4599-8473-89421ca6fc46\",\n    \"date_time\": \"2024-09-25T14:42:39.164Z\",\n    \"sender\": \"5512982471939@s.whatsapp.net\",\n    \"server_url\": \"https://apiwp.wmst.com.br\",\n    \"apikey\": \"A87404A4-1FBF-42C2-B2EF-F3AE0A4D8D36\"\n  },\n  \"webhookUrl\": \"https://webhook.n8n.wmst.com.br/webhook-test/052fca95-88ff-4599-8473-89421ca6fc46\",\n  \"executionMode\": \"test\"\n};\n\nreturn content;"
      },
      "id": "14b81890-9a01-45e6-9b7b-712a755587eb",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2620,
        240
      ]
    },
    {
      "parameters": {
        "operation": "incr",
        "key": "benchmark",
        "expire": true
      },
      "id": "1fac71c4-8c6b-4595-9646-2ee4cffe4181",
      "name": "inscrement",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1700,
        320
      ],
      "credentials": {
        "redis": {
          "id": "ePjUcKkuSrLqo1Tt",
          "name": "vps"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f0a722b2-85d2-4509-910a-0fec2cb34489",
              "name": "id",
              "value": "={{ [...Array(22)].map(() => Math.floor(Math.random() * 16).toString(16).toUpperCase()).join('') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "99343f2c-2822-4e59-a305-696a35107fc8",
      "name": "Generate ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2080,
        440
      ]
    },
    {
      "parameters": {
        "operation": "push",
        "list": "benchmark_msgs",
        "messageData": "={{ $json.msg }}",
        "tail": true
      },
      "id": "afff72b3-30af-4602-a797-3e27408caa95",
      "name": "push on list",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2400,
        440
      ],
      "credentials": {
        "redis": {
          "id": "ePjUcKkuSrLqo1Tt",
          "name": "vps"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "msgs",
        "key": "benchmark_msgs",
        "keyType": "list",
        "options": {}
      },
      "id": "48d164d1-1b33-4c72-85e6-6cd06e3b6a41",
      "name": "get list",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2080,
        220
      ],
      "credentials": {
        "redis": {
          "id": "ePjUcKkuSrLqo1Tt",
          "name": "vps"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2292c75f-b563-4411-85e1-cce1791ec97e",
              "name": "msg",
              "value": "={{ { order: $('inscrement').first().json.benchmark, messageId: $json.id, conversation: $('Messages').first().json.msgs.randomItem() } }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "1eaebd92-5f3f-4263-8ae9-00970b19449e",
      "name": "Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2240,
        440
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "benchmark"
      },
      "id": "60344d2f-e23d-4f7f-916f-f5ba908dffab",
      "name": "reset inscrement",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1520,
        320
      ],
      "credentials": {
        "redis": {
          "id": "ePjUcKkuSrLqo1Tt",
          "name": "vps"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "benchmark_msgs"
      },
      "id": "59ddf8dd-37ad-42f9-8835-b6c1b186e38c",
      "name": "reset msgs",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1340,
        320
      ],
      "credentials": {
        "redis": {
          "id": "ePjUcKkuSrLqo1Tt",
          "name": "vps"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "dffa0a3e-feae-47c9-9840-be8106e0cf69",
              "leftValue": "={{ $json.benchmark }}",
              "rightValue": "={{ $('baseInfo').first().json.limit }}",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "41291ec2-e8f0-4e8b-86f5-4d5da9a977da",
      "name": "hit limit?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1880,
        320
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "msgs",
        "options": {}
      },
      "id": "6dba112d-4db5-49dc-a7ce-881a41e4155b",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2240,
        220
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-09-27T14:34:01.317Z",
      "updatedAt": "2024-09-27T14:34:01.317Z",
      "id": "ZoTSEGR97fzorfDz",
      "name": "AI"
    },
    {
      "createdAt": "2024-09-27T17:42:17.034Z",
      "updatedAt": "2024-09-27T17:42:17.034Z",
      "id": "TsfCA8eZuTObjOfy",
      "name": "Backup"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-10-03T05:12:46.970Z",
  "versionId": "93f557cd-1cac-4ac0-adc3-4e1a924caac9"
}