workflows/AI 2 Init.json
{
  "active": true,
  "connections": {
    "user found": {
      "main": [
        [
          {
            "node": "get session",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "create user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "baseInfo": {
      "main": [
        [
          {
            "node": "Message Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "fetch msgs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "delete msgs": {
      "main": [
        [
          {
            "node": "Loop Over Msgs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "msgs found": {
      "main": [
        [
          {
            "node": "check timeout msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetch msgs": {
      "main": [
        [
          {
            "node": "msgs found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "reset msgs": {
      "main": [
        [
          {
            "node": "push msg new",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get user": {
      "main": [
        [
          {
            "node": "user found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create user": {
      "main": [
        [
          {
            "node": "get user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "save msgs": {
      "main": [
        [
          {
            "node": "Loop Over Msgs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get session": {
      "main": [
        [
          {
            "node": "session found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "session found": {
      "main": [
        [
          {
            "node": "sessionInfo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "create session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create session": {
      "main": [
        [
          {
            "node": "get session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sessionInfo": {
      "main": [
        [
          {
            "node": "check session status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Message": {
      "main": [
        [
          {
            "node": "Fix Text 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Msgs": {
      "main": [
        [
          {
            "node": "messages",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "save msgs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Transcription Image": {
      "main": [
        [
          {
            "node": "Fix Text 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "simulate output audio": {
      "main": [
        [
          {
            "node": "Format Transcription Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Transcription Audio": {
      "main": [
        [
          {
            "node": "Fix Text 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "simulate output image": {
      "main": [
        [
          {
            "node": "Format Transcription Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Base64": {
      "main": [
        [
          {
            "node": "Media Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert To Audio": {
      "main": [
        [
          {
            "node": "simulate output audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert To Image": {
      "main": [
        [
          {
            "node": "simulate output image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fix Text 2": {
      "main": [
        [
          {
            "node": "Structure Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check timeout msg": {
      "main": [
        [],
        [
          {
            "node": "delete msgs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message Type": {
      "main": [
        [
          {
            "node": "Format Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Base64",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structure Message": {
      "main": [
        [
          {
            "node": "reset msgs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "baseInfo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "push msg new": {
      "main": [
        [
          {
            "node": "update debounce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Media Type": {
      "main": [
        [
          {
            "node": "Convert To Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert To Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-09-26T18:07:32.826Z",
  "id": "F2nw1xU7dOvgvtCa",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "AI 2 Init",
  "nodes": [
    {
      "parameters": {
        "tableId": "contacts",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "whatsapp",
              "fieldValue": "={{ $('baseInfo').first().json.userNumber }}"
            },
            {
              "fieldId": "nome",
              "fieldValue": "={{ $('baseInfo').first().json.userName }}"
            }
          ]
        }
      },
      "id": "63e21163-0bc6-49dc-9f01-898d22b5c335",
      "name": "create user",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -4060,
        2140
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "WWYYqpMcDDFZTW3g",
          "name": "william"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "contacts",
        "filters": {
          "conditions": [
            {
              "keyName": "whatsapp",
              "keyValue": "={{ $('baseInfo').first().json.userNumber }}"
            }
          ]
        }
      },
      "id": "a1296210-b214-472a-be5c-490c526fa8e5",
      "name": "get user",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -4080,
        1940
      ],
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "WWYYqpMcDDFZTW3g",
          "name": "william"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "97535799-6397-461d-831d-1eec2f59e9fe",
              "leftValue": "={{ $('get user').first().json.whatsapp }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "da166cbc-00c7-4e8f-b478-60c976671bcf",
      "name": "user found",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -3940,
        1940
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5f5addd6-12c4-4bbd-bce7-6448e90cb9d0",
              "name": "evo_api",
              "value": "https://apiwp.wmst.com.br",
              "type": "string"
            },
            {
              "id": "d8fa0cad-0b2f-4e61-8d05-5d29829d0156",
              "name": "instance",
              "value": "={{ $('Webhook').first().json.body.instance }}",
              "type": "string"
            },
            {
              "id": "e390ea49-44e4-4aa2-8f1f-9044fd4b27f8",
              "name": "remoteJid",
              "value": "={{ $('Webhook').first().json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "375453f5-c979-48d0-9a77-f2e837c80da5",
              "name": "pushName",
              "value": "={{ $('Webhook').first().json.body.data.pushName }}",
              "type": "string"
            },
            {
              "id": "c1179eef-b150-4d05-89c1-3b85660ec6bd",
              "name": "fromMe",
              "value": "={{ $('Webhook').first().json.body.data.key.fromMe }}",
              "type": "boolean"
            },
            {
              "id": "2ca406cb-0c5a-4e69-a005-ba35e81128da",
              "name": "messageType",
              "value": "={{ $('Webhook').first().json.body.data.messageType }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "ac5b9735-e518-4d2d-9639-0075ebad962c",
      "name": "baseInfo",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4420,
        886
      ],
      "alwaysOutputData": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "amount": "={{ $('baseInfo').first().json.delay_to_wait }}"
      },
      "id": "d2e096fa-2c67-4177-9ec0-6930b33c41fc",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2754,
        2120
      ],
      "webhookId": "18c7842f-a5f9-40e6-af15-33ba702963b6",
      "executeOnce": false
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=msgs_{{ $('sessionInfo').first().json.session_id }}"
      },
      "id": "4b030062-e040-4aa0-8e50-119b6c7110fa",
      "name": "delete msgs",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2234,
        1900
      ],
      "alwaysOutputData": true,
      "credentials": {
        "redis": {
          "id": "ePjUcKkuSrLqo1Tt",
          "name": "vps"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b3b118f3-86c5-4b18-b323-8387c823b815",
              "name": "conversation",
              "value": "={{ $('delete msgs').item.json.msgs.map(item => JSON.parse(item).output).join('\\n') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "8fedcd6f-4fe8-4d80-b374-57dc5a9d8af2",
      "name": "messages",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2065,
        2020
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=msgs_{{ $('sessionInfo').first().json.session_id }}"
      },
      "id": "4cad3558-a429-419b-849b-aa5950b43c86",
      "name": "reset msgs",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2740,
        1160
      ],
      "alwaysOutputData": true,
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c472bfd4-2897-4c9e-ba6c-217484f6e7de",
              "leftValue": "={{ $json.msgs.isNotEmpty() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c12e4a05-1a62-4bda-a21a-f741889dceeb",
      "name": "msgs found",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2634,
        1920
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "=msgs",
        "key": "=msgs_{{ $('sessionInfo').first().json.session_id }}",
        "options": {}
      },
      "id": "416e051a-fad4-4d0d-b873-aeb97d29dccf",
      "name": "fetch msgs",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2794,
        1920
      ],
      "alwaysOutputData": false,
      "credentials": {
        "redis": {
          "id": "ePjUcKkuSrLqo1Tt",
          "name": "vps"
        }
      }
    },
    {
      "parameters": {
        "operation": "push",
        "list": "=msgs_{{ $('baseInfo').item.json.instance }}_{{ $('baseInfo').item.json.remoteJid.split('@')[0] }}",
        "messageData": "={{ $('Structure Message').first().json.toJsonString() }}",
        "tail": true
      },
      "id": "c717c175-f5cb-4dae-86a7-1c346b087db9",
      "name": "push msg new",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2580,
        1160
      ],
      "alwaysOutputData": false,
      "credentials": {
        "redis": {
          "id": "ePjUcKkuSrLqo1Tt",
          "name": "vps"
        }
      }
    },
    {
      "parameters": {
        "content": "## Gerenciamento das Mensagens\n*Obs.: Agrupa as Mensagens a Conversa e Salva no Banco no Final após o Intervalo ter Expirado*",
        "height": 500.88473779233084,
        "width": 963.3370432099302,
        "color": 3
      },
      "id": "e977e0c7-bf77-48eb-89a5-b5d754e93e3b",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2880,
        1820
      ]
    },
    {
      "parameters": {
        "content": "## Gerenciamento de Usuário\n*Tenta recuperar uma Conta, se não existir cria uma*",
        "height": 520.6796357098343,
        "width": 407.67094826370743,
        "color": 6
      },
      "id": "e1934caa-f655-4373-9ea1-d447fafc4739",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4160,
        1820
      ]
    },
    {
      "parameters": {
        "content": "## Captura Mensagem\n### Nota: Se for áudios/imagens transcreve para formato de texto\n*Obs.: No final monta estrutura JSON que será usada no restante do fluxo*",
        "height": 699.3376778124559,
        "width": 1258.8860294274123,
        "color": 5
      },
      "id": "8ca16ba6-5cca-46f4-b6d8-d67420394032",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4140,
        780
      ]
    },
    {
      "parameters": {
        "tableId": "messages",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "instance_name",
              "fieldValue": "={{ $('baseInfo').item.json.instance }}"
            },
            {
              "fieldId": "whatsapp",
              "fieldValue": "={{ $('baseInfo').item.json.userNumber }}"
            },
            {
              "fieldId": "message_id",
              "fieldValue": "={{ $json.msgs.first().parseJson().id }}"
            },
            {
              "fieldId": "message",
              "fieldValue": "={{ $json.msgs.first().parseJson().output }}"
            },
            {
              "fieldId": "session_id",
              "fieldValue": "={{ $('session found').item.json.session_id }}"
            },
            {
              "fieldId": "json",
              "fieldValue": "={{ $json.msgs.first().parseJson().toJsonString() }}"
            }
          ]
        }
      },
      "id": "484cd27f-ca4b-4850-8f2c-9ba1cad7acfb",
      "name": "save msgs",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2325,
        2120
      ],
      "credentials": {
        "supabaseApi": {
          "id": "WWYYqpMcDDFZTW3g",
          "name": "william"
        }
      }
    },
    {
      "parameters": {
        "content": "## Gerenciamento de Sessão\n*Tenta recuperar Sessão, se não existir cria uma*\n*Obs.: Se já existir verifica se ela não esta `pausada`*",
        "height": 528.112839562227,
        "width": 750.3768203968939
      },
      "id": "73e6a4dc-48e3-4597-a4ab-82c3ed2d8352",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3700,
        1820
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "sessions",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "instance_name",
              "condition": "eq",
              "keyValue": "={{ $('baseInfo').first().json.instance }}"
            },
            {
              "keyName": "whatsapp",
              "condition": "eq",
              "keyValue": "={{ $('baseInfo').first().json.userNumber }}"
            },
            {
              "keyName": "session_status",
              "condition": "neq",
              "keyValue": "closed"
            }
          ]
        }
      },
      "id": "0f3cc0a9-33b0-4187-9120-f7fe9de49e11",
      "name": "get session",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -3620,
        1926
      ],
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "WWYYqpMcDDFZTW3g",
          "name": "william"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "97535799-6397-461d-831d-1eec2f59e9fe",
              "leftValue": "={{ $('get session').item.json.whatsapp }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "664da234-0e25-42d5-bf74-3b8e5fb61211",
      "name": "session found",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -3480,
        1926
      ],
      "executeOnce": true,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "tableId": "sessions",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "instance_name",
              "fieldValue": "={{ $('baseInfo').first().json.instance }}"
            },
            {
              "fieldId": "whatsapp",
              "fieldValue": "={{ $('baseInfo').first().json.userNumber }}"
            },
            {
              "fieldId": "session_status",
              "fieldValue": "opened"
            }
          ]
        }
      },
      "id": "1e6a9b45-4492-420e-8592-f545080b8f15",
      "name": "create session",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -3600,
        2140
      ],
      "alwaysOutputData": false,
      "credentials": {
        "supabaseApi": {
          "id": "WWYYqpMcDDFZTW3g",
          "name": "william"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const data = $('Webhook').first().json.body.data;\nlet response = '';\n\nconst conversation = data.message.conversation;\nconst quotedMessage = data.contextInfo?.quotedMessage?.extendedTextMessage?.text;\nconst editedMessage = data.message.editedMessage?.message?.protocolMessage?.editedMessage?.extendedTextMessage?.text;\n\nif (quotedMessage) {\n  response = `Menção: ${quotedMessage}, Mensagem: ${conversation}`;\n} else if (editedMessage) {\n  response = `${editedMessage}*`;\n} else {\n  response = conversation;\n}\n\nreturn { output: response };"
      },
      "id": "fbb40570-9ab3-4078-b01a-ad5734bffb89",
      "name": "Format Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3442,
        900
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"session_status\": \"{{ $json.session_status }}\",\n  \"session_id\": \"{{ $json.session_id }}\"\n}\n",
        "includeOtherFields": true,
        "include": "selected",
        "includeFields": "id,created_at",
        "options": {}
      },
      "id": "9e613e7a-02d4-4aa7-9542-ab3a4707aa11",
      "name": "sessionInfo",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3280,
        1920
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const data = $('Webhook').first().json.body.data;\n\nreturn {\n  id: data.key.id,\n  origin: data.messageType,\n  output: $json.output,\n  timestamp: data.messageTimestamp,\n  datetime: DateTime.fromSeconds(data.messageTimestamp).toFormat('yyyy-MM-dd H:m:s')\n};"
      },
      "id": "932c7e8c-5165-4096-8bfd-77d923ae2abc",
      "name": "Structure Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3020,
        1160
      ]
    },
    {
      "parameters": {
        "content": "## Informações Base do Fluxo\nObs.: Altere somente:\n`evo_key`, `evo_api`, `delay_to_wait`",
        "height": 262.2564377181297,
        "width": 350.1443817216317,
        "color": 3
      },
      "id": "cd23bb39-afac-489a-bd5c-ed46fe492784",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4540,
        780
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "44a4d765-fbb1-4378-9e1e-e6add3451c7e",
      "name": "Loop Over Msgs",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -2494,
        2120
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "75d6e859-8379-4a34-8daf-b34c6a450a09",
              "name": "content",
              "value": "=O conteudo da imagem apresenta um cardapio do dia. Ele esta dividido em tres secoes principais.\\n\\nNa parte superior, tem o titulo \\\"CARDAPIO do dia\\\".\\n\\nNa secao \\\"OPCOES\\\", sao listados os pratos oferecidos:\\n\\n1. Parmegiana de frango (acompanhado de arroz, feijao e fritas)\\n2. Linguiça toscana assada (acompanha arroz, feijao, salada de alface e tomate, mais 2 acompanhamentos de sua preferencia)\\n3. File de frango grelhado (tambem com arroz, feijao, salada de alface e tomate, mais 2 acompanhamentos de sua preferencia)\\n4. Escondidinho de carne moida (similar aos anteriores, com arroz, feijao, salada de alface e tomate, mais 2 acompanhamentos de sua preferencia)\\n\\nNa secao \\\"ACOMPANHAMENTOS\\\", sao listados:\\n\\n- Fritas\\n- Farofa\\n- Torresmo\\n- Repolho refogado\\n- Berinjela a pizzaiolo\\n\\nNa secao \\\"TAMANHOS\\\", estao os tamanhos e precos:\\n\\n- Pequena (500ml) - 16,00\\n- Media (750ml) - 18,00\\n- Grande (1000ml) - 21,00\\n\\nNa parte inferior, ha informacoes da loja Legenda: Esse é cardápio da nossa loja em imagem.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d294dfcb-776a-49af-a786-860cc322a2d7",
      "name": "simulate output image",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3600,
        1320
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "75d6e859-8379-4a34-8daf-b34c6a450a09",
              "name": "text",
              "value": "Olá, tudo bem?",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "e7fbf317-b6c8-4251-85e1-3ee37d3ae1a0",
      "name": "simulate output audio",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3600,
        1080
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const data = $('Webhook').first().json.body.data;\nconst caption = data.message?.imageMessage?.caption;\nconst content = $input.item.json.content;\nlet response = '';\n\n// Verifica se o conteúdo existe\nif (content) {\n  response = caption\n    ? `${content} Legenda: ${caption}`\n    : `Transcrição: ${content}`;\n} else {\n  response = 'Erro: json.content ausente para imagem com legenda';\n}\n\nreturn { output: response };"
      },
      "id": "aed4e2f7-5e27-4ff2-a2ff-5563719ea670",
      "name": "Format Transcription Image",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3440,
        1280
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const content = $input.item.json.text;\nlet response = '';\n\n// Verifica se o conteúdo existe\nif (content) {\n  response = `Transcrição: ${content}`;\n} else {\n  response = 'Erro: json.content ausente para aúdio';\n}\n\nreturn { output: response };"
      },
      "id": "a9bb9317-d70e-4a72-a128-08dc23e57d01",
      "name": "Format Transcription Audio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3440,
        1120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('baseInfo').first().json.evo_api }}/chat/getBase64FromMediaMessage/{{ $('baseInfo').item.json.instance }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": {\"key\": {\"id\": \"{{ $('Webhook').item.json.body.data.key.id }}\"}},\n  \"convertToMp4\": false\n}",
        "options": {}
      },
      "id": "b3f0ee87-f788-415e-aa32-a1b1ebd7f3a2",
      "name": "Get Base64",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4082,
        1220
      ],
      "alwaysOutputData": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "T5OqvislWbgDr9Ek",
          "name": "Evolution Api Key"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {
          "fileName": "transcricao.ogg",
          "mimeType": "audio/ogg"
        }
      },
      "id": "ed724591-ab8e-461b-b6af-b0cbffbfb677",
      "name": "Convert To Audio",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -3760,
        1120
      ]
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {
          "fileName": "imagem.jpeg",
          "mimeType": "image/jpeg"
        }
      },
      "id": "b22beff8-c3bd-4f8e-9d10-995639d4acc3",
      "name": "Convert To Image",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -3760,
        1280
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.session_status }}",
                    "rightValue": "opened",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "aberta"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "efaf1d90-23b6-425a-b994-402e4e925d85",
                    "leftValue": "={{ $json.session_status }}",
                    "rightValue": "paused",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pausada"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "vazio"
        }
      },
      "id": "650ef41f-5f19-47e4-ac28-87fb6e3431ef",
      "name": "check session status",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -3120,
        1926
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "75d6e859-8379-4a34-8daf-b34c6a450a09",
              "name": "output",
              "value": "={{ $json.output.replaceAll('\\n', '\\\\n').replaceAll('**', '*') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "fa7955a6-93de-466e-8b8a-3b6c51654ecb",
      "name": "Fix Text 2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3180,
        1160
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.msgs.last().parseJson().id }}",
                    "rightValue": "={{ $('Structure Message').first().json.id }}",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "do nothing"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "56301c82-a67f-4f3f-91bd-f8cb583d8a9e",
                    "leftValue": "={{ $json.msgs.last().parseJson().timestamp }}",
                    "rightValue": "={{ $now.minus($('baseInfo').first().json.delay_to_wait, 'seconds').toSeconds().round() }}",
                    "operator": {
                      "type": "number",
                      "operation": "lt"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "timeout"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "wait"
        }
      },
      "id": "317ffca8-039f-495b-ba1f-0b399a022b35",
      "name": "check timeout msg",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2434,
        1900
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('baseInfo').first().json.messageType }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "conversation"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "86e7e773-8586-458f-a1fb-2890f2030230",
                    "leftValue": "={{ $('baseInfo').first().json.messageType }}",
                    "rightValue": "extendedTextMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "msg"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "7f108034-a1be-4e90-b42e-e4f8a719e311",
                    "leftValue": "={{ $('baseInfo').first().json.messageType }}",
                    "rightValue": "editedMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "msg edited"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "256e7cf8-be54-4c41-ba80-2d9eb0a07563",
                    "leftValue": "={{ $('baseInfo').first().json.messageType }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "da03e413-3422-419c-af1a-71ff87c307e2",
                    "leftValue": "={{ $('baseInfo').first().json.messageType }}",
                    "rightValue": "imageMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            }
          ]
        },
        "options": {}
      },
      "id": "61e2a6cf-f195-40c5-b3f2-16e17ec37509",
      "name": "Message Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -4062,
        940
      ]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "=data",
        "options": {
          "language": "pt"
        }
      },
      "id": "d6f4770c-4a4d-4e1e-a055-a47799437d30",
      "name": "Analyze Audio",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.3,
      "position": [
        -3200,
        820
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "openAiApi": {
          "id": "dRR3EqW0FEAbSHgt",
          "name": "william"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini-2024-07-18",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI-2024-07-18"
        },
        "text": "Descreva todo o conteúdo da imagem, sem Acentos e sem hífens",
        "inputType": "base64",
        "options": {}
      },
      "id": "63b2215d-5cf2-457a-8c55-d8f98710e606",
      "name": "Analyze Image",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [
        -3040,
        820
      ],
      "alwaysOutputData": true,
      "credentials": {
        "openAiApi": {
          "id": "dRR3EqW0FEAbSHgt",
          "name": "william"
        }
      }
    },
    {
      "parameters": {
        "content": "## Adiciona na Fila\n*Obs.: Agrupa as Mensagens a Conversa e Salva no Banco",
        "height": 290.7734320620505,
        "width": 343.6267959870437,
        "color": 3
      },
      "id": "a939f220-b063-4bad-98fe-ebfb75a79e98",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2780,
        1060
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "f67c8094-022b-4aef-bb16-c7e430158fd9",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "d0674550-882c-43fc-bae5-5b0aef30b9e7",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -4740,
        886
      ],
      "webhookId": "f67c8094-022b-4aef-bb16-c7e430158fd9"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.mediaType }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "bba31f6b-7dc3-4dac-a090-c38d70065d40",
                    "leftValue": "={{ $json.mediaType }}",
                    "rightValue": "imageMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "do nothing"
        }
      },
      "id": "9f89fce2-c2b2-4030-b505-116004694722",
      "name": "Media Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -3942,
        1220
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=session_{{ $('baseInfo').item.json.instance }}_{{ $('baseInfo').item.json.remoteJid.split('@')[0] }}",
        "value": "={{ $now.plus(20, 'seconds') }}",
        "keyType": "string"
      },
      "id": "46b907b6-6f3e-44d8-8bb7-73c3281c6d46",
      "name": "update debounce",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2360,
        1160
      ],
      "credentials": {
        "redis": {
          "id": "ePjUcKkuSrLqo1Tt",
          "name": "vps"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "connection": "keep-alive",
            "host": "n8n.wmst.com.br",
            "x-forwarded-scheme": "https",
            "x-forwarded-proto": "https",
            "x-forwarded-for": "10.0.0.2",
            "x-real-ip": "10.0.0.2",
            "content-length": "1089",
            "content-type": "application/json",
            "user-agent": "axios/1.7.7",
            "accept-encoding": "gzip, compress, deflate, br"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "messages.upsert",
            "instance": "ibox_cli_23",
            "data": {
              "key": {
                "remoteJid": "5512982184879@s.whatsapp.net",
                "fromMe": false,
                "id": "3EB0C425E2ED86F6718A27"
              },
              "pushName": "W.M. Soluções Tecnologicas",
              "message": {
                "messageContextInfo": {
                  "deviceListMetadata": {
                    "senderKeyHash": "XmJzBOLylzgZMw==",
                    "senderTimestamp": "1726978616",
                    "senderAccountType": "E2EE",
                    "receiverAccountType": "E2EE",
                    "recipientKeyHash": "133dAnqlyPxFrg==",
                    "recipientTimestamp": "1726774814"
                  },
                  "deviceListMetadataVersion": 2
                },
                "conversation": "oi"
              },
              "contextInfo": {
                "ephemeralSettingTimestamp": "1719835382",
                "disappearingMode": {
                  "initiator": "CHANGED_IN_CHAT",
                  "trigger": "CHAT_SETTING"
                }
              },
              "messageType": "conversation",
              "messageTimestamp": 1727374345,
              "instanceId": "88d98422-5c77-47d2-8405-c813d554530e",
              "source": "web",
              "chatwootMessageId": 903,
              "chatwootInboxId": 4,
              "chatwootConversationId": 3
            },
            "destination": "https://n8n.wmst.com.br/webhook-test/f67c8094-022b-4aef-bb16-c7e430158fd9",
            "date_time": "2024-09-26T15:12:29.150Z",
            "sender": "5512982471939@s.whatsapp.net",
            "server_url": "https://apiwp.wmst.com.br",
            "apikey": "A87404A4-1FBF-42C2-B2EF-F3AE0A4D8D36"
          },
          "webhookUrl": "https://webhook.n8n.wmst.com.br/webhook-test/f67c8094-022b-4aef-bb16-c7e430158fd9",
          "executionMode": "test"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "saveManualExecutions": true
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-09-27T14:34:01.317Z",
      "updatedAt": "2024-09-27T14:34:01.317Z",
      "id": "ZoTSEGR97fzorfDz",
      "name": "AI"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-09-27T14:39:35.730Z",
  "versionId": "3881b1a2-6502-4ef1-8628-5b8722bf0459"
}