workflows/AI 2 Capture Msg.json
{
  "active": true,
  "connections": {
    "user found": {
      "main": [
        [
          {
            "node": "get session",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "create user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "baseInfo": {
      "main": [
        [
          {
            "node": "from me?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "reset msgs": {
      "main": [
        [
          {
            "node": "msg to queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get user": {
      "main": [
        [
          {
            "node": "user found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create user": {
      "main": [
        [
          {
            "node": "get user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get session": {
      "main": [
        [
          {
            "node": "session found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "session found": {
      "main": [
        [
          {
            "node": "sessionInfo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "create session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create session": {
      "main": [
        [
          {
            "node": "get session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sessionInfo": {
      "main": [
        [
          {
            "node": "check session status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Message": {
      "main": [
        [
          {
            "node": "Fix Text 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Transcription Image": {
      "main": [
        [
          {
            "node": "Fix Text 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "simulate output audio": {
      "main": [
        [
          {
            "node": "Format Transcription Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Transcription Audio": {
      "main": [
        [
          {
            "node": "Fix Text 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "simulate output image": {
      "main": [
        [
          {
            "node": "Format Transcription Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Base64": {
      "main": [
        [
          {
            "node": "Media Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert To Audio": {
      "main": [
        [
          {
            "node": "simulate output audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert To Image": {
      "main": [
        [
          {
            "node": "simulate output image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fix Text 2": {
      "main": [
        [
          {
            "node": "Structure Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structure Message": {
      "main": [
        [
          {
            "node": "reset msgs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Media Type": {
      "main": [
        [
          {
            "node": "Convert To Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert To Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "has chat?": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "init chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "delete chat": {
      "main": [
        [
          {
            "node": "get chat 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chatInfo": {
      "main": [
        [
          {
            "node": "Message Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "chatInfo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "init chat": {
      "main": [
        [
          {
            "node": "get chat 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "msg to queue": {
      "main": [
        [
          {
            "node": "set debounce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get chat 1": {
      "main": [
        [
          {
            "node": "has chat?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get chat 2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "from me?": {
      "main": [
        [
          {
            "node": "set block AI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "get block AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get block AI": {
      "main": [
        [
          {
            "node": "AI blocked?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI blocked?": {
      "main": [
        [],
        [
          {
            "node": "delete chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set debounce": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message Type": {
      "main": [
        [
          {
            "node": "Format Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Base64",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "baseInfo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-09-26T18:07:32.826Z",
  "id": "F2nw1xU7dOvgvtCa",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "AI 2 Capture Msg",
  "nodes": [
    {
      "parameters": {
        "tableId": "contacts",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "whatsapp",
              "fieldValue": "={{ $('baseInfo').first().json.userNumber }}"
            },
            {
              "fieldId": "nome",
              "fieldValue": "={{ $('baseInfo').first().json.userName }}"
            }
          ]
        }
      },
      "id": "63e21163-0bc6-49dc-9f01-898d22b5c335",
      "name": "create user",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -4060,
        2140
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "WWYYqpMcDDFZTW3g",
          "name": "william"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "contacts",
        "filters": {
          "conditions": [
            {
              "keyName": "whatsapp",
              "keyValue": "={{ $('baseInfo').first().json.userNumber }}"
            }
          ]
        }
      },
      "id": "a1296210-b214-472a-be5c-490c526fa8e5",
      "name": "get user",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -4080,
        1940
      ],
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "WWYYqpMcDDFZTW3g",
          "name": "william"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "97535799-6397-461d-831d-1eec2f59e9fe",
              "leftValue": "={{ $('get user').first().json.whatsapp }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "da166cbc-00c7-4e8f-b478-60c976671bcf",
      "name": "user found",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -3940,
        1940
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5f5addd6-12c4-4bbd-bce7-6448e90cb9d0",
              "name": "evo_api",
              "value": "https://apiwp.wmst.com.br",
              "type": "string"
            },
            {
              "id": "d8fa0cad-0b2f-4e61-8d05-5d29829d0156",
              "name": "instance",
              "value": "={{ $('Webhook').first().json.body.instance }}",
              "type": "string"
            },
            {
              "id": "e390ea49-44e4-4aa2-8f1f-9044fd4b27f8",
              "name": "remoteJid",
              "value": "={{ $('Webhook').first().json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "375453f5-c979-48d0-9a77-f2e837c80da5",
              "name": "pushName",
              "value": "={{ $('Webhook').first().json.body.data.pushName }}",
              "type": "string"
            },
            {
              "id": "c1179eef-b150-4d05-89c1-3b85660ec6bd",
              "name": "fromMe",
              "value": "={{ $('Webhook').first().json.body.data.key.fromMe }}",
              "type": "boolean"
            },
            {
              "id": "2ca406cb-0c5a-4e69-a005-ba35e81128da",
              "name": "messageType",
              "value": "={{ $('Webhook').first().json.body.data.messageType }}",
              "type": "string"
            },
            {
              "id": "f9189c75-e206-4c9d-a538-fadff9121f07",
              "name": "unique_id",
              "value": "={{ $('Webhook').first().json.body.instance }}_{{ $('Webhook').first().json.body.data.key.remoteJid.split('@')[0] }}",
              "type": "string"
            },
            {
              "id": "f305da1c-b096-4af0-ab8b-1af6798dcac8",
              "name": "debounce_time",
              "value": 5,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "ac5b9735-e518-4d2d-9639-0075ebad962c",
      "name": "baseInfo",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5740,
        920
      ],
      "alwaysOutputData": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=msgs_{{ $('chatInfo').first().json.unique_id }}"
      },
      "id": "4cad3558-a429-419b-849b-aa5950b43c86",
      "name": "reset msgs",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2540,
        1160
      ],
      "alwaysOutputData": true,
      "credentials": {
        "redis": {
          "id": "ePjUcKkuSrLqo1Tt",
          "name": "vps"
        }
      }
    },
    {
      "parameters": {
        "content": "## Gerenciamento de Usuário\n*Tenta recuperar uma Conta, se não existir cria uma*",
        "height": 520.6796357098343,
        "width": 407.67094826370743,
        "color": 6
      },
      "id": "e1934caa-f655-4373-9ea1-d447fafc4739",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4160,
        1820
      ]
    },
    {
      "parameters": {
        "content": "## Captura Mensagem\n### Nota: Se for áudios/imagens transcreve para formato de texto\n*Obs.: No final monta estrutura JSON que será usada no restante do fluxo*",
        "height": 699.3376778124559,
        "width": 1258.8860294274123,
        "color": 5
      },
      "id": "8ca16ba6-5cca-46f4-b6d8-d67420394032",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3940,
        780
      ]
    },
    {
      "parameters": {
        "content": "## Gerenciamento de Sessão\n*Tenta recuperar Sessão, se não existir cria uma*\n*Obs.: Se já existir verifica se ela não esta `pausada`*",
        "height": 528.112839562227,
        "width": 750.3768203968939
      },
      "id": "73e6a4dc-48e3-4597-a4ab-82c3ed2d8352",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3700,
        1820
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "sessions",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "instance_name",
              "condition": "eq",
              "keyValue": "={{ $('baseInfo').first().json.instance }}"
            },
            {
              "keyName": "whatsapp",
              "condition": "eq",
              "keyValue": "={{ $('baseInfo').first().json.userNumber }}"
            },
            {
              "keyName": "session_status",
              "condition": "neq",
              "keyValue": "closed"
            }
          ]
        }
      },
      "id": "0f3cc0a9-33b0-4187-9120-f7fe9de49e11",
      "name": "get session",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -3620,
        1926
      ],
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "WWYYqpMcDDFZTW3g",
          "name": "william"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "97535799-6397-461d-831d-1eec2f59e9fe",
              "leftValue": "={{ $('get session').item.json.whatsapp }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "664da234-0e25-42d5-bf74-3b8e5fb61211",
      "name": "session found",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -3480,
        1926
      ],
      "executeOnce": true,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "tableId": "sessions",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "instance_name",
              "fieldValue": "={{ $('baseInfo').first().json.instance }}"
            },
            {
              "fieldId": "whatsapp",
              "fieldValue": "={{ $('baseInfo').first().json.userNumber }}"
            },
            {
              "fieldId": "session_status",
              "fieldValue": "opened"
            }
          ]
        }
      },
      "id": "1e6a9b45-4492-420e-8592-f545080b8f15",
      "name": "create session",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -3600,
        2140
      ],
      "alwaysOutputData": false,
      "credentials": {
        "supabaseApi": {
          "id": "WWYYqpMcDDFZTW3g",
          "name": "william"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const data = $('Webhook').first().json.body.data;\nlet response = '';\n\nconst conversation = data.message.conversation;\nconst quotedMessage = data.contextInfo?.quotedMessage?.extendedTextMessage?.text;\nconst editedMessage = data.message.editedMessage?.message?.protocolMessage?.editedMessage?.extendedTextMessage?.text;\n\nif (quotedMessage) {\n  response = `Menção: ${quotedMessage}, Mensagem: ${conversation}`;\n} else if (editedMessage) {\n  response = `${editedMessage}*`;\n} else {\n  response = conversation;\n}\n\nreturn { output: response };"
      },
      "id": "fbb40570-9ab3-4078-b01a-ad5734bffb89",
      "name": "Format Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3222,
        900
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"session_status\": \"{{ $json.session_status }}\",\n  \"session_id\": \"{{ $json.session_id }}\"\n}\n",
        "includeOtherFields": true,
        "include": "selected",
        "includeFields": "id,created_at",
        "options": {}
      },
      "id": "9e613e7a-02d4-4aa7-9542-ab3a4707aa11",
      "name": "sessionInfo",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3280,
        1920
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const data = $('Webhook').first().json.body.data;\n\nreturn {\n  id: data.key.id,\n  origin: data.messageType,\n  output: $json.output,\n  timestamp: data.messageTimestamp,\n  datetime: DateTime.fromSeconds(data.messageTimestamp).toFormat('yyyy-MM-dd H:m:s')\n};"
      },
      "id": "932c7e8c-5165-4096-8bfd-77d923ae2abc",
      "name": "Structure Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2820,
        1160
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "75d6e859-8379-4a34-8daf-b34c6a450a09",
              "name": "content",
              "value": "=O conteudo da imagem apresenta um cardapio do dia. Ele esta dividido em tres secoes principais.\\n\\nNa parte superior, tem o titulo \\\"CARDAPIO do dia\\\".\\n\\nNa secao \\\"OPCOES\\\", sao listados os pratos oferecidos:\\n\\n1. Parmegiana de frango (acompanhado de arroz, feijao e fritas)\\n2. Linguiça toscana assada (acompanha arroz, feijao, salada de alface e tomate, mais 2 acompanhamentos de sua preferencia)\\n3. File de frango grelhado (tambem com arroz, feijao, salada de alface e tomate, mais 2 acompanhamentos de sua preferencia)\\n4. Escondidinho de carne moida (similar aos anteriores, com arroz, feijao, salada de alface e tomate, mais 2 acompanhamentos de sua preferencia)\\n\\nNa secao \\\"ACOMPANHAMENTOS\\\", sao listados:\\n\\n- Fritas\\n- Farofa\\n- Torresmo\\n- Repolho refogado\\n- Berinjela a pizzaiolo\\n\\nNa secao \\\"TAMANHOS\\\", estao os tamanhos e precos:\\n\\n- Pequena (500ml) - 16,00\\n- Media (750ml) - 18,00\\n- Grande (1000ml) - 21,00\\n\\nNa parte inferior, ha informacoes da loja Legenda: Esse é cardápio da nossa loja em imagem.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d294dfcb-776a-49af-a786-860cc322a2d7",
      "name": "simulate output image",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3380,
        1320
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "75d6e859-8379-4a34-8daf-b34c6a450a09",
              "name": "text",
              "value": "Olá, tudo bem?",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "e7fbf317-b6c8-4251-85e1-3ee37d3ae1a0",
      "name": "simulate output audio",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3380,
        1080
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const data = $('Webhook').first().json.body.data;\nconst caption = data.message?.imageMessage?.caption;\nconst content = $input.item.json.content;\nlet response = '';\n\n// Verifica se o conteúdo existe\nif (content) {\n  response = caption\n    ? `${content} Legenda: ${caption}`\n    : `Transcrição: ${content}`;\n} else {\n  response = 'Erro: json.content ausente para imagem com legenda';\n}\n\nreturn { output: response };"
      },
      "id": "aed4e2f7-5e27-4ff2-a2ff-5563719ea670",
      "name": "Format Transcription Image",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3220,
        1280
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const content = $input.item.json.text;\nlet response = '';\n\n// Verifica se o conteúdo existe\nif (content) {\n  response = `Transcrição: ${content}`;\n} else {\n  response = 'Erro: json.content ausente para aúdio';\n}\n\nreturn { output: response };"
      },
      "id": "a9bb9317-d70e-4a72-a128-08dc23e57d01",
      "name": "Format Transcription Audio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3220,
        1120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('baseInfo').first().json.evo_api }}/chat/getBase64FromMediaMessage/{{ $('baseInfo').item.json.instance }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": {\"key\": {\"id\": \"{{ $('Webhook').item.json.body.data.key.id }}\"}},\n  \"convertToMp4\": false\n}",
        "options": {}
      },
      "id": "b3f0ee87-f788-415e-aa32-a1b1ebd7f3a2",
      "name": "Get Base64",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3862,
        1220
      ],
      "alwaysOutputData": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "T5OqvislWbgDr9Ek",
          "name": "Evolution Api Key"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {
          "fileName": "transcricao.ogg",
          "mimeType": "audio/ogg"
        }
      },
      "id": "ed724591-ab8e-461b-b6af-b0cbffbfb677",
      "name": "Convert To Audio",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -3540,
        1120
      ]
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {
          "fileName": "imagem.jpeg",
          "mimeType": "image/jpeg"
        }
      },
      "id": "b22beff8-c3bd-4f8e-9d10-995639d4acc3",
      "name": "Convert To Image",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -3540,
        1280
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.session_status }}",
                    "rightValue": "opened",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "aberta"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "efaf1d90-23b6-425a-b994-402e4e925d85",
                    "leftValue": "={{ $json.session_status }}",
                    "rightValue": "paused",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pausada"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "vazio"
        }
      },
      "id": "650ef41f-5f19-47e4-ac28-87fb6e3431ef",
      "name": "check session status",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -3120,
        1926
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "75d6e859-8379-4a34-8daf-b34c6a450a09",
              "name": "output",
              "value": "={{ $json.output.replaceAll('\\n', '\\\\n').replaceAll('**', '*') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "fa7955a6-93de-466e-8b8a-3b6c51654ecb",
      "name": "Fix Text 2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2960,
        1160
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "=data",
        "options": {
          "language": "pt"
        }
      },
      "id": "d6f4770c-4a4d-4e1e-a055-a47799437d30",
      "name": "Analyze Audio",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.3,
      "position": [
        -2980,
        820
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "openAiApi": {
          "id": "dRR3EqW0FEAbSHgt",
          "name": "william"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini-2024-07-18",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI-2024-07-18"
        },
        "text": "Descreva todo o conteúdo da imagem, sem Acentos e sem hífens",
        "inputType": "base64",
        "options": {}
      },
      "id": "63b2215d-5cf2-457a-8c55-d8f98710e606",
      "name": "Analyze Image",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [
        -2820,
        820
      ],
      "alwaysOutputData": true,
      "credentials": {
        "openAiApi": {
          "id": "dRR3EqW0FEAbSHgt",
          "name": "william"
        }
      }
    },
    {
      "parameters": {
        "content": "## Adiciona Mensagem na Fila\n*Adiciona mensagem no final da fila para ser processada após o Debounce Time expirar*",
        "height": 290.7734320620505,
        "width": 762.8484549274937,
        "color": 3
      },
      "id": "a939f220-b063-4bad-98fe-ebfb75a79e98",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2580,
        1060
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.mediaType }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "bba31f6b-7dc3-4dac-a090-c38d70065d40",
                    "leftValue": "={{ $json.mediaType }}",
                    "rightValue": "imageMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "do nothing"
        }
      },
      "id": "9f89fce2-c2b2-4030-b505-116004694722",
      "name": "Media Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -3722,
        1220
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0a106bfb-7d1a-4eaa-9d4e-2d933ed51839",
              "leftValue": "={{ $('get chat 1').first().json.chat }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4569783f-176b-44db-9f73-a2c15f9beafc",
      "name": "has chat?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4511,
        940
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=chat_{{ $('baseInfo').first().json.unique_id }}"
      },
      "id": "7004266e-4e92-4327-9c0d-9dba5051647b",
      "name": "delete chat",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -4831,
        940
      ],
      "alwaysOutputData": true,
      "credentials": {
        "redis": {
          "id": "ePjUcKkuSrLqo1Tt",
          "name": "vps"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.chat.parseJson().removeField('fromMe').removeField('debounce_time') }}",
        "options": {}
      },
      "id": "c3e25da5-707b-4041-ac9a-9aabfdfabb1b",
      "name": "chatInfo",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4140,
        940
      ]
    },
    {
      "parameters": {},
      "id": "1b4100a8-78f3-43ba-a2b2-0b4f2a1111fe",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -4291,
        940
      ]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=chat_{{ $('baseInfo').first().json.unique_id }}",
        "value": "={{ $('baseInfo').first().json.removeField('messageType').toJsonString() }}"
      },
      "id": "1815bc53-4973-46e7-be7b-35e85cb2f8bb",
      "name": "init chat",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -4531,
        1140
      ],
      "credentials": {
        "redis": {
          "id": "ePjUcKkuSrLqo1Tt",
          "name": "vps"
        }
      }
    },
    {
      "parameters": {
        "operation": "push",
        "list": "=msgs_{{ $('chatInfo').first().json.unique_id }}",
        "messageData": "={{ $('Structure Message').first().json.toJsonString() }}",
        "tail": true
      },
      "id": "c717c175-f5cb-4dae-86a7-1c346b087db9",
      "name": "msg to queue",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2380,
        1160
      ],
      "alwaysOutputData": false,
      "credentials": {
        "redis": {
          "id": "ePjUcKkuSrLqo1Tt",
          "name": "vps"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "chat",
        "key": "=chat_{{ $('baseInfo').first().json.unique_id }}",
        "keyType": "string",
        "options": {}
      },
      "id": "75a596d4-8fcd-4c0f-800d-e0515f2a5d4d",
      "name": "get chat 1",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -4671,
        940
      ],
      "credentials": {
        "redis": {
          "id": "ePjUcKkuSrLqo1Tt",
          "name": "vps"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "chat",
        "key": "=chat_{{ $('baseInfo').first().json.unique_id }}",
        "keyType": "string",
        "options": {}
      },
      "id": "89c19440-a319-4ff1-87b8-87d03bb227ed",
      "name": "get chat 2",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -4391,
        1140
      ],
      "credentials": {
        "redis": {
          "id": "ePjUcKkuSrLqo1Tt",
          "name": "vps"
        }
      }
    },
    {
      "parameters": {},
      "id": "e79d8d70-ee8b-4f06-956c-1853a432a948",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -2020,
        1160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "431dcbe2-fb2e-4864-803d-d968ddcb255f",
              "leftValue": "={{ $json.fromMe }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2b74184b-fba6-4131-9af8-346015ad8d4b",
      "name": "from me?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -5540,
        920
      ]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=block_{{ $json.unique_id }}",
        "value": "1",
        "expire": true,
        "ttl": 30
      },
      "id": "06f426b1-9f08-430a-ad1b-b0ae48cb36b1",
      "name": "set block AI",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -5320,
        780
      ],
      "alwaysOutputData": true,
      "credentials": {
        "redis": {
          "id": "ePjUcKkuSrLqo1Tt",
          "name": "vps"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "block",
        "key": "=block_{{ $json.unique_id }}",
        "keyType": "string",
        "options": {}
      },
      "id": "61411fc0-a7e8-401d-aa8a-513446b1a4f6",
      "name": "get block AI",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -5320,
        940
      ],
      "credentials": {
        "redis": {
          "id": "ePjUcKkuSrLqo1Tt",
          "name": "vps"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "af15b823-b848-4adf-be57-5ce022c321a8",
              "leftValue": "={{ $json.block }}",
              "rightValue": "1",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "473f67c4-92c4-4652-89fb-ce431386d7dd",
      "name": "AI blocked?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -5120,
        940
      ]
    },
    {
      "parameters": {
        "content": "## Gerencia o Bloqueio da AI\n*Se enviado pelo dono do whatsapp, ele bloqueia por N segundos*",
        "height": 407.0742534707905,
        "width": 672.5700006919383
      },
      "id": "e9574eeb-2ab6-4a0f-b4f9-cc82c6bb59ef",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -5582.98100208216,
        688.5965729167327
      ]
    },
    {
      "parameters": {
        "content": "## Gerencia o Chat/Sessão\n*Verifica se tem sessão, se não tiver cria com os dados do usuário*",
        "height": 440.5243062483743,
        "width": 856.5452909686502
      },
      "id": "b6603952-fb9f-41bb-ba88-4c0882d12bce",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4860,
        860
      ]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=debounce_{{ $('chatInfo').first().json.unique_id }}",
        "value": "={{ $now.plus( $('baseInfo').first().debounce_time , 'seconds') }}",
        "keyType": "string"
      },
      "id": "46b907b6-6f3e-44d8-8bb7-73c3281c6d46",
      "name": "set debounce",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2180,
        1160
      ],
      "credentials": {
        "redis": {
          "id": "ePjUcKkuSrLqo1Tt",
          "name": "vps"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('baseInfo').first().json.messageType }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "conversation"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "86e7e773-8586-458f-a1fb-2890f2030230",
                    "leftValue": "={{ $('baseInfo').first().json.messageType }}",
                    "rightValue": "extendedTextMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "msg"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "7f108034-a1be-4e90-b42e-e4f8a719e311",
                    "leftValue": "={{ $('baseInfo').first().json.messageType }}",
                    "rightValue": "editedMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "msg edited"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "256e7cf8-be54-4c41-ba80-2d9eb0a07563",
                    "leftValue": "={{ $('baseInfo').first().json.messageType }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "da03e413-3422-419c-af1a-71ff87c307e2",
                    "leftValue": "={{ $('baseInfo').first().json.messageType }}",
                    "rightValue": "imageMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            }
          ]
        },
        "options": {}
      },
      "id": "61e2a6cf-f195-40c5-b3f2-16e17ec37509",
      "name": "Message Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -3842,
        940
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "f67c8094-022b-4aef-bb16-c7e430158fd9",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "d0674550-882c-43fc-bae5-5b0aef30b9e7",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -5940,
        920
      ],
      "webhookId": "f67c8094-022b-4aef-bb16-c7e430158fd9"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "saveManualExecutions": true
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-09-27T14:34:01.317Z",
      "updatedAt": "2024-09-27T14:34:01.317Z",
      "id": "ZoTSEGR97fzorfDz",
      "name": "AI"
    },
    {
      "createdAt": "2024-09-27T17:42:17.034Z",
      "updatedAt": "2024-09-27T17:42:17.034Z",
      "id": "TsfCA8eZuTObjOfy",
      "name": "Backup"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-09-28T03:35:18.286Z",
  "versionId": "2157922c-cb49-4477-ae77-d98f202121ec"
}