workflows/AI 3 Debounce Msgs.json
{
  "active": false,
  "connections": {
    "get msgs": {
      "main": [
        [
          {
            "node": "has msgs?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "delete msgs": {
      "main": [
        [
          {
            "node": "delete debounce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "delete msgs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get debounce": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "has msgs?": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "delete debounce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "get msgs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "get debounce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-09-26T15:44:44.997Z",
  "id": "KCzwyXp5E0KjdlRc",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "AI 3 Debounce Msgs",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 5
            }
          ]
        }
      },
      "id": "1f6c23c2-fac0-4569-af9a-bbfe1989942b",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        360,
        900
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "msgs",
        "key": "=msgs_ibox_cli_23_5512982184879",
        "options": {}
      },
      "id": "1363a69f-d724-462d-b4a8-3b3cfa20b940",
      "name": "get msgs",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1020,
        900
      ],
      "alwaysOutputData": true,
      "credentials": {
        "redis": {
          "id": "ePjUcKkuSrLqo1Tt",
          "name": "vps"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "msgs_ibox_cli_23_5512982184879"
      },
      "id": "348af206-a895-45d0-823d-374c6d161e62",
      "name": "delete msgs",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1880,
        500
      ],
      "credentials": {
        "redis": {
          "id": "ePjUcKkuSrLqo1Tt",
          "name": "vps"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "437962f6-4569-411c-b03b-dcfb88bf0211",
      "name": "Loop Over Items1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1660,
        720
      ],
      "disabled": true
    },
    {
      "parameters": {
        "fieldToSplitOut": "msgs",
        "options": {}
      },
      "id": "f5891f1e-86be-496a-9e69-2f74b886ef62",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1460,
        720
      ],
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c5b2c9c4-9520-4dc1-9fcf-7cff5de72058",
              "name": "msgs",
              "value": "={{ $json.msgs }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "e19a8c43-4824-4779-8698-9898c5f76d1c",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1880,
        740
      ],
      "disabled": true
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "session_ibox_cli_23_5512982184879"
      },
      "id": "b1bdb8e5-ba9f-47a7-af19-145e9fa9292b",
      "name": "delete debounce",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1220,
        720
      ],
      "credentials": {
        "redis": {
          "id": "ePjUcKkuSrLqo1Tt",
          "name": "vps"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "debounce",
        "key": "session_ibox_cli_23_5512982184879",
        "keyType": "string",
        "options": {}
      },
      "id": "79f79b28-ff13-443d-a237-b60ffcd54034",
      "name": "get debounce",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        560,
        900
      ],
      "credentials": {
        "redis": {
          "id": "ePjUcKkuSrLqo1Tt",
          "name": "vps"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "698fdd1c-49fd-4e0a-b418-c21417923e8a",
              "leftValue": "={{ $json.isNotEmpty() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "19f0d7dd-38a0-48fa-abe7-15c777c39f46",
      "name": "has msgs?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1200,
        900
      ]
    },
    {
      "parameters": {},
      "id": "1c408b4f-5f41-4131-91e3-892ae97a9542",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        360,
        1080
      ],
      "disabled": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.debounce }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "not started"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5aa6ed30-d48a-499c-82a9-026844311d1e",
                    "leftValue": "={{ $now.toSeconds().round() }}",
                    "rightValue": "={{ DateTime.fromISO($json.debounce).toSeconds().round() }}",
                    "operator": {
                      "type": "number",
                      "operation": "gt"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "continue"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "in debounce"
        }
      },
      "id": "1b851a7f-67d6-46fd-a6ea-7e9f38fb5304",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        740,
        900
      ]
    },
    {
      "parameters": {
        "errorMessage": "Do Nothing"
      },
      "id": "757e3972-14b8-450d-aca1-d738141c96c9",
      "name": "Stop and Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        900,
        760
      ]
    },
    {
      "parameters": {
        "errorMessage": "In Debounce"
      },
      "id": "c785bf11-93b4-4db9-b2d3-fe71528330cd",
      "name": "Stop and Error1",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        900,
        1040
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2024-09-27T14:34:01.317Z",
      "updatedAt": "2024-09-27T14:34:01.317Z",
      "id": "ZoTSEGR97fzorfDz",
      "name": "AI"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-09-27T14:39:32.907Z",
  "versionId": "037fe2d2-ce68-4d55-a8c7-ae0234beb971"
}