workflows/AI 3 Debounce Msgs.json
{
  "active": false,
  "connections": {
    "get msgs": {
      "main": [
        [
          {
            "node": "has msgs?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "has msgs?": {
      "main": [
        [
          {
            "node": "delete msgs 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "delete debounce time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "get schedule status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "messages": {
      "main": [
        [
          {
            "node": "merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "chatInfo": {
      "main": [
        [
          {
            "node": "merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "get debounce time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "get chats 2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "chatInfo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get chats": {
      "main": [
        [
          {
            "node": "has chats?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items 2": {
      "main": [
        [
          {
            "node": "unlock schedule 2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "chatInfo 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chatInfo 2": {
      "main": [
        [
          {
            "node": "get msgs 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get msgs 2": {
      "main": [
        [
          {
            "node": "has msgs? 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "has msgs? 2": {
      "main": [
        [
          {
            "node": "Loop Over Items 2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "delete chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "has chats?": {
      "main": [
        [
          {
            "node": "prepare chats",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "wk debounce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort by Timestamp": {
      "main": [
        [
          {
            "node": "messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "delete chat": {
      "main": [
        [
          {
            "node": "Loop Over Items 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "reset chats": {
      "main": [
        [
          {
            "node": "Loop Over Items ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "get chats  2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Chats": {
      "main": [
        [
          {
            "node": "lock schedule",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get schedule status": {
      "main": [
        [
          {
            "node": "schedule locked?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "schedule locked?": {
      "main": [
        [
          {
            "node": "Reading Chat",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "get chats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lock schedule": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "unlock schedule 1": {
      "main": [
        [
          {
            "node": "End Debounce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get chats 2": {
      "main": [
        [
          {
            "node": "Loop Over Items 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "unlock wk debounce": {
      "main": [
        [
          {
            "node": "unlock schedule 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prepare chats": {
      "main": [
        [
          {
            "node": "Split Out Chats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "wk debounce": {
      "main": [
        [
          {
            "node": "unlock wk debounce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "wk process msg": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get debounce time": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "get msgs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "delete debounce time": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "merge": {
      "main": [
        [
          {
            "node": "wk process msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "delete msgs 1": {
      "main": [
        [
          {
            "node": "Sort by Timestamp",
            "type": "main",
            "index": 0
          },
          {
            "node": "delete debounce time 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get chats  2": {
      "main": [
        [
          {
            "node": "has chats? 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "has chats? 2": {
      "main": [
        [
          {
            "node": "prepare chats 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prepare chats 2": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items ": {
      "main": [
        [],
        [
          {
            "node": "reset chats",
            "type": "main",
            "index": 0
          },
          {
            "node": "delete msgs 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-09-26T15:44:44.997Z",
  "id": "KCzwyXp5E0KjdlRc",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "AI 3 Debounce Msgs",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 5
            }
          ]
        }
      },
      "id": "0cc927bd-a6a7-4a0a-8c36-9993f3be9e39",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -3620,
        2120
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "msgs",
        "key": "=msgs_{{ $('chatInfo').first().json.unique_id }}",
        "keyType": "list",
        "options": {}
      },
      "id": "5e81b727-d6f9-4997-800a-a8d3c6b826f9",
      "name": "get msgs",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1500,
        2200
      ],
      "alwaysOutputData": true,
      "credentials": {
        "redis": {
          "id": "ePjUcKkuSrLqo1Tt",
          "name": "vps"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "698fdd1c-49fd-4e0a-b418-c21417923e8a",
              "leftValue": "={{ $json.msgs }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6fa006dd-bc7d-44a7-9742-d966b47ca2da",
      "name": "has msgs?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1340,
        2200
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8666de43-4b2b-4e75-8506-9b106f1a626c",
              "name": "conversation",
              "value": "={{ $json.msgs.map(item => JSON.parse(item).output).join('\\n') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c904cae6-b2e3-423b-a335-7d0e48875bc8",
      "name": "messages",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -800,
        2060
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.wmst.com.br/webhook-test/425a712d-f598-4e72-a99e-65efb704c401",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.chat }}",
        "options": {}
      },
      "id": "7b21feba-8270-48ac-98f8-e46be44e45ba",
      "name": "WK Process Msg",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -480,
        1540
      ],
      "disabled": true
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.chat }}",
        "options": {}
      },
      "id": "87d1e114-5fbf-46f4-b050-efe27e9c1ba9",
      "name": "chatInfo",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2120,
        2140
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "002768f9-25f1-4add-ad7c-86378ac4f879",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -2280,
        2120
      ]
    },
    {
      "parameters": {
        "operation": "keys",
        "keyPattern": "chat_*"
      },
      "id": "68cf10e5-a68d-4aea-afdf-d5298571872e",
      "name": "get chats",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -3120,
        2140
      ],
      "credentials": {
        "redis": {
          "id": "ePjUcKkuSrLqo1Tt",
          "name": "vps"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "2d623d73-b4af-4b78-a65a-cb347dcef893",
      "name": "Loop Over Items 2",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -2060,
        1840
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.chat }}",
        "options": {}
      },
      "id": "5817160c-8e2f-45b7-85a5-ba32c8bf45c8",
      "name": "chatInfo 2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1880,
        1860
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "msgs",
        "key": "=msgs_{{ $('chatInfo 2').item.json.unique_id }}",
        "keyType": "list",
        "options": {}
      },
      "id": "f03baa75-9c50-4d68-a6b0-0b055134a4f2",
      "name": "get msgs 2",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1720,
        1860
      ],
      "alwaysOutputData": true,
      "credentials": {
        "redis": {
          "id": "ePjUcKkuSrLqo1Tt",
          "name": "vps"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "698fdd1c-49fd-4e0a-b418-c21417923e8a",
              "leftValue": "={{ $json.msgs }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4172eb89-6404-4fc2-84e5-d596efac6a87",
      "name": "has msgs? 2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1560,
        1860
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=chat_{{ $('chatInfo 2').item.json.unique_id }}"
      },
      "id": "25fe437b-62b0-44ed-ad4a-f5a4a12fce80",
      "name": "delete chat",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1380,
        1880
      ],
      "credentials": {
        "redis": {
          "id": "ePjUcKkuSrLqo1Tt",
          "name": "vps"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "698fdd1c-49fd-4e0a-b418-c21417923e8a",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b212aa45-7353-487d-a32a-238c59a60ea4",
      "name": "has chats?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2960,
        2140
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "function converterParaArrayJson(msgs) {\n    return msgs.map(msg => JSON.parse(msg)); // Convertendo string JSON para objeto\n}\n\nfunction ordenarPorTimestamp(msgs) {\n    return msgs.sort((a, b) => a.timestamp_local - b.timestamp_local); // Ordenando pelo timestamp\n}\n\nfunction converterParaJsonString(msgs) {\n    return msgs.map(msg => JSON.stringify(msg)); // Convertendo objetos de volta para string JSON\n}\n\nfunction processarDados(msgs) {\n    const arrayJson = converterParaArrayJson(msgs);\n    const arrayOrdenado = ordenarPorTimestamp(arrayJson);\n    return converterParaJsonString(arrayOrdenado);\n}\n\n// Supondo que msgs seja um array de strings JSON\nlet msgs = $input.item.json.msgs; // Acesso direto à array de mensagens\n\nreturn { msgs: processarDados(msgs)};"
      },
      "id": "eed830ef-c3a0-4181-8fd2-961dcc46b9c5",
      "name": "Sort by Timestamp",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -980,
        2060
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=chat_{{ $json.unique_id }}"
      },
      "id": "f7843d97-915c-42bb-a7c2-aa9666493859",
      "name": "reset chats",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2507,
        3019
      ],
      "credentials": {
        "redis": {
          "id": "ePjUcKkuSrLqo1Tt",
          "name": "vps"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "chats",
        "options": {}
      },
      "id": "5db990b7-3e1f-435f-9e73-991ccc56795f",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -2927,
        2839
      ]
    },
    {
      "parameters": {},
      "id": "8669e01f-886b-4fb8-b154-e11be9286708",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -3607,
        2859
      ]
    },
    {
      "parameters": {
        "errorMessage": "end debounce"
      },
      "id": "9833d80a-ef52-402e-b07e-140d1e09fff2",
      "name": "End Debounce",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -2480,
        2380
      ]
    },
    {
      "parameters": {
        "errorMessage": "reading chat"
      },
      "id": "aadae190-5ae4-4031-bb55-0478ea3b2c2f",
      "name": "Reading Chat",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -3120,
        1980
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "chat",
        "options": {}
      },
      "id": "f59f3c7e-deef-4d9e-a796-f3955230fe78",
      "name": "Split Out Chats",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -2620,
        2120
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "reading_chats",
        "key": "reading_chats",
        "keyType": "string",
        "options": {}
      },
      "id": "14102ee1-3262-401c-bf3d-0f9e2cd434a9",
      "name": "get schedule status",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -3460,
        2120
      ],
      "credentials": {
        "redis": {
          "id": "ePjUcKkuSrLqo1Tt",
          "name": "vps"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d8b38257-545d-4f4e-bb2f-5678b8d1f42c",
              "leftValue": "={{ $json.reading_chats }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "96bed680-6b6b-4e7c-a4d9-09875df5d700",
      "name": "schedule locked?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3300,
        2120
      ]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "reading_chats",
        "value": "1",
        "keyType": "string"
      },
      "id": "43b6c96d-a997-4082-8f89-e274c767059e",
      "name": "lock schedule",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2460,
        2120
      ],
      "credentials": {
        "redis": {
          "id": "ePjUcKkuSrLqo1Tt",
          "name": "vps"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "reading_chats"
      },
      "id": "e45e2672-c1a7-43c3-8da3-9993224f8e49",
      "name": "unlock schedule 2",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1880,
        1700
      ],
      "credentials": {
        "redis": {
          "id": "ePjUcKkuSrLqo1Tt",
          "name": "vps"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "reading_chats"
      },
      "id": "0ba2dec1-841f-4ff9-a28a-e4f33f1983bb",
      "name": "unlock schedule 1",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2640,
        2360
      ],
      "credentials": {
        "redis": {
          "id": "ePjUcKkuSrLqo1Tt",
          "name": "vps"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $('Split Out Chats').item.json }}",
        "options": {}
      },
      "id": "b11e4fef-af1a-4c40-8f94-012cece51db8",
      "name": "get chats 2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2240,
        1840
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "workflow_debounce"
      },
      "id": "8b4de41d-f5b0-42f6-91fb-63be7f7f1a17",
      "name": "unlock wk debounce",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2800,
        2380
      ],
      "credentials": {
        "redis": {
          "id": "ePjUcKkuSrLqo1Tt",
          "name": "vps"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d7cd1411-d669-4ebb-b10b-f9a8499023e1",
              "name": "chat",
              "value": "={{ $json }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "215c8b36-24c7-4100-a261-035ab5c295a7",
      "name": "prepare chats",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2780,
        2120
      ]
    },
    {
      "parameters": {
        "operation": "deactivate",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "KCzwyXp5E0KjdlRc"
        },
        "requestOptions": {}
      },
      "id": "cd35b1a1-2526-4bee-8311-2a17b9c44318",
      "name": "wk debounce",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -2960,
        2360
      ],
      "credentials": {
        "n8nApi": {
          "id": "kuCc4NOcDaUS3bF4",
          "name": "william"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "BZ9o5Ey8QpAJn1OB",
          "mode": "list",
          "cachedResultName": "AI 4 iBox Stores"
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "id": "f0de6c27-582f-4086-8506-07670c0b92b0",
      "name": "wk process msg",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        -620,
        2260
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "debounce",
        "key": "=debounce_{{ $('chatInfo').first().json.unique_id }}",
        "keyType": "string",
        "options": {}
      },
      "id": "5dd96b21-e79d-4fac-8e74-4d4a4512d9ab",
      "name": "get debounce time",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1900,
        2200
      ],
      "credentials": {
        "redis": {
          "id": "ePjUcKkuSrLqo1Tt",
          "name": "vps"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.debounce }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "not started"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5aa6ed30-d48a-499c-82a9-026844311d1e",
                    "leftValue": "={{ $json.debounce?.toNumber() - $now.toMillis() }}",
                    "rightValue": "={{ 0 }}",
                    "operator": {
                      "type": "number",
                      "operation": "lt"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "continue"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "in debounce"
        }
      },
      "id": "1bb06cd5-03c8-45aa-837b-6850bc12f292",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1700,
        2200
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=debounce_{{ $('chatInfo').first().json.unique_id }}"
      },
      "id": "a98a0b98-e086-4c62-9840-5a3a9438112e",
      "name": "delete debounce time",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1160,
        2240
      ],
      "credentials": {
        "redis": {
          "id": "ePjUcKkuSrLqo1Tt",
          "name": "vps"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=debounce_{{ $('chatInfo').first().json.unique_id }}"
      },
      "id": "dbe8fe83-8546-416b-bdaf-1aaba8eaab17",
      "name": "delete debounce time 2",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -980,
        2220
      ],
      "credentials": {
        "redis": {
          "id": "ePjUcKkuSrLqo1Tt",
          "name": "vps"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "327ee41d-1b4a-42c9-b98a-c42e9ded4793",
      "name": "merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -620,
        1940
      ]
    },
    {
      "parameters": {
        "content": "## Reset All Chats",
        "height": 435.019835192051,
        "width": 1296.4969625137264
      },
      "id": "6895f12a-9e22-4af9-b343-f6557f9f0f75",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3640,
        2780
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "msgs_ibox_cli_23_5512982184879"
      },
      "id": "84240b61-f846-40e5-8537-26b4972d605e",
      "name": "delete msgs 2",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2507,
        2859
      ],
      "credentials": {
        "redis": {
          "id": "ePjUcKkuSrLqo1Tt",
          "name": "vps"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=msgs_{{ $('chatInfo').first().json.unique_id }}"
      },
      "id": "c86d8420-a56a-43f6-8a01-3c5a8710a504",
      "name": "delete msgs 1",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1160,
        2060
      ],
      "credentials": {
        "redis": {
          "id": "ePjUcKkuSrLqo1Tt",
          "name": "vps"
        }
      }
    },
    {
      "parameters": {
        "operation": "keys",
        "keyPattern": "chat_*"
      },
      "id": "c9dc0494-8ed4-4fcf-85d1-958d4df79867",
      "name": "get chats  2",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -3447,
        2859
      ],
      "credentials": {
        "redis": {
          "id": "ePjUcKkuSrLqo1Tt",
          "name": "vps"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "698fdd1c-49fd-4e0a-b418-c21417923e8a",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3718c2d1-2bd8-4363-b592-88ce9a21e894",
      "name": "has chats? 2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3287,
        2859
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0d781073-08e2-4b30-bdeb-fd54bc71b480",
              "name": "chats",
              "value": "={{ $json.values().map(item => JSON.parse(item)) }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "bfa0e27e-8da2-4afb-b77b-525298748c45",
      "name": "prepare chats 2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3087,
        2839
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b1830840-6803-4220-aeab-a7138cb09bb9",
      "name": "Loop Over Items ",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -2747,
        2839
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2024-09-27T14:34:01.317Z",
      "updatedAt": "2024-09-27T14:34:01.317Z",
      "id": "ZoTSEGR97fzorfDz",
      "name": "AI"
    },
    {
      "createdAt": "2024-09-27T17:42:17.034Z",
      "updatedAt": "2024-09-27T17:42:17.034Z",
      "id": "TsfCA8eZuTObjOfy",
      "name": "Backup"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-10-09T05:31:10.081Z",
  "versionId": "91d727b3-d245-4f55-9f27-42eb102603be"
}