workflows/AI Vector DB.json
{
  "active": false,
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Delete Collection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get vector tb": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "baseInfo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "baseInfo": {
      "main": [
        [
          {
            "node": "get vector tb",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Collection": {
      "main": [
        [
          {
            "node": "blocksInfo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "blocksInfo": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Get Store Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Store Info": {
      "main": [
        [
          {
            "node": "has output?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "has output?": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-09-22T04:18:43.812Z",
  "id": "CH8B8jHan7BGlK5w",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "AI Vector DB",
  "nodes": [
    {
      "parameters": {},
      "id": "06b1ce15-d63a-4ad9-ae87-9311cc67d8ee",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        120,
        380
      ]
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "1cf503c9-4a04-4ca3-a412-a28408547ef9",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        1960,
        560
      ],
      "credentials": {
        "openAiApi": {
          "id": "dRR3EqW0FEAbSHgt",
          "name": "william"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "block",
                "value": "={{ $('Loop Over Items').item.json.block }}"
              }
            ]
          }
        }
      },
      "id": "8c0bca97-acae-4886-a042-4f53eaef0bc9",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        2080,
        560
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "3fabbdb0-5754-4ae4-ba59-f0f6714ce73a",
              "leftValue": "={{ $json.instance_name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5a9972b8-b202-4155-a4f4-b1fc00a69f9a",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        640,
        380
      ]
    },
    {
      "parameters": {
        "url": "={{ $('baseInfo').first().json.ibox_api }}/store",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "format",
              "value": "markdown"
            },
            {
              "name": "style",
              "value": "text"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "instance_name",
              "value": "={{ $('baseInfo').first().json.instance_name }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "text",
              "outputPropertyName": "output"
            }
          }
        }
      },
      "id": "089920f9-95a2-4402-ba9b-5d646d035aca",
      "name": "Get Store Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1600,
        620
      ],
      "disabled": true
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "={{ $json.vector_name }}",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "gt",
              "keyValue": "0"
            }
          ]
        }
      },
      "id": "722c8eb7-2c8e-487d-816c-2f7aa9557713",
      "name": "reset tb",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        480,
        580
      ],
      "credentials": {
        "supabaseApi": {
          "id": "WWYYqpMcDDFZTW3g",
          "name": "william"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "empresas",
        "filters": {
          "conditions": [
            {
              "keyName": "instance_name",
              "keyValue": "={{ $json.instance_name }}"
            }
          ]
        }
      },
      "id": "a1b628bc-c253-45a1-8fc8-8a797244e622",
      "name": "get vector tb",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        480,
        380
      ],
      "credentials": {
        "supabaseApi": {
          "id": "WWYYqpMcDDFZTW3g",
          "name": "william"
        }
      }
    },
    {
      "parameters": {
        "content": "# Atualiza os dados da Empresa no Vector DB",
        "height": 536.7915690866513,
        "width": 2359.834811817428,
        "color": 2
      },
      "id": "bec8e467-2483-4c50-8db5-7adde1c3d33e",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        60,
        290.468384074941
      ]
    },
    {
      "parameters": {
        "separator": "|---*---|",
        "chunkSize": 400,
        "chunkOverlap": 100
      },
      "id": "5e0cf4d7-53b1-4af8-9cda-bed33f23702c",
      "name": "Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        2080,
        700
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c20cd8e3-2a73-4758-bfbf-88d49edd563d",
              "name": "ibox_api",
              "value": "https://ibox.delivery/api/whatsapp",
              "type": "string"
            },
            {
              "id": "4735dedc-34eb-43e7-81b5-9fba04146f14",
              "name": "instance_name",
              "value": "ibox_cli_23",
              "type": "string"
            },
            {
              "id": "bd2fee21-3c39-4a7d-874c-97e46c55e63b",
              "name": "qdrant_api",
              "value": "http://qdrant:6333",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "538db4a5-e98c-4bfa-9faf-4bb703615f9b",
      "name": "baseInfo",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        300,
        380
      ]
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "={{ $('baseInfo').first().json.qdrant_api }}/collections/{{ $json.vector_name }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "qdrantApi",
        "options": {}
      },
      "id": "7deedeb8-96ad-476f-8ee8-97aa073eab66",
      "name": "Delete Collection",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        860,
        360
      ],
      "alwaysOutputData": true,
      "credentials": {
        "qdrantApi": {
          "id": "ukGdBAa9ib5xqZKC",
          "name": "william"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c20cd8e3-2a73-4758-bfbf-88d49edd563d",
              "name": "blocks",
              "value": "={{ ['basic_info,status,hours,payment_methods', 'products', 'delivery_fees'] }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "09bb4fe9-ac61-4309-8fc8-3d12f780acc1",
      "name": "blocksInfo",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1020,
        360
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "402f67e2-00b7-4436-b2f9-a41a8c13e611",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1340,
        360
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "blocks",
        "options": {
          "destinationFieldName": "block"
        }
      },
      "id": "609ebfc9-0af6-4bfb-8bb0-f9fe9c6266d7",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1180,
        360
      ]
    },
    {
      "parameters": {
        "url": "={{ $('baseInfo').first().json.ibox_api }}/store",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "instance_name",
              "value": "={{ $('baseInfo').first().json.instance_name }}"
            },
            {
              "name": "format",
              "value": "markdown"
            },
            {
              "name": "block",
              "value": "={{ $json.block }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "text",
              "outputPropertyName": "output"
            }
          }
        }
      },
      "id": "a8ebf661-a1b4-4650-8e2c-99e722018551",
      "name": "Get Store Info",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1600,
        380
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "21baa15a-f57d-49f4-8715-5fcd08e367af",
              "leftValue": "={{ $json.output }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8ecfaa85-e6ce-47f0-b13d-8b150bb4c504",
      "name": "has output?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1760,
        380
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "={{ $('get vector tb').item.json.vector_name }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "0e2a16c7-fdf0-4b6c-a75e-16925805c906",
      "name": "Qdrant Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        2000,
        360
      ],
      "credentials": {
        "qdrantApi": {
          "id": "ukGdBAa9ib5xqZKC",
          "name": "william"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-09-27T17:42:17.034Z",
      "updatedAt": "2024-09-27T17:42:17.034Z",
      "id": "TsfCA8eZuTObjOfy",
      "name": "Backup"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-10-02T13:42:17.617Z",
  "versionId": "1f080b84-d062-478e-901a-c4696ee9635b"
}