workflows/Flow AI Monolithic.json
{
  "active": false,
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Message": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Media": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "user found": {
      "main": [
        [
          {
            "node": "get session",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "create user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "baseInfo": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "fetch msgs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "delete msgs": {
      "main": [
        [
          {
            "node": "Loop Over Msgs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "msgs found": {
      "main": [
        [
          {
            "node": "check timeout msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetch msgs": {
      "main": [
        [
          {
            "node": "msgs found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "push msg new": {
      "main": [
        [
          {
            "node": "fetch msgs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "reset msgs": {
      "main": [
        [
          {
            "node": "push msg new",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Media",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "change status session": {
      "main": [
        [
          {
            "node": "delete msgs 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "session status": {
      "main": [
        [
          {
            "node": "change status session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get user": {
      "main": [
        [
          {
            "node": "user found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create user": {
      "main": [
        [
          {
            "node": "get user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get vector tb": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "save msgs": {
      "main": [
        [
          {
            "node": "Loop Over Msgs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get session": {
      "main": [
        [
          {
            "node": "session found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "session found": {
      "main": [
        [
          {
            "node": "sessionInfo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "create session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create session": {
      "main": [
        [
          {
            "node": "get session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "reset sessions": {
      "main": [
        [
          {
            "node": "reset msgs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sessionInfo": {
      "main": [
        [
          {
            "node": "check session status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Message": {
      "main": [
        [
          {
            "node": "Fix Text 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structure Message": {
      "main": [
        [
          {
            "node": "reset msgs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Msgs": {
      "main": [
        [
          {
            "node": "messages",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "save msgs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Transcription Image": {
      "main": [
        [
          {
            "node": "Fix Text 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "simulate output audio": {
      "main": [
        [
          {
            "node": "Format Transcription Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Transcription Audio": {
      "main": [
        [
          {
            "node": "Fix Text 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "simulate output image": {
      "main": [
        [
          {
            "node": "Format Transcription Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Base64": {
      "main": [
        [
          {
            "node": "Media Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert To Audio": {
      "main": [
        [
          {
            "node": "simulate output audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert To Image": {
      "main": [
        [
          {
            "node": "simulate output image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Media Type": {
      "main": [
        [
          {
            "node": "Convert To Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert To Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Beautify URL": {
      "main": [
        [
          {
            "node": "Fix Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Categorizing Message": {
      "main": [
        [
          {
            "node": "Split Out Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Messages": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check session status": {
      "main": [
        [
          {
            "node": "Message Type",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Message Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message Type": {
      "main": [
        [
          {
            "node": "Format Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Base64",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fix Text": {
      "main": [
        [
          {
            "node": "Categorizing Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fix Text 2": {
      "main": [
        [
          {
            "node": "Structure Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Store Status": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Store Address": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Store Delivery Fee": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "reset msgs1": {
      "main": [
        [
          {
            "node": "reset contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check timeout msg": {
      "main": [
        [],
        [
          {
            "node": "delete msgs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "reset contacts": {
      "main": [
        [
          {
            "node": "session status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "messages": {
      "main": [
        [
          {
            "node": "Webhook iBox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Beautify URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "baseInfo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-09-19T05:17:14.605Z",
  "id": "efKaojFMcjFNoEWP",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Flow AI Monolithic",
  "nodes": [
    {
      "parameters": {
        "model": "gpt-4o-mini-2024-07-18",
        "options": {
          "temperature": 0.4
        }
      },
      "id": "22a61fdb-8aff-4d8e-8e2e-bb141a3dd3c8",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -20,
        1280
      ],
      "credentials": {
        "openAiApi": {
          "id": "dRR3EqW0FEAbSHgt",
          "name": "william"
        }
      }
    },
    {
      "parameters": {
        "name": "store_info",
        "description": "Informações sobre a loja, produtos/serviços, horários de atendimento, localização e etc.",
        "topK": 20
      },
      "id": "cad9d7d5-a498-470c-85aa-dcc551bf6020",
      "name": "Vector Store Tool",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        120,
        1120
      ]
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "0ba695f0-10df-40ce-816f-430ec8e88189",
      "name": "Embeddings OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        80,
        1320
      ],
      "credentials": {
        "openAiApi": {
          "id": "dRR3EqW0FEAbSHgt",
          "name": "william"
        }
      }
    },
    {
      "parameters": {
        "content": "## Gera a Resposta\nObs.: Seleciona a Base de Dados a ser usada de acordo com a Empresa de maneira Dinâmica e a usa para responder a solicitação",
        "height": 676.5132170704966,
        "width": 768.3093052403206
      },
      "id": "4215aff1-ee23-44b4-940b-58eaaaa5a782",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -60,
        780
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=memo_{{ $('sessionInfo').first().json.session_id }}",
        "sessionTTL": 120,
        "contextWindowLength": 10
      },
      "id": "bd3d318a-1588-4bbd-9ea4-4275172180d5",
      "name": "Redis Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.3,
      "position": [
        -40,
        1100
      ],
      "credentials": {
        "redis": {
          "id": "ePjUcKkuSrLqo1Tt",
          "name": "vps"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Webhook').first().json.body.server_url }}/message/sendText/{{ $('Webhook').first().json.body.instance }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $('Webhook').first().json.body.data.key.remoteJid.split('@')[0] }}\",\n  \"text\": \"{{ $json.output.content.replace(/^\\n+/g, '') }}\",\n  \"delay\": 2000,\n  \"linkPreview\": true\n} ",
        "options": {}
      },
      "id": "0b4c675c-f7a3-4044-9081-b52e239629e0",
      "name": "Send Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2080,
        1160
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "T5OqvislWbgDr9Ek",
          "name": "Evolution Api Key"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "5ab6f239-3102-44b4-9d2b-c29f98a84b46",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1720,
        880
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Webhook').first().json.body.server_url }}/message/sendMedia/{{ $('Webhook').first().json.body.instance }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $('Webhook').first().json.body.data.key.remoteJid.split('@')[0] }}\",\n  \"mediatype\": \"{{ $json.output.type }}\",\n  \"mimetype\": \"image/png\",\n  \"caption\": \"{{ $json.output.caption.replace(/^\\n+/g, '') ?? '' }}\",\n  \"media\": \"{{ $json.output.url }}\",\n  \"fileName\": \"{{ $json.output.url.split('/').last().replace($json.output.url.split('.').last(), 'png') }}\",\n  \"delay\": 2000\n} ",
        "options": {}
      },
      "id": "969511ac-012a-42f4-ba57-4a9455d15a6a",
      "name": "Send Media",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2080,
        900
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "T5OqvislWbgDr9Ek",
          "name": "Evolution Api Key"
        }
      }
    },
    {
      "parameters": {
        "content": "# Enviar o Resultado para o Whatsapp",
        "height": 610.094292552082,
        "width": 661.5465394209826,
        "color": 4
      },
      "id": "a066d32d-b053-4130-a72c-3420aebd71cf",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1631,
        780
      ]
    },
    {
      "parameters": {
        "tableId": "contacts",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "whatsapp",
              "fieldValue": "={{ $('baseInfo').first().json.userNumber }}"
            },
            {
              "fieldId": "nome",
              "fieldValue": "={{ $('baseInfo').first().json.userName }}"
            }
          ]
        }
      },
      "id": "328122dc-6b78-4bda-9758-8ecd4db7006d",
      "name": "create user",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -4040,
        1100
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "WWYYqpMcDDFZTW3g",
          "name": "william"
        }
      }
    },
    {
      "parameters": {
        "content": "# Faz o tratamento da Resposta",
        "height": 287.8890179152787,
        "width": 822.1632302007446,
        "color": 5
      },
      "id": "28c5125d-a85d-4b3d-91c8-a0b0a4ef0818",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        751,
        780
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "contacts",
        "filters": {
          "conditions": [
            {
              "keyName": "whatsapp",
              "keyValue": "={{ $('baseInfo').first().json.userNumber }}"
            }
          ]
        }
      },
      "id": "91ca86b7-3920-43f4-ad3b-7d5cb4743727",
      "name": "get user",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -4060,
        900
      ],
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "WWYYqpMcDDFZTW3g",
          "name": "william"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "97535799-6397-461d-831d-1eec2f59e9fe",
              "leftValue": "={{ $('get user').first().json.whatsapp }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c4a6db29-271a-460d-a15d-832a59e6eae2",
      "name": "user found",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -3920,
        900
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5f5addd6-12c4-4bbd-bce7-6448e90cb9d0",
              "name": "evo_api",
              "value": "https://apiwp.wmst.com.br",
              "type": "string"
            },
            {
              "id": "87a65a25-63ac-4248-b2be-e35a2908ee7c",
              "name": "delay_to_wait",
              "value": 1,
              "type": "number"
            },
            {
              "id": "d8fa0cad-0b2f-4e61-8d05-5d29829d0156",
              "name": "instance",
              "value": "={{ $('Webhook').first().json.body.instance }}",
              "type": "string"
            },
            {
              "id": "e390ea49-44e4-4aa2-8f1f-9044fd4b27f8",
              "name": "userNumber",
              "value": "={{ $('Webhook').first().json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "375453f5-c979-48d0-9a77-f2e837c80da5",
              "name": "userName",
              "value": "={{ $('Webhook').first().json.body.data.pushName }}",
              "type": "string"
            },
            {
              "id": "c1179eef-b150-4d05-89c1-3b85660ec6bd",
              "name": "fromMe",
              "value": "={{ $('Webhook').first().json.body.data.key.fromMe }}",
              "type": "boolean"
            },
            {
              "id": "2ca406cb-0c5a-4e69-a005-ba35e81128da",
              "name": "messageType",
              "value": "={{ $('Webhook').first().json.body.data.messageType }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "1ccad106-405c-44d2-b84d-cf52a8769629",
      "name": "baseInfo",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4420,
        886
      ],
      "alwaysOutputData": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "amount": "={{ $('baseInfo').first().json.delay_to_wait }}"
      },
      "id": "efd7612e-0511-42cc-8573-b3700f259b0c",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -929,
        1080
      ],
      "webhookId": "772730e4-9331-4e56-9a2f-3ced2da9e32f",
      "executeOnce": false
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=msgs_{{ $('sessionInfo').first().json.session_id }}"
      },
      "id": "61758bbc-adb2-4d0f-8600-88f01697551d",
      "name": "delete msgs",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -409,
        860
      ],
      "alwaysOutputData": true,
      "credentials": {
        "redis": {
          "id": "ePjUcKkuSrLqo1Tt",
          "name": "vps"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b3b118f3-86c5-4b18-b323-8387c823b815",
              "name": "conversation",
              "value": "={{ $('delete msgs').item.json.msgs.map(item => JSON.parse(item).output).join('\\n') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "223ad8b4-c792-4442-a030-bf35981b2bd2",
      "name": "messages",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -240,
        980
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=msgs_{{ $('sessionInfo').first().json.session_id }}"
      },
      "id": "60c169f6-22ed-46fb-8108-04a08a9c02c6",
      "name": "reset msgs",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1289,
        880
      ],
      "alwaysOutputData": true,
      "credentials": {
        "redis": {
          "id": "ePjUcKkuSrLqo1Tt",
          "name": "vps"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c472bfd4-2897-4c9e-ba6c-217484f6e7de",
              "leftValue": "={{ $json.msgs.isNotEmpty() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d1a11094-aa63-4755-8374-aed513dc8491",
      "name": "msgs found",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -809,
        880
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "=msgs",
        "key": "=msgs_{{ $('sessionInfo').first().json.session_id }}",
        "options": {}
      },
      "id": "fc6f50cf-7757-49af-8c96-a8d8ade7ff0e",
      "name": "fetch msgs",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -969,
        880
      ],
      "alwaysOutputData": false,
      "credentials": {
        "redis": {
          "id": "ePjUcKkuSrLqo1Tt",
          "name": "vps"
        }
      }
    },
    {
      "parameters": {
        "operation": "push",
        "list": "=msgs_{{ $('sessionInfo').first().json.session_id }}",
        "messageData": "={{ $('Structure Message').first().json.toJsonString() }}",
        "tail": true
      },
      "id": "209223e3-c402-451f-a4f2-ed3ea2fc194d",
      "name": "push msg new",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1129,
        880
      ],
      "alwaysOutputData": true,
      "credentials": {
        "redis": {
          "id": "ePjUcKkuSrLqo1Tt",
          "name": "vps"
        }
      }
    },
    {
      "parameters": {
        "content": "## Gerenciamento das Mensagens\n*Obs.: Agrupa as Mensagens a Conversa e Salva no Banco no Final após o Intervalo ter Expirado*",
        "height": 500.88473779233084,
        "width": 1228.4781496716328,
        "color": 3
      },
      "id": "450693a0-2896-4883-ba9f-28ea8313a399",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1320,
        780
      ]
    },
    {
      "parameters": {
        "content": "## Gerenciamento de Usuário\n*Tenta recuperar uma Conta, se não existir cria uma*",
        "height": 520.6796357098343,
        "width": 407.67094826370743,
        "color": 6
      },
      "id": "9243dfa5-e03a-47b4-b12e-00c4922b3e68",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4140,
        780
      ]
    },
    {
      "parameters": {
        "content": "## Captura Mensagem\n### Nota: Se for áudios/imagens transcreve para formato de texto\n*Obs.: No final monta estrutura JSON que será usada no restante do fluxo*",
        "height": 921.7125930928014,
        "width": 1331.8443204672085,
        "color": 5
      },
      "id": "fe2338af-da79-4d81-80a2-5271b402727f",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2698.3873408055188,
        780
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "bd6c6ac4-8ebd-4d14-9935-1fd270106c48",
                    "leftValue": "={{ $json.output.type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Imagem"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "8a8907db-2f29-4fc3-a50d-264a2c5d015e",
                    "leftValue": "={{ $json.output.type }}",
                    "rightValue": "=video",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Video"
            }
          ]
        },
        "options": {}
      },
      "id": "682b1857-1a88-457c-8968-eca768114832",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1860,
        1100
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=msgs_{{ $('session status').first().json.whatsapp.split('@')[0] }}_{{ $('session status').first().json.instance }}"
      },
      "id": "60ba2fff-5d74-4170-b79b-521968afde57",
      "name": "delete msgs 2",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -3140,
        1520
      ],
      "alwaysOutputData": true,
      "credentials": {
        "redis": {
          "id": "ePjUcKkuSrLqo1Tt",
          "name": "vps"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "sessions",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "instance_name",
              "condition": "eq",
              "keyValue": "={{ $json.instance }}"
            },
            {
              "keyName": "whatsapp",
              "condition": "eq",
              "keyValue": "={{ $json.whatsapp }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "session_status",
              "fieldValue": "={{ $json.session_status }}"
            }
          ]
        }
      },
      "id": "5b7f1b70-62e9-4537-a5f3-3ed1eca0ba9f",
      "name": "change status session",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -3320,
        1520
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "WWYYqpMcDDFZTW3g",
          "name": "william"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ab5418a6-4601-4d05-9f87-57f8f2fa7bb1",
              "name": "instance",
              "value": "ibox_cli_23",
              "type": "string"
            },
            {
              "id": "84007de8-160b-4795-84e5-0cc1b5407823",
              "name": "whatsapp",
              "value": "5512982184879@s.whatsapp.net",
              "type": "string"
            },
            {
              "id": "3ab41844-96fa-4fae-9501-2a66021b3c7f",
              "name": "session_status",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "233c564e-1d0c-4b8f-aab5-aa6521c9e315",
      "name": "session status",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3500,
        1520
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "empresas",
        "filters": {
          "conditions": [
            {
              "keyName": "instance_name",
              "keyValue": "={{ $('baseInfo').first().json.instance }}"
            }
          ]
        }
      },
      "id": "74030170-07f1-40b6-9a2c-08b89900ce90",
      "name": "get vector tb",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -20,
        900
      ],
      "credentials": {
        "supabaseApi": {
          "id": "WWYYqpMcDDFZTW3g",
          "name": "william"
        }
      }
    },
    {
      "parameters": {
        "tableId": "messages",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "instance_name",
              "fieldValue": "={{ $('baseInfo').item.json.instance }}"
            },
            {
              "fieldId": "whatsapp",
              "fieldValue": "={{ $('baseInfo').item.json.userNumber }}"
            },
            {
              "fieldId": "message_id",
              "fieldValue": "={{ $json.msgs.first().parseJson().id }}"
            },
            {
              "fieldId": "message",
              "fieldValue": "={{ $json.msgs.first().parseJson().output }}"
            },
            {
              "fieldId": "session_id",
              "fieldValue": "={{ $('session found').item.json.session_id }}"
            },
            {
              "fieldId": "json",
              "fieldValue": "={{ $json.msgs.first().parseJson().toJsonString() }}"
            }
          ]
        }
      },
      "id": "31418e1c-3d5f-460c-9b0f-99880ae4a64e",
      "name": "save msgs",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -500,
        1080
      ],
      "credentials": {
        "supabaseApi": {
          "id": "WWYYqpMcDDFZTW3g",
          "name": "william"
        }
      }
    },
    {
      "parameters": {
        "content": "## Gerenciamento de Sessão\n*Tenta recuperar Sessão, se não existir cria uma*\n*Obs.: Se já existir verifica se ela não esta `pausada`*",
        "height": 528.112839562227,
        "width": 750.3768203968939
      },
      "id": "780723d9-6540-47f2-b378-924ffe4de3f9",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3500,
        780
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "sessions",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "instance_name",
              "condition": "eq",
              "keyValue": "={{ $('baseInfo').first().json.instance }}"
            },
            {
              "keyName": "whatsapp",
              "condition": "eq",
              "keyValue": "={{ $('baseInfo').first().json.userNumber }}"
            },
            {
              "keyName": "session_status",
              "condition": "neq",
              "keyValue": "closed"
            }
          ]
        }
      },
      "id": "3bcfc261-9d43-41c9-8346-65369af7e094",
      "name": "get session",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -3420,
        886
      ],
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "WWYYqpMcDDFZTW3g",
          "name": "william"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "97535799-6397-461d-831d-1eec2f59e9fe",
              "leftValue": "={{ $('get session').item.json.whatsapp }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "28c74e41-966b-45f8-8629-15148ac3d869",
      "name": "session found",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -3280,
        886
      ],
      "executeOnce": true,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "tableId": "sessions",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "instance_name",
              "fieldValue": "={{ $('baseInfo').first().json.instance }}"
            },
            {
              "fieldId": "whatsapp",
              "fieldValue": "={{ $('baseInfo').first().json.userNumber }}"
            },
            {
              "fieldId": "session_status",
              "fieldValue": "opened"
            }
          ]
        }
      },
      "id": "269f3a5d-cc79-4163-8aec-a453cf790fe4",
      "name": "create session",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -3400,
        1100
      ],
      "alwaysOutputData": false,
      "credentials": {
        "supabaseApi": {
          "id": "WWYYqpMcDDFZTW3g",
          "name": "william"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "sessions",
        "filters": {
          "conditions": [
            {
              "keyName": "instance_name",
              "condition": "eq",
              "keyValue": "ibox_cli_23"
            }
          ]
        }
      },
      "id": "0d71e24e-fcfd-4997-b975-c6ebd802f4dd",
      "name": "reset sessions",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -3500,
        1340
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "WWYYqpMcDDFZTW3g",
          "name": "william"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const data = $('Webhook').first().json.body.data;\nlet response = '';\n\nconst conversation = data.message.conversation;\nconst quotedMessage = data.contextInfo?.quotedMessage?.extendedTextMessage?.text;\nconst editedMessage = data.message.editedMessage?.message?.protocolMessage?.editedMessage?.extendedTextMessage?.text;\n\nif (quotedMessage) {\n  response = `Menção: ${quotedMessage}, Mensagem: ${conversation}`;\n} else if (editedMessage) {\n  response = `${editedMessage}*`;\n} else {\n  response = conversation;\n}\n\nreturn { output: response };"
      },
      "id": "edb82730-a873-45d2-ac6d-9d34b3171aa2",
      "name": "Format Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2000,
        900
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "052fca95-88ff-4599-8473-89421ca6fc46",
        "options": {}
      },
      "id": "7bdf5973-bd32-45e5-8f53-b2484fffd648",
      "name": "without caption",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -3940,
        1554
      ],
      "webhookId": "052fca95-88ff-4599-8473-89421ca6fc46"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"session_status\": \"{{ $json.session_status }}\",\n  \"session_id\": \"{{ $json.session_id }}\"\n}\n",
        "includeOtherFields": true,
        "include": "selected",
        "includeFields": "id,created_at",
        "options": {}
      },
      "id": "4d591866-9fa1-4d36-91b4-6840eb37e959",
      "name": "sessionInfo",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3080,
        880
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const data = $('Webhook').first().json.body.data;\n\nreturn {\n  id: data.key.id,\n  origin: data.messageType,\n  output: $json.output,\n  timestamp: data.messageTimestamp,\n  datetime: DateTime.fromSeconds(data.messageTimestamp).toFormat('yyyy-MM-dd H:m:s')\n};"
      },
      "id": "5f8f8aff-f6e5-423a-821d-bcc5ca83ca56",
      "name": "Structure Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1520,
        1040
      ]
    },
    {
      "parameters": {
        "content": "## Informações Base do Fluxo\nObs.: Altere somente:\n`evo_key`, `evo_api`, `delay_to_wait`",
        "height": 262.2564377181297,
        "width": 350.1443817216317,
        "color": 3
      },
      "id": "3bfe95d3-9c4a-4862-be94-387c97425a76",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4540,
        780
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "bca83bcb-a1c0-4d4e-9b62-c5b279cb0e9a",
      "name": "Loop Over Msgs",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -669,
        1080
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "052fca95-88ff-4599-8473-89421ca6fc46",
        "options": {}
      },
      "id": "967a0689-a7d5-4f13-a7bb-809a97f3c1f0",
      "name": "msg edited",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -4140,
        1554
      ],
      "webhookId": "052fca95-88ff-4599-8473-89421ca6fc46"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "75d6e859-8379-4a34-8daf-b34c6a450a09",
              "name": "content",
              "value": "=O conteudo da imagem apresenta um cardapio do dia. Ele esta dividido em tres secoes principais.\\n\\nNa parte superior, tem o titulo \\\"CARDAPIO do dia\\\".\\n\\nNa secao \\\"OPCOES\\\", sao listados os pratos oferecidos:\\n\\n1. Parmegiana de frango (acompanhado de arroz, feijao e fritas)\\n2. Linguiça toscana assada (acompanha arroz, feijao, salada de alface e tomate, mais 2 acompanhamentos de sua preferencia)\\n3. File de frango grelhado (tambem com arroz, feijao, salada de alface e tomate, mais 2 acompanhamentos de sua preferencia)\\n4. Escondidinho de carne moida (similar aos anteriores, com arroz, feijao, salada de alface e tomate, mais 2 acompanhamentos de sua preferencia)\\n\\nNa secao \\\"ACOMPANHAMENTOS\\\", sao listados:\\n\\n- Fritas\\n- Farofa\\n- Torresmo\\n- Repolho refogado\\n- Berinjela a pizzaiolo\\n\\nNa secao \\\"TAMANHOS\\\", estao os tamanhos e precos:\\n\\n- Pequena (500ml) - 16,00\\n- Media (750ml) - 18,00\\n- Grande (1000ml) - 21,00\\n\\nNa parte inferior, ha informacoes da loja Legenda: Esse é cardápio da nossa loja em imagem.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "e3727544-51ae-489a-b2cf-8c95be52f3c7",
      "name": "simulate output image",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2160,
        1340
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "75d6e859-8379-4a34-8daf-b34c6a450a09",
              "name": "text",
              "value": "Olá, tudo bem?",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "2b69e071-c4fa-4a76-b28d-237be51966b6",
      "name": "simulate output audio",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2160,
        1020
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const data = $('Webhook').first().json.body.data;\nconst caption = data.message?.imageMessage?.caption;\nconst content = $input.item.json.content;\nlet response = '';\n\n// Verifica se o conteúdo existe\nif (content) {\n  response = caption\n    ? `${content} Legenda: ${caption}`\n    : `Transcrição: ${content}`;\n} else {\n  response = 'Erro: json.content ausente para imagem com legenda';\n}\n\nreturn { output: response };"
      },
      "id": "4eaa3080-96ce-4cb7-90d2-c6a38d6d9de7",
      "name": "Format Transcription Image",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2000,
        1360
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const content = $input.item.json.text;\nlet response = '';\n\n// Verifica se o conteúdo existe\nif (content) {\n  response = `Transcrição: ${content}`;\n} else {\n  response = 'Erro: json.content ausente para aúdio';\n}\n\nreturn { output: response };"
      },
      "id": "cc72153f-0fa2-4b48-8a72-5a2485c2cf5f",
      "name": "Format Transcription Audio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2000,
        1040
      ]
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini-2024-07-18",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI-2024-07-18"
        },
        "text": "Descreva todo o conteúdo da imagem, sem Acentos e sem hífens",
        "inputType": "base64",
        "options": {}
      },
      "id": "293dd468-4516-47d4-bed9-3bc7a851d788",
      "name": "Analyze Image",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [
        -2160,
        1500
      ],
      "alwaysOutputData": true,
      "credentials": {
        "openAiApi": {
          "id": "dRR3EqW0FEAbSHgt",
          "name": "william"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('baseInfo').first().json.evo_api }}/chat/getBase64FromMediaMessage/{{ $('baseInfo').item.json.instance }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"message\": {\n        \"key\": {\n            \"id\": \"{{ $('Webhook').item.json.body.data.key.id }}\"\n        }\n    },\n    \"convertToMp4\": false\n}",
        "options": {}
      },
      "id": "cbfc13d6-2f05-4a12-93f1-5e29e3dca415",
      "name": "Get Base64",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2640,
        1220
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "T5OqvislWbgDr9Ek",
          "name": "Evolution Api Key"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {
          "fileName": "transcricao.ogg",
          "mimeType": "audio/ogg"
        }
      },
      "id": "7f8c9917-b5e7-4cce-b586-d0b3514b0799",
      "name": "Convert To Audio",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -2320,
        1040
      ]
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {
          "fileName": "imagem.jpeg",
          "mimeType": "image/jpeg"
        }
      },
      "id": "38de9ce2-330a-42fb-8581-c0ab340daa6c",
      "name": "Convert To Image",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -2320,
        1360
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.mediaType }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "bba31f6b-7dc3-4dac-a090-c38d70065d40",
                    "leftValue": "={{ $json.mediaType }}",
                    "rightValue": "imageMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "do nothing"
        }
      },
      "id": "89786d7a-676e-4649-8857-75c34165d58f",
      "name": "Media Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2500,
        1220
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Função 1: Remove caption de links que não são imagens ou vídeos\nfunction removeCaptionFromLinks(text) {\n  // Expressão regular para identificar links que não são imagens ou vídeos\n  const regexLinks = /\\[([^\\]]*)\\]\\((https?:\\/\\/[^\\s]+)\\)/gi;\n  \n  return text.replace(regexLinks, (match, caption, url) => {\n    // Se o link não for de imagem ou vídeo, remove o caption e mantém só a URL\n    if (!url.match(/\\.(jpeg|jpg|png|gif|bmp|webp|avif|mp4|mov|avi|wmv)$/i)) {\n      return url;\n    }\n    return match; // Mantém o link inalterado se for uma imagem ou vídeo\n  });\n}\n\nconst message = $input.item.json.output;\n\n// Primeira função: remove captions de links não-imagens/vídeos\ncleanedMessage = removeCaptionFromLinks(message);\n\nreturn { output: cleanedMessage };"
      },
      "id": "7740423c-61f8-4d40-bfd5-f59ca58e1047",
      "name": "Beautify URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        900
      ],
      "executeOnce": false
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Add a new field called 'myNewField' to the JSON of the item\nconst message = $input.item.json.output;\n\nconst regex = /(?:\\!\\[([^\\]]*)\\]\\((https?:\\/\\/[^\\s]+?\\.(?:jpeg|jpg|png|gif|bmp|webp|avif))\\))|(?:\\[([^\\]]*)\\]\\((https?:\\/\\/[^\\s]+?\\.(?:jpeg|jpg|png|gif|bmp|webp|avif))\\))|(?:\\((https?:\\/\\/[^\\s]+?\\.(?:jpeg|jpg|png|gif|bmp|webp|avif))\\))|((https?:\\/\\/[^\\s]+?\\.(?:jpeg|jpg|png|gif|bmp|webp|avif)))/gi;\n\nconst parts = [];\nlet lastIndex = 0;\nlet match;\n\nwhile ((match = regex.exec(message)) !== null) {\n  // Adiciona o texto entre os matches\n  if (match.index > lastIndex) {\n    parts.push({ type: 'text', content: message.slice(lastIndex, match.index).replace(/^(\\\\n)+|(\\\\n)+$/g, '').trim() });\n  }\n  \n  // Adiciona as imagens ou links encontrados\n  if (match[1]) {\n    parts.push({ type: 'image', caption: match[1], url: match[2] });\n  } else if (match[3]) {\n    // Se o link é uma imagem, considere como uma imagem também\n    parts.push({ type: 'image', caption: match[3], url: match[4] });\n  } else if (match[5] || match[6]) {\n    // Aqui, garantimos que seja considerado como imagem se for uma URL de imagem\n    parts.push({ type: 'image', url: match[5] || match[6] });\n  }\n\n  // Atualiza o último índice processado\n  lastIndex = regex.lastIndex;\n}\n\n// Adiciona o texto final, se houver\nif (lastIndex < message.length) {\n  parts.push({ type: 'text', content: message.slice(lastIndex).replace(/^(\\\\n)+|(\\\\n)+$/g, '').trim() });\n}\n\n// Verifica se a parte é um vídeo e adiciona\nparts.forEach(part => {\n  if (part.type === 'url' && part.url.match(/\\.(mp4|mov|avi|wmv)$/)) {\n    part.type = 'video';\n  }\n});\n\n// Exibe o resultado\n//console.log(JSON.stringify(parts, null, 2));\n\nreturn {output: parts};\n"
      },
      "id": "77debd8c-d7c1-403f-8fd2-9310aabaa70f",
      "name": "Categorizing Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        900
      ],
      "executeOnce": false
    },
    {
      "parameters": {
        "fieldToSplitOut": "output",
        "include": "allOtherFields",
        "options": {}
      },
      "id": "a82d2158-b9f1-438a-8386-0fb721348ae1",
      "name": "Split Out Messages",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1320,
        900
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "052fca95-88ff-4599-8473-89421ca6fc46",
        "options": {}
      },
      "id": "9ec2901c-381b-4ad3-a866-2284d3e2eddb",
      "name": "audio",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -4340,
        1374
      ],
      "webhookId": "052fca95-88ff-4599-8473-89421ca6fc46"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.session_status }}",
                    "rightValue": "opened",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "aberta"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "efaf1d90-23b6-425a-b994-402e4e925d85",
                    "leftValue": "={{ $json.session_status }}",
                    "rightValue": "paused",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pausada"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "vazio"
        }
      },
      "id": "bfcb752e-2183-4846-82d7-226a42ba4ba7",
      "name": "check session status",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2920,
        886
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('baseInfo').first().json.messageType }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "conversation"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "86e7e773-8586-458f-a1fb-2890f2030230",
                    "leftValue": "={{ $('baseInfo').first().json.messageType }}",
                    "rightValue": "extendedTextMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "msg"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "7f108034-a1be-4e90-b42e-e4f8a719e311",
                    "leftValue": "={{ $('baseInfo').first().json.messageType }}",
                    "rightValue": "editedMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "msg edited"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "256e7cf8-be54-4c41-ba80-2d9eb0a07563",
                    "leftValue": "={{ $('baseInfo').first().json.messageType }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "da03e413-3422-419c-af1a-71ff87c307e2",
                    "leftValue": "={{ $('baseInfo').first().json.messageType }}",
                    "rightValue": "imageMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            }
          ]
        },
        "options": {}
      },
      "id": "2d42ba1d-1ccc-4744-9a1b-77187ad0b13a",
      "name": "Message Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -2620,
        940
      ]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "=data",
        "options": {
          "language": "pt"
        }
      },
      "id": "6b05aff7-139e-482a-a9e2-933b5ec66569",
      "name": "Analyze Audio",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.3,
      "position": [
        -2160,
        1180
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "openAiApi": {
          "id": "dRR3EqW0FEAbSHgt",
          "name": "william"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "75d6e859-8379-4a34-8daf-b34c6a450a09",
              "name": "output",
              "value": "={{ $json.output.replaceAll('\\n', '\\\\n').replaceAll('**', '*').replace(/(?<!\\\\)\"/g, '\\\\\"') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "8d281a11-1042-440e-96a3-8ebf61794275",
      "name": "Fix Text",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        980,
        900
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "75d6e859-8379-4a34-8daf-b34c6a450a09",
              "name": "output",
              "value": "={{ $json.output.replaceAll('\\n', '\\\\n').replaceAll('**', '*') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "1bb85ebf-e545-47af-a16a-b4938a07c326",
      "name": "Fix Text 2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1680,
        1040
      ]
    },
    {
      "parameters": {
        "toolDescription": "use essa ferramenta para retornar status da loja, se ela esta aberta ou fechada, funcionando no momento ou não",
        "url": "=https://ibox.delivery/api/whatsapp/store?instance_name={{ $('baseInfo').first().json.instance }}&only=status",
        "optimizeResponse": true,
        "dataField": "status"
      },
      "id": "8b0dbb89-a825-4ff4-b373-364a42cf5f2a",
      "name": "Get Store Status",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        500,
        1060
      ]
    },
    {
      "parameters": {
        "toolDescription": "use essa ferramenta para retornar endereço da loja",
        "url": "=https://ibox.delivery/api/whatsapp/store?instance_name={{ $('baseInfo').first().json.instance }}&only=address",
        "optimizeResponse": true
      },
      "id": "92af1779-7957-4a0e-9648-9231e2b41601",
      "name": "Get Store Address",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        600,
        1000
      ]
    },
    {
      "parameters": {
        "toolDescription": "use essa ferramenta para retornar taxas de entrega cobrada pela loja, consultar tempo médio das entregas, valor mínimo, se entrega em outras localidades que não estejam registradas",
        "url": "=https://ibox.delivery/api/whatsapp/store?instance_name={{ $('baseInfo').first().json.instance }}&only=delivery_fee",
        "optimizeResponse": true
      },
      "id": "3b8cf7b3-738d-4587-8c16-f4bebca7bfdd",
      "name": "Get Store Delivery Fee",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        380,
        1080
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "messages",
        "filters": {
          "conditions": [
            {
              "keyName": "instance_name",
              "condition": "eq",
              "keyValue": "ibox_cli_23"
            }
          ]
        }
      },
      "id": "c169eaf5-bb3b-4152-bfb8-58f5ef0d46c5",
      "name": "reset msgs1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -3360,
        1340
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "WWYYqpMcDDFZTW3g",
          "name": "william"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "contacts",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "gt",
              "keyValue": "0"
            }
          ]
        }
      },
      "id": "0c85e0a1-edd6-4747-8a95-31e766f052b8",
      "name": "reset contacts",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -3220,
        1340
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "WWYYqpMcDDFZTW3g",
          "name": "william"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.msgs.last().parseJson().id }}",
                    "rightValue": "={{ $('Structure Message').first().json.id }}",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "do nothing"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "56301c82-a67f-4f3f-91bd-f8cb583d8a9e",
                    "leftValue": "={{ $json.msgs.last().parseJson().timestamp }}",
                    "rightValue": "={{ $now.minus($('baseInfo').first().json.delay_to_wait, 'seconds').toSeconds().round() }}",
                    "operator": {
                      "type": "number",
                      "operation": "lt"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "timeout"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "wait"
        }
      },
      "id": "9a152dd7-63eb-4fa2-8d4c-7ed68a33ce9a",
      "name": "check timeout msg",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -609,
        860
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "052fca95-88ff-4599-8473-89421ca6fc46",
        "options": {}
      },
      "id": "b0a375cf-793d-482f-8f5e-793e4a2995fe",
      "name": "msg reply",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -4140,
        1374
      ],
      "webhookId": "052fca95-88ff-4599-8473-89421ca6fc46"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('messages').first().json.conversation }}",
        "options": {
          "systemMessage": "=Função: Responder a perguntas do usuário\n\n<user-name>{{ $('user found').first().json.nome }}</user-name>\n\nObjetivo:\n- Processar as mensagens dos clientes e fornecer respostas com base nas regras e informações da base de dados TOOL \"store_info\".\n\nResponsabilidades:\n1. Analisar a intenção da pergunta do cliente (fazer pedido, horários, endereço, formas de pagamento, status da loja, etc.).\n2. Fornecer informações claras, educadas, informais e humoradas de acordo com a base de informações.\n3. Utilizar no máximo 2 emojis por resposta para manter a interação leve e amigável.\n4. Sugerir produtos e taxas de entrega conforme as regras:\n   - Mencionar no máximo 3 produtos.\n   - Mencionar até 3 taxas de entrega por vez.\n5. Fornecer o link direto do cardápio, sem formatação, quando aplicável.\n6. Manter o tom de conversa descontraído, com mensagens objetivas e curtas.\n7. Enviar o link do cardápio digital para que ele possa realizar um pedido, quando ele tiver intenção de comprar.\n8. Enviar imagens apenas de produtos específicos quando solicitado, sempre pegando na base de dados TOOL \"store_info\".\n9. Dividir respostas longas em partes para facilitar a compreensão.\n10. NUNCA INVENTE INFORMAÇÃO que não esteja na base de dados TOOL \"store_info\".\n11. Pode adicionar o [nome do usuário] na resposta, quando achar necessário.\n\nExemplo de Resposta:\n- \"Oi! Nosso horário de funcionamento é das 9h às 22h, todos os dias. 🍔 Se quiser dar uma olhada no nosso cardápio, é só acessar: [link do cardápio]. 😉\"\n- \"Estamos localizado no endereço: [endereco da loja]. Venha nos visitas! 😉\"\n- \"Você pode estar realizando a seu pedido, acessando [link do cardápio]. É simples e rápido.\""
        }
      },
      "id": "f30da90c-2fa0-4419-a37b-7ca07a2ed7dd",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        120,
        900
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ibox.delivery/api/whatsapp/webhook",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "event",
              "value": "n8n"
            },
            {
              "name": "instance",
              "value": "={{ $('baseInfo').first().json.instance }}"
            },
            {
              "name": "executation_id",
              "value": "={{ $executionId }}"
            },
            {
              "name": "conversation",
              "value": "={{ $('messages').first().json.conversation }}"
            }
          ]
        },
        "options": {}
      },
      "id": "92758007-7ef5-4a12-b57a-cc133957f417",
      "name": "Webhook iBox",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -260,
        1320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ibox.delivery/api/whatsapp/webhook",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "event",
              "value": "n8n"
            },
            {
              "name": "instance",
              "value": "={{ $('baseInfo').first().json.instance }}"
            },
            {
              "name": "executation_id",
              "value": "={{ $executionId }}"
            },
            {
              "name": "conversation",
              "value": "={{ $('Webhook').item.json.body.data.message.conversation }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a0c041be-dc1c-418b-81b3-ac549601594b",
      "name": "Webhook iBox1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4320,
        1100
      ],
      "disabled": true
    },
    {
      "parameters": {
        "operation": "push",
        "list": "=msgs_5512982184879_ibox_cli_23",
        "messageData": "={\"executionId\": {{ $executionId }}, \"content\": \"{{ $('Webhook').item.json.body.data.message.conversation }}\", \"timestamp_send\": {{ $('Webhook').item.json.body.data.messageTimestamp }}, \"timestamp_now\": \"{{ $now.toSeconds().round() }}",
        "tail": true
      },
      "id": "3116831d-ee43-4f5b-ab32-21e67ce17d27",
      "name": "Redis",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -4560,
        1100
      ],
      "credentials": {
        "redis": {
          "id": "ePjUcKkuSrLqo1Tt",
          "name": "vps"
        }
      }
    },
    {
      "parameters": {
        "amount": 3
      },
      "id": "91312196-7a7c-4594-ae43-9c09b094df28",
      "name": "Wait1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -4720,
        1100
      ],
      "webhookId": "b1029e90-b790-40df-a272-679d52ee0848",
      "alwaysOutputData": true,
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "09ff0201-6e90-48d3-a493-0039d164be39",
              "name": "message",
              "value": "={{ $('Webhook').item.json.body.inputs.sessionId }} - {{ $('Webhook').item.json.body.query }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "978e28a8-af2d-41f7-9089-d7d5a77bdf5b",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4560,
        1320
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "052fca95-88ff-4599-8473-89421ca6fc46",
        "options": {}
      },
      "id": "4d191d9a-aea2-4f18-9667-255f3281e4b5",
      "name": "with caption",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -3940,
        1380
      ],
      "webhookId": "052fca95-88ff-4599-8473-89421ca6fc46"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "052fca95-88ff-4599-8473-89421ca6fc46",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "80b07032-fc24-4df8-aa2c-3945c0dbaf8a",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -4740,
        886
      ],
      "webhookId": "052fca95-88ff-4599-8473-89421ca6fc46"
    },
    {
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "value": "={{ $json.vector_name }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "1e2149da-6017-47ab-bbbc-fd4c21094a66",
      "name": "Qdrant Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        200,
        1280
      ],
      "credentials": {
        "qdrantApi": {
          "id": "ukGdBAa9ib5xqZKC",
          "name": "william"
        }
      }
    }
  ],
  "pinData": {
    "without caption": [
      {
        "json": {
          "headers": {
            "connection": "keep-alive",
            "host": "n8n.wmst.com.br",
            "x-forwarded-scheme": "https",
            "x-forwarded-proto": "https",
            "x-forwarded-for": "10.0.0.2",
            "x-real-ip": "10.0.0.2",
            "content-length": "3224",
            "accept": "application/json, text/plain, */*",
            "content-type": "application/json",
            "user-agent": "axios/1.7.5",
            "accept-encoding": "gzip, compress, deflate, br"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "messages.upsert",
            "instance": "ibox_cli_23",
            "data": {
              "key": {
                "remoteJid": "5512982184879@s.whatsapp.net",
                "fromMe": false,
                "id": "73EB36C2F29E21F949478CA6BAE42396"
              },
              "pushName": "W.M. Soluções Tecnologicas",
              "message": {
                "imageMessage": {
                  "url": "https://mmg.whatsapp.net/v/t62.7118-24/19388005_900654632119903_7401507892216536306_n.enc?ccb=11-4&oh=01_Q5AaILLIIg1epG-FFHPFT36lBpDrdiKpwn45DEJeaVfEL4ZF&oe=671A5D4A&_nc_sid=5e03e0&mms3=true",
                  "mimetype": "image/jpeg",
                  "fileSha256": "rP/dXl5NkaLphmjLgqsWhnE7tEy8V0b9vMD2zTXPUXo=",
                  "fileLength": "152482",
                  "height": 1600,
                  "width": 1131,
                  "mediaKey": "0yEd0HnyvhqCQnjM5fsIeOL069qeBeN41qd0HsZ9Fck=",
                  "fileEncSha256": "JZOZpZQRbhUet3ohVFE3uJGSM6zbcd7NdVdqxFbPxNw=",
                  "directPath": "/v/t62.7118-24/19388005_900654632119903_7401507892216536306_n.enc?ccb=11-4&oh=01_Q5AaILLIIg1epG-FFHPFT36lBpDrdiKpwn45DEJeaVfEL4ZF&oe=671A5D4A&_nc_sid=5e03e0",
                  "mediaKeyTimestamp": "1727183204",
                  "jpegThumbnail": "/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEABsbGxscGx4hIR4qLSgtKj04MzM4PV1CR0JHQl2NWGdYWGdYjX2Xe3N7l33gsJycsOD/2c7Z//////////////8BGxsbGxwbHiEhHiotKC0qPTgzMzg9XUJHQkdCXY1YZ1hYZ1iNfZd7c3uXfeCwnJyw4P/Zztn////////////////CABEIAEgAMwMBIgACEQEDEQH/xAAuAAACAwEAAAAAAAAAAAAAAAAAAwECBQQBAQEBAQAAAAAAAAAAAAAAAAABAgP/2gAMAwEAAhADEAAAAKj18uqxstrvVrCQDYbDdZWjqQNhoYJUx12WqbvkJag6ghMADHbRMe9a6sYTbZgSdRBKuoLEgRYEaAf/xAAnEAACAQIEBwADAQAAAAAAAAAAAQIDERITMTIEFCEiM1FxEEGBYf/aAAgBAQABPwBdqsOSRmr0zM/xkZJszEYl6GtLoaTegsKW0dnojD10IUlKMriVijCDpQbVzBFvaiVODhLsWhw8I5W1amUvSMtWacVoNq76FDwwOvslfDL4cL4v6XQ9r+Etz+lDwwO4d8Mr+jhPF/S8R7X8Jbn9KN8mB3DUsMrv9HDu1NfRJD0fwluf0hxdKnTjE59X2nO0pJplLiaUKdmc+tFE52m07ofVsmrzfUy4ZbeLqIs/ZZ+xXTXX8Shd3uOm/ZgZlswMVOz1/H//xAAZEQACAwEAAAAAAAAAAAAAAAAAEQESIDD/2gAIAQIBAT8A6WGOdf/EABwRAAAHAQEAAAAAAAAAAAAAAAABAhASIEERIv/aAAgBAwEBPwBPdZRD22Ux4aIkIlb/2Q==",
                  "contextInfo": {
                    "expiration": 0,
                    "ephemeralSettingTimestamp": "1719835382",
                    "disappearingMode": {
                      "initiator": "CHANGED_IN_CHAT",
                      "trigger": "CHAT_SETTING",
                      "initiatedByMe": false
                    }
                  }
                },
                "messageContextInfo": {
                  "deviceListMetadata": {
                    "senderKeyHash": "XmJzBOLylzgZMw==",
                    "senderTimestamp": "1726978616",
                    "recipientKeyHash": "133dAnqlyPxFrg==",
                    "recipientTimestamp": "1726774814"
                  },
                  "deviceListMetadataVersion": 2
                },
                "mediaUrl": "https://s3.wmst.com.br/evolution/evolution-api/88d98422-5c77-47d2-8405-c813d554530e/5512982184879%40s.whatsapp.net/imageMessage/73EB36C2F29E21F949478CA6BAE42396.jpeg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=jPRmOTE4HpOKGlrQR9oa%2F20240924%2Feu-west-3%2Fs3%2Faws4_request&X-Amz-Date=20240924T181826Z&X-Amz-Expires=604800&X-Amz-SignedHeaders=host&X-Amz-Signature=b13e70e4a1f87e959307c2497c77fbfd5ad99d19b08d85aba854a1e36cd1379a"
              },
              "contextInfo": {
                "expiration": 0,
                "ephemeralSettingTimestamp": "1719835382",
                "disappearingMode": {
                  "initiator": "CHANGED_IN_CHAT",
                  "trigger": "CHAT_SETTING",
                  "initiatedByMe": false
                }
              },
              "messageType": "imageMessage",
              "messageTimestamp": 1727201906,
              "instanceId": "88d98422-5c77-47d2-8405-c813d554530e",
              "source": "android",
              "chatwootMessageId": 687,
              "chatwootInboxId": 4,
              "chatwootConversationId": 3
            },
            "destination": "https://n8n.wmst.com.br/webhook-test/052fca95-88ff-4599-8473-89421ca6fc46",
            "date_time": "2024-09-24T15:18:26.605Z",
            "sender": "5512982471939@s.whatsapp.net",
            "server_url": "https://apiwp.wmst.com.br",
            "apikey": "A87404A4-1FBF-42C2-B2EF-F3AE0A4D8D36"
          },
          "webhookUrl": "https://webhook.n8n.wmst.com.br/webhook-test/052fca95-88ff-4599-8473-89421ca6fc46",
          "executionMode": "test"
        }
      }
    ],
    "msg edited": [
      {
        "json": {
          "headers": {
            "host": "webhook.n8n.wmst.com.br",
            "x-forwarded-scheme": "https",
            "x-forwarded-proto": "https",
            "x-forwarded-for": "10.0.0.2",
            "x-real-ip": "10.0.0.2",
            "connection": "close",
            "content-length": "1293",
            "accept": "application/json, text/plain, */*",
            "content-type": "application/json",
            "user-agent": "axios/1.7.5",
            "accept-encoding": "gzip, compress, deflate, br"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "messages.upsert",
            "instance": "ibox_cli_23",
            "data": {
              "key": {
                "remoteJid": "5512982184879@s.whatsapp.net",
                "fromMe": false,
                "id": "E830D316DDDA071245FCBB93311F7084"
              },
              "pushName": "W.M. Soluções Tecnologicas",
              "message": {
                "messageContextInfo": {
                  "deviceListMetadata": {
                    "senderKeyHash": "XmJzBOLylzgZMw==",
                    "senderTimestamp": "1726978616",
                    "recipientKeyHash": "133dAnqlyPxFrg==",
                    "recipientTimestamp": "1726774814"
                  },
                  "deviceListMetadataVersion": 2
                },
                "editedMessage": {
                  "message": {
                    "protocolMessage": {
                      "key": {
                        "remoteJid": "5512982471939@s.whatsapp.net",
                        "fromMe": true,
                        "id": "29EAFE5D87DCDC182193EF42CA06C44B"
                      },
                      "type": "MESSAGE_EDIT",
                      "editedMessage": {
                        "extendedTextMessage": {
                          "text": "Oi, teste 2",
                          "previewType": "NONE",
                          "contextInfo": {
                            "expiration": 0,
                            "ephemeralSettingTimestamp": "1719835382",
                            "disappearingMode": {
                              "initiator": "CHANGED_IN_CHAT",
                              "trigger": "UNKNOWN"
                            }
                          },
                          "inviteLinkGroupTypeV2": "DEFAULT"
                        }
                      },
                      "timestampMs": "1727232025579"
                    }
                  }
                }
              },
              "messageType": "editedMessage",
              "messageTimestamp": 1727232025,
              "instanceId": "88d98422-5c77-47d2-8405-c813d554530e",
              "source": "android"
            },
            "destination": "https://webhook.n8n.wmst.com.br/webhook/052fca95-88ff-4599-8473-89421ca6fc46",
            "date_time": "2024-09-24T23:40:25.883Z",
            "sender": "5512982471939@s.whatsapp.net",
            "server_url": "https://apiwp.wmst.com.br",
            "apikey": "A87404A4-1FBF-42C2-B2EF-F3AE0A4D8D36"
          },
          "webhookUrl": "https://webhook.n8n.wmst.com.br/webhook/052fca95-88ff-4599-8473-89421ca6fc46",
          "executionMode": "production"
        }
      }
    ],
    "audio": [
      {
        "json": {
          "headers": {
            "host": "webhook.n8n.wmst.com.br",
            "x-forwarded-scheme": "https",
            "x-forwarded-proto": "https",
            "x-forwarded-for": "10.0.0.2",
            "x-real-ip": "10.0.0.2",
            "connection": "close",
            "content-length": "1778",
            "accept": "application/json, text/plain, */*",
            "content-type": "application/json",
            "user-agent": "axios/1.7.5",
            "accept-encoding": "gzip, compress, deflate, br"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "messages.upsert",
            "instance": "ibox_cli_23",
            "data": {
              "key": {
                "remoteJid": "5512982184879@s.whatsapp.net",
                "fromMe": false,
                "id": "10C78FD11DEA8FE06EB6B2EE27FFC17B"
              },
              "pushName": "",
              "message": {
                "audioMessage": {
                  "url": "https://mmg.whatsapp.net/v/t62.7117-24/23652130_1742233893275520_7675491287488025989_n.enc?ccb=11-4&oh=01_Q5AaIMqBNruXgWD4zMmsr2G_zViyYA7Yp5BMF8GqYpUCT4wQ&oe=671AFC84&_nc_sid=5e03e0&mms3=true",
                  "mimetype": "audio/ogg; codecs=opus",
                  "fileSha256": "xXdyfDtFBY2pV9AyEWGDXjOJQ3FLGd2il9NKYnDrQSY=",
                  "fileLength": "6001",
                  "seconds": 2,
                  "ptt": true,
                  "mediaKey": "cD2FEqlOpHLeDU1KuImKovoVY7gpLqmdn/sxZUdBqEw=",
                  "fileEncSha256": "VN37zMlHEg27invZIVGc6dKgN8znkmQQZ83yiMPvK7g=",
                  "directPath": "/v/t62.7117-24/23652130_1742233893275520_7675491287488025989_n.enc?ccb=11-4&oh=01_Q5AaIMqBNruXgWD4zMmsr2G_zViyYA7Yp5BMF8GqYpUCT4wQ&oe=671AFC84&_nc_sid=5e03e0",
                  "mediaKeyTimestamp": "1727238300",
                  "contextInfo": {
                    "expiration": 0,
                    "ephemeralSettingTimestamp": "1719835382",
                    "disappearingMode": {
                      "initiator": "CHANGED_IN_CHAT",
                      "trigger": "CHAT_SETTING",
                      "initiatedByMe": true
                    }
                  },
                  "waveform": "AAAECQsKChQfJiMWJBIIDx4jPUFGRz8vODc3NzEVCxYlKigyJjU9ODIrJB0YFxoaHhUPDwgADxggLDk1OB0LHQ=="
                }
              },
              "contextInfo": {
                "expiration": 0,
                "ephemeralSettingTimestamp": "1719835382",
                "disappearingMode": {
                  "initiator": "CHANGED_IN_CHAT",
                  "trigger": "CHAT_SETTING",
                  "initiatedByMe": true
                }
              },
              "messageType": "audioMessage",
              "messageTimestamp": 1727238301,
              "instanceId": "88d98422-5c77-47d2-8405-c813d554530e",
              "source": "android",
              "chatwootMessageId": 706,
              "chatwootInboxId": 4,
              "chatwootConversationId": 3
            },
            "destination": "https://webhook.n8n.wmst.com.br/webhook/052fca95-88ff-4599-8473-89421ca6fc46",
            "date_time": "2024-09-25T01:25:50.851Z",
            "sender": "5512982471939@s.whatsapp.net",
            "server_url": "https://apiwp.wmst.com.br",
            "apikey": "A87404A4-1FBF-42C2-B2EF-F3AE0A4D8D36"
          },
          "webhookUrl": "https://webhook.n8n.wmst.com.br/webhook/052fca95-88ff-4599-8473-89421ca6fc46",
          "executionMode": "production"
        }
      }
    ],
    "msg reply": [
      {
        "json": {
          "headers": {
            "connection": "keep-alive",
            "host": "n8n.wmst.com.br",
            "x-forwarded-scheme": "https",
            "x-forwarded-proto": "https",
            "x-forwarded-for": "10.0.0.2",
            "x-real-ip": "10.0.0.2",
            "content-length": "1330",
            "accept": "application/json, text/plain, */*",
            "content-type": "application/json",
            "user-agent": "axios/1.7.5",
            "accept-encoding": "gzip, compress, deflate, br"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "messages.upsert",
            "instance": "ibox_cli_23",
            "data": {
              "key": {
                "remoteJid": "5512982184879@s.whatsapp.net",
                "fromMe": false,
                "id": "3EB08B65FD51A26BBDCAFA"
              },
              "pushName": "W.M. Soluções Tecnologicas",
              "message": {
                "messageContextInfo": {
                  "deviceListMetadata": {
                    "senderKeyHash": "XmJzBOLylzgZMw==",
                    "senderTimestamp": "1726978616",
                    "senderAccountType": "E2EE",
                    "receiverAccountType": "E2EE",
                    "recipientKeyHash": "133dAnqlyPxFrg==",
                    "recipientTimestamp": "1726774814"
                  },
                  "deviceListMetadataVersion": 2
                },
                "conversation": "Teste"
              },
              "contextInfo": {
                "stanzaId": "76533F475605AF32995BB104A257CF8D",
                "participant": "5512982184879@s.whatsapp.net",
                "quotedMessage": {
                  "extendedTextMessage": {
                    "text": "ola, gostaria de fazer um pedido.",
                    "previewType": "NONE",
                    "inviteLinkGroupTypeV2": "DEFAULT"
                  }
                },
                "ephemeralSettingTimestamp": "1719835382",
                "disappearingMode": {
                  "initiator": "CHANGED_IN_CHAT",
                  "trigger": "CHAT_SETTING"
                }
              },
              "messageType": "extendedTextMessage",
              "messageTimestamp": 1727230185,
              "instanceId": "88d98422-5c77-47d2-8405-c813d554530e",
              "source": "web",
              "chatwootMessageId": 693,
              "chatwootInboxId": 4,
              "chatwootConversationId": 3
            },
            "destination": "https://n8n.wmst.com.br/webhook-test/052fca95-88ff-4599-8473-89421ca6fc46",
            "date_time": "2024-09-24T23:09:46.317Z",
            "sender": "5512982471939@s.whatsapp.net",
            "server_url": "https://apiwp.wmst.com.br",
            "apikey": "A87404A4-1FBF-42C2-B2EF-F3AE0A4D8D36"
          },
          "webhookUrl": "https://webhook.n8n.wmst.com.br/webhook-test/052fca95-88ff-4599-8473-89421ca6fc46",
          "executionMode": "test"
        }
      }
    ],
    "with caption": [
      {
        "json": {
          "headers": {
            "connection": "keep-alive",
            "host": "n8n.wmst.com.br",
            "x-forwarded-scheme": "https",
            "x-forwarded-proto": "https",
            "x-forwarded-for": "10.0.0.2",
            "x-real-ip": "10.0.0.2",
            "content-length": "3279",
            "accept": "application/json, text/plain, */*",
            "content-type": "application/json",
            "user-agent": "axios/1.7.5",
            "accept-encoding": "gzip, compress, deflate, br"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "messages.upsert",
            "instance": "ibox_cli_23",
            "data": {
              "key": {
                "remoteJid": "5512982184879@s.whatsapp.net",
                "fromMe": false,
                "id": "7662D76F754C498CC2EDDA65AB2779FF"
              },
              "pushName": "W.M. Soluções Tecnologicas",
              "message": {
                "imageMessage": {
                  "url": "https://mmg.whatsapp.net/v/t62.7118-24/19388005_900654632119903_7401507892216536306_n.enc?ccb=11-4&oh=01_Q5AaILLIIg1epG-FFHPFT36lBpDrdiKpwn45DEJeaVfEL4ZF&oe=671A5D4A&_nc_sid=5e03e0&mms3=true",
                  "mimetype": "image/jpeg",
                  "caption": "Esse é cardápio da nossa loja em imagem.",
                  "fileSha256": "rP/dXl5NkaLphmjLgqsWhnE7tEy8V0b9vMD2zTXPUXo=",
                  "fileLength": "152482",
                  "height": 1600,
                  "width": 1131,
                  "mediaKey": "0yEd0HnyvhqCQnjM5fsIeOL069qeBeN41qd0HsZ9Fck=",
                  "fileEncSha256": "JZOZpZQRbhUet3ohVFE3uJGSM6zbcd7NdVdqxFbPxNw=",
                  "directPath": "/v/t62.7118-24/19388005_900654632119903_7401507892216536306_n.enc?ccb=11-4&oh=01_Q5AaILLIIg1epG-FFHPFT36lBpDrdiKpwn45DEJeaVfEL4ZF&oe=671A5D4A&_nc_sid=5e03e0",
                  "mediaKeyTimestamp": "1727183204",
                  "jpegThumbnail": "/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEABsbGxscGx4hIR4qLSgtKj04MzM4PV1CR0JHQl2NWGdYWGdYjX2Xe3N7l33gsJycsOD/2c7Z//////////////8BGxsbGxwbHiEhHiotKC0qPTgzMzg9XUJHQkdCXY1YZ1hYZ1iNfZd7c3uXfeCwnJyw4P/Zztn////////////////CABEIAEgAMwMBIgACEQEDEQH/xAAuAAACAwEAAAAAAAAAAAAAAAAAAwECBQQBAQEBAQAAAAAAAAAAAAAAAAABAgP/2gAMAwEAAhADEAAAAKj18uqxstrvVrCQDYbDdZWjqQNhoYJUx12WqbvkJag6ghMADHbRMe9a6sYTbZgSdRBKuoLEgRYEaAf/xAAnEAACAQIEBwADAQAAAAAAAAAAAQIDERITMTIEFCEiM1FxEEGBYf/aAAgBAQABPwBdqsOSRmr0zM/xkZJszEYl6GtLoaTegsKW0dnojD10IUlKMriVijCDpQbVzBFvaiVODhLsWhw8I5W1amUvSMtWacVoNq76FDwwOvslfDL4cL4v6XQ9r+Etz+lDwwO4d8Mr+jhPF/S8R7X8Jbn9KN8mB3DUsMrv9HDu1NfRJD0fwluf0hxdKnTjE59X2nO0pJplLiaUKdmc+tFE52m07ofVsmrzfUy4ZbeLqIs/ZZ+xXTXX8Shd3uOm/ZgZlswMVOz1/H//xAAZEQACAwEAAAAAAAAAAAAAAAAAEQESIDD/2gAIAQIBAT8A6WGOdf/EABwRAAAHAQEAAAAAAAAAAAAAAAABAhASIEERIv/aAAgBAwEBPwBPdZRD22Ux4aIkIlb/2Q==",
                  "contextInfo": {
                    "expiration": 0,
                    "ephemeralSettingTimestamp": "1719835382",
                    "disappearingMode": {
                      "initiator": "CHANGED_IN_CHAT",
                      "trigger": "CHAT_SETTING",
                      "initiatedByMe": false
                    }
                  }
                },
                "messageContextInfo": {
                  "deviceListMetadata": {
                    "senderKeyHash": "XmJzBOLylzgZMw==",
                    "senderTimestamp": "1726978616",
                    "recipientKeyHash": "133dAnqlyPxFrg==",
                    "recipientTimestamp": "1726774814"
                  },
                  "deviceListMetadataVersion": 2
                },
                "mediaUrl": "https://s3.wmst.com.br/evolution/evolution-api/88d98422-5c77-47d2-8405-c813d554530e/5512982184879%40s.whatsapp.net/imageMessage/7662D76F754C498CC2EDDA65AB2779FF.jpeg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=jPRmOTE4HpOKGlrQR9oa%2F20240924%2Feu-west-3%2Fs3%2Faws4_request&X-Amz-Date=20240924T183932Z&X-Amz-Expires=604800&X-Amz-SignedHeaders=host&X-Amz-Signature=c924dda6f7239aa2f595df28ac4c077da152fd6dda48faeb43bb581250e2981e"
              },
              "contextInfo": {
                "expiration": 0,
                "ephemeralSettingTimestamp": "1719835382",
                "disappearingMode": {
                  "initiator": "CHANGED_IN_CHAT",
                  "trigger": "CHAT_SETTING",
                  "initiatedByMe": false
                }
              },
              "messageType": "imageMessage",
              "messageTimestamp": 1727203171,
              "instanceId": "88d98422-5c77-47d2-8405-c813d554530e",
              "source": "android",
              "chatwootMessageId": 688,
              "chatwootInboxId": 4,
              "chatwootConversationId": 3
            },
            "destination": "https://n8n.wmst.com.br/webhook-test/052fca95-88ff-4599-8473-89421ca6fc46",
            "date_time": "2024-09-24T15:39:32.464Z",
            "sender": "5512982471939@s.whatsapp.net",
            "server_url": "https://apiwp.wmst.com.br",
            "apikey": "A87404A4-1FBF-42C2-B2EF-F3AE0A4D8D36"
          },
          "webhookUrl": "https://webhook.n8n.wmst.com.br/webhook-test/052fca95-88ff-4599-8473-89421ca6fc46",
          "executionMode": "test"
        }
      }
    ],
    "Webhook": [
      {
        "json": {
          "headers": {
            "connection": "keep-alive",
            "host": "n8n.wmst.com.br",
            "x-forwarded-scheme": "https",
            "x-forwarded-proto": "https",
            "x-forwarded-for": "10.0.0.2",
            "x-real-ip": "10.0.0.2",
            "content-length": "305",
            "accept": "application/json, text/plain, */*",
            "content-type": "application/json",
            "user-agent": "axios/1.7.7",
            "accept-encoding": "gzip, compress, deflate, br"
          },
          "params": {},
          "query": {},
          "body": {
            "inputs": {
              "sessionId": "cm1iunpni004v87sixogzrei5",
              "remoteJid": "5512982184879@s.whatsapp.net",
              "pushName": "W.M. Soluções Tecnologicas",
              "instanceName": "ibox_cli_23",
              "serverUrl": "https://apiwp.wmst.com.br",
              "apiKey": "PxzMJa1fEWPgCdgpGjz7kftLwaV857RI"
            },
            "query": "bot oi",
            "user": "5512982184879@s.whatsapp.net"
          },
          "webhookUrl": "https://webhook.n8n.wmst.com.br/webhook-test/052fca95-88ff-4599-8473-89421ca6fc46",
          "executionMode": "test"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-09-27T14:34:01.317Z",
      "updatedAt": "2024-09-27T14:34:01.317Z",
      "id": "ZoTSEGR97fzorfDz",
      "name": "AI"
    },
    {
      "createdAt": "2024-09-27T17:42:17.034Z",
      "updatedAt": "2024-09-27T17:42:17.034Z",
      "id": "TsfCA8eZuTObjOfy",
      "name": "Backup"
    }
  ],
  "triggerCount": 6,
  "updatedAt": "2024-09-29T01:48:09.294Z",
  "versionId": "a1299410-c7ae-439b-bcac-189931af6c2d"
}