workflows/MCP Client.json
{
  "active": false,
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "MsgB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "Chat Memory Manager",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "set cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        []
      ]
    },
    "Crypto": {
      "main": [
        [
          {
            "node": "MsgA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MsgB": {
      "main": [
        [
          {
            "node": "Crypto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MsgA": {
      "main": [
        [
          {
            "node": "get cache",
            "type": "main",
            "index": 0
          },
          {
            "node": "reset memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cached?": {
      "main": [
        [
          {
            "node": "Chat Memory Manager",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get cache": {
      "main": [
        [
          {
            "node": "cached?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory Manager": {
      "main": [
        [
          {
            "node": "output 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set cache": {
      "main": [
        [
          {
            "node": "output 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mcp information": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "mcp pacient": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        []
      ]
    },
    "mcp booking": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "mcp consults": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-11T23:58:45.632Z",
  "id": "uPdZ5pJ3wh3qwoEh",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "MCP Client",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -800,
        -100
      ],
      "id": "2d66df70-b9c6-428c-968f-10b5f404dc8c",
      "name": "When chat message received",
      "webhookId": "63824fa0-f923-44f2-b553-02156acdc2ea"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('MsgA').item.json.chatInput }}",
        "options": {
          "systemMessage": "=# Overview  \nYou are William, the assistant at Med Center Clinic, who answers questions and manages appointment scheduling for **medical appointments** only, using the tools available. Our don't do exams.\n\nBe objective, but with humanized answers, you can use some emojis.\n\n**Clinic Address:** Rua Murilo de Oliveira, 252, Índia, das Neves do Leste - RO, 35855-267\n\n## Extras Config:\n- bearer_token: 4|93netMrGJ7Bto6QllQy8z3LpTxwXtTAJV1jjxCO5343aba96\n- instance: ibox_cli_23\n- full_name: William Almeida\n- user_emaill: williamkillerca@hotmail.com\n- user_phone: 5512982184879\n\n## Tools\n- `get_pacient_tool`: returns the pacient_id used in MCP tools for scheduling.\n- `find_existing_appt`: returns the booking_id used in MCP tools for cancellations.\n- `list_payment_methods_tool`: returns a list of accepted payment methods.\n- `list_health_plans_tool`: returns a list of available health plans.\n\nWhen the user requests information requiring more than one of these tools, **call each one synchronously**, meaning wait for the return of the first tool before calling the next.\nAfter obtaining the responses, send a clear, organized, and friendly message with emojis, presenting all requested information to the user. Do not invent data — only use real responses from the tools.\nIf any error occurs when executing a tool, send a friendly message explaining the error with emojis.\nUse the Think tool to think.\n\n## Important\n- *ALWAYS DISPLAY* the `Booking details: ID` of the appointment to the user.\n- Try to convert a cancellation request into a new scheduling if requested.\n- Never invent an *event_id*. If not found, stop and reassess.\n- Never display the event_id or pacient_id to the user.\n- Date/time reference:  \n  `sábado, 26/04/2025 11:51:10`\n- **Strict Rule**: It is forbidden to use, query, or schedule any date/time **earlier than or equal to** the reference.\n- **Always validate**:  \n  - If the date/time is earlier or equal:  \n    1. **Do not proceed**  \n    2. **Do not query tools**  \n    3. Redirect to a valid new time\n\n## Ask One Thing at a Time\n- Never send multiple questions at once.\n- Give the user time to respond.\n- Focus on one doubt per interaction.\n\n## Appointments\n- Never inform prices unless the user asks.\n- Use only rounded times: `13:10`, `15:20` (do not use: `13:13`, `15:19`)\n- **Retroactive operations are forbidden**:\n  - Nothing before the current reference\n  - Do not display past times\n  - Do not suggest the current time, only **future rounded times**\n- If the time is invalid: explain and ask for a new date/time\n- After completing, call `reset_memory` (without notifying the user)\n- Before taking action, confirm specialist availability:  \n  - If available: show dates/times  \n  - If unavailable: inform the user\n- Ask if the appointment is for the user or another person\n- Before finalizing the appointment, inform all details to the user and ask for confirmation\n\n## Sanity Check (Mandatory)\nBefore using any tool:\n\n1. Compare the date/time with `26/04/2025 11:25:10`\n2. If earlier or equal → **abort**\n3. If later → **proceed**\n\n## Conversation Closure\n- Expressions like: \"obrigado\", \"valeu\", \"t+\", \"flw\", \"até logo\" = possible farewell\n- Respond:  \n  **\"Perfeito! Posso encerrar o seu atendimento agora?\"**\n- Only finalize after clear confirmation:  \n  **\"sim\", \"você pode\", \"é isso\", etc.\"**\n- Never close by assumption\n\n## Available Times Format\n{date}: {hour1}, {hour2}, {hour3}\ne.g.: 01/04/2025: 09:00, 10:00, 11:00, 12:00, 13:00\n\n## Appointment Display Format\n\nThe following was found:\n\n📅 {title} - {professional}\nStatus: {status} ✅\nScheduled from {init} to {end}\nLocation: {local}\nCode: {id}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        220,
        0
      ],
      "id": "549a5cf2-5a9c-413a-9053-2d1cc0c6ba36",
      "name": "AI Agent",
      "retryOnFail": true,
      "maxTries": 2,
      "notes": "Você é um assistente que responde perguntas sobre métodos de pagamento e planos de saúde disponíveis.\n\nVocê pode usar as ferramentas disponíveis abaixo para obter essas informações:\n\n- `list_specialists_tool` and `list_exams_tool`: retorna event_id usado nas tools de MCP para agendamento.\n- `get_pacient_tool`: retorna o pacient_id usado nas tools MCP para agendamento.\n- `find_existing_appt`: retorna o booking_id usado nas tools MCP para cancelamento.\n- `list_payment_methods_tool`: retorna uma lista dos métodos de pagamento aceitos.\n- `list_health_plans_tool`: retorna uma lista dos planos de saúde disponíveis.\n\nQuando o usuário solicitar informações que requeiram mais de uma dessas ferramentas, **chame cada uma de forma síncrona**, ou seja, espere o retorno da primeira ferramenta antes de chamar a próxima.\n\nApós obter as respostas, envie uma mensagem clara, organizada e simpática com emojis, apresentando ao usuário todas as informações solicitadas. Não invente dados — use apenas os retornos reais das ferramentas.\n\nSe ocorrer algum erro ao executar alguma ferramenta, envie uma mensagem explicando o erro de forma amigável, com emojis.\n\nFaça somente verificações de intervalo de 3 dias somente, nunca um periodo acima disso.\n\nUse the Think tool to think.\n\nbearer_token: 4|93netMrGJ7Bto6QllQy8z3LpTxwXtTAJV1jjxCO5343aba96\ninstance: ibox_cli_23\n\nfull_name: William Almeida\nuser_emaill: williamkillerca@hotmail.com\nuser_phone: 5512982184879"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {
          "responseFormat": "text"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        80,
        180
      ],
      "id": "1419ea6d-d6b7-4c03-b756-3ae92e9581e7",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Jv19EsZcsXzDgjjj",
          "name": "Litellm OpenAI"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('MsgA').item.json.sessionId }}",
        "sessionTTL": "={{ $('MsgA').item.json.ttl }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        220,
        180
      ],
      "id": "1d3c71fc-c2fc-4253-b297-75a4067f214b",
      "name": "Memory",
      "credentials": {
        "redis": {
          "id": "ePjUcKkuSrLqo1Tt",
          "name": "vps"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        360,
        260
      ],
      "id": "5c2cf80b-9236-4b78-9ef9-f7c57f3b561b",
      "name": "Think",
      "disabled": true
    },
    {
      "parameters": {
        "value": "={{ $json.chatInput.toLowerCase()\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '')\n    .replace(/[^\\w\\s]/g, '')\n    .replace(/_/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim() }}",
        "dataPropertyName": "hash"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        -480,
        -100
      ],
      "id": "2f847f7f-a715-4e58-b541-abad889d3ace",
      "name": "Crypto"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "41b114b6-5730-43d9-8257-9c8d02c66b74",
              "name": "sessionId",
              "value": "={{ $workflow.id }}",
              "type": "string"
            },
            {
              "id": "1e6ba3f1-e9db-47cc-8128-150a78803664",
              "name": "ttl",
              "value": "={{ 60 }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -640,
        -100
      ],
      "id": "f888d237-7601-4c9a-b108-e0b64644e59b",
      "name": "MsgB"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "11abf18a-aef7-4382-9a8e-a754d58ca40e",
              "name": "expiresAt",
              "value": "={{ $now.plus($json.ttl, 'seconds') }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -320,
        -100
      ],
      "id": "2133a08b-8d38-4822-903d-e59d7066111a",
      "name": "MsgA"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "10b8986a-ec88-4927-b948-db3617eabc3f",
              "leftValue": "={{ $json.output }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        0,
        -100
      ],
      "id": "061dd716-7f28-4fe4-9018-3270e7fb8edb",
      "name": "cached?"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=chat-cache-{{ $('MsgA').item.json.hash }}",
        "value": "={{ $json.output }}",
        "keyType": "string",
        "expire": true,
        "ttl": "={{ $('MsgA').item.json.ttl }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        540,
        0
      ],
      "id": "6b4ccd9e-0370-4cc0-b5c9-6d5bf5ab8539",
      "name": "set cache",
      "credentials": {
        "redis": {
          "id": "ePjUcKkuSrLqo1Tt",
          "name": "vps"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "output",
        "key": "=chat-cache-{{ $json.hash }}",
        "keyType": "string",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -160,
        -100
      ],
      "id": "e39d821f-dc19-4981-959c-67a1c63e733f",
      "name": "get cache",
      "credentials": {
        "redis": {
          "id": "ePjUcKkuSrLqo1Tt",
          "name": "vps"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "mode": "insert",
        "messages": {
          "messageValues": [
            {
              "type": "user",
              "message": "={{ $('MsgA').item.json.chatInput }}",
              "hideFromUI": true
            },
            {
              "type": "ai",
              "message": "={{ $json.output }}",
              "hideFromUI": true
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        220,
        -200
      ],
      "id": "59b6dcce-f7f1-4c7e-b1cb-84c2ecc27d51",
      "name": "Chat Memory Manager"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "978480dd-1fbf-429f-880a-bd487fb78ce4",
              "name": "output",
              "value": "={{ $('AI Agent').item.json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        700,
        0
      ],
      "id": "8716b296-a7cf-4de9-a806-99f8bcb79dc1",
      "name": "output 2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "978480dd-1fbf-429f-880a-bd487fb78ce4",
              "name": "output",
              "value": "={{ $('get cache').item.json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        540,
        -200
      ],
      "id": "230a0607-d8a5-41b3-8749-1d2d2c10eba6",
      "name": "output 1"
    },
    {
      "parameters": {
        "sseEndpoint": "https://webhook.n8n.wmst.com.br/mcp/aiclinic-server-1/sse",
        "include": "selected",
        "includeTools": [
          "Health_Plan_Tool",
          "Methods_Payment_Tool"
        ]
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        500,
        180
      ],
      "id": "57bbbf83-b767-4010-bbda-0f4542271b7a",
      "name": "mcp information",
      "disabled": true
    },
    {
      "parameters": {
        "sseEndpoint": "https://webhook.n8n.wmst.com.br/mcp/aiclinic-server-3/sse",
        "include": "selected",
        "includeTools": [
          "Register_New_Pacient",
          "Get_Patient_Tool"
        ]
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        780,
        180
      ],
      "id": "9ddebfae-deb4-435e-b3fa-bd546e04c365",
      "name": "mcp pacient",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('MsgA').item.json.sessionId }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -160,
        -300
      ],
      "id": "2e8b69a6-d090-4489-8250-4625f8cc3ecf",
      "name": "reset memory",
      "credentials": {
        "redis": {
          "id": "ePjUcKkuSrLqo1Tt",
          "name": "vps"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -80,
        180
      ],
      "id": "5f7357f7-4e4f-4c32-977b-731b77f57a78",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "4e7WG955cWzVT2V5",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "sseEndpoint": "https://webhook.n8n.wmst.com.br/mcp/aiclinic-server-2/sse",
        "authentication": "headerAuth",
        "include": "selected",
        "includeTools": [
          "get_schedule_availability",
          "find_existing_appt_tool",
          "schedule_appt",
          "cancel_appt",
          "reschedule_appt_tool"
        ]
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        640,
        180
      ],
      "id": "ef64aee8-0a90-4e87-b8e4-2e934ca04561",
      "name": "mcp booking",
      "credentials": {
        "httpHeaderAuth": {
          "id": "nmUmytqX7rLnklTQ",
          "name": "AI Clinic Token"
        }
      }
    },
    {
      "parameters": {
        "sseEndpoint": "https://webhook.n8n.wmst.com.br/mcp/aiclinic-server-1/sse",
        "include": "selected",
        "includeTools": [
          "Exams_Tool",
          "Exam_Details_Tool"
        ]
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        1100,
        180
      ],
      "id": "b148782b-b665-4dd2-bfc3-28144da62f1c",
      "name": "mcp exams",
      "disabled": true
    },
    {
      "parameters": {
        "sseEndpoint": "https://webhook.n8n.wmst.com.br/mcp/aiclinic-server-1/sse",
        "include": "selected",
        "includeTools": [
          "Specialists_Tool"
        ]
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        940,
        180
      ],
      "id": "1bab046a-5b48-4ba8-8c26-9b7b966ba28f",
      "name": "mcp consults",
      "disabled": true
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-09-27T17:42:17.034Z",
      "updatedAt": "2024-09-27T17:42:17.034Z",
      "id": "TsfCA8eZuTObjOfy",
      "name": "Backup"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-04-26T15:37:20.820Z",
  "versionId": "b65d6bb2-6ef3-410f-92b1-b26ae7c859d1"
}