workflows/RAG Notion with Tags.json
{
  "active": false,
  "connections": {
    "Filter Non-Text Content": {
      "main": [
        [
          {
            "node": "Summarize - Concatenate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion - Retrieve Page Content": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create metadata and load content": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Summarize - Concatenate": {
      "main": [
        [
          {
            "node": "Page - Concatenate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Notion Get Page",
            "type": "main",
            "index": 0
          },
          {
            "node": "Delete Points",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notion Get Database",
            "type": "main",
            "index": 0
          },
          {
            "node": "Delete Points1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Empty-Content": {
      "main": [
        [
          {
            "node": "FAQ - Concatenate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FAQ - Concatenate": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion Get Page": {
      "main": [
        [
          {
            "node": "Filter Non-Text Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion Get Database": {
      "main": [
        [
          {
            "node": "Filter Empty-Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "baseInfo": {
      "main": [
        [
          {
            "node": "Notion - Retrieve Page Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Page - Concatenate": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "Join Question Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Create metadata and load content",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Generate Keywords",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "messageInfo": {
      "main": [
        [
          {
            "node": "Generate Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Join Question Content": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Keywords2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI3": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store3",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Create metadata and load content1": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store3",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Create metadata and load content1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store3": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "Auto-fixing Output Parser",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto-fixing Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Generate Keywords2",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Keywords2",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Auto-fixing Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Generate Keywords2": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "messageInfo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Keywords",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store2": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Generate Keywords": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-10-17T02:36:39.982Z",
  "id": "n8AQXeZJk8CcXdBd",
  "meta": {
    "templateId": "2290",
    "templateCredsSetupCompleted": true
  },
  "name": "RAG Notion with Tags",
  "nodes": [
    {
      "parameters": {
        "content": "## Store Notion's Pages as Vector Documents into Qdrant\n\n**This workflow assumes you have a Qdrant project with a table that has a vector column. If you don't have it, follow the instructions here:** [Qdrant Vector Columns Guide](https://qdrant.tech/documentation/overview/vector-search/)\n\n## Workflow Description\n\nThis workflow automates the process of storing Notion pages as vector documents in a Qdrant database with a vector column. The steps are as follows:\n\n1. **Notion Page Added Trigger**:\n   - Monitors a specified Notion database for newly added pages. You can create a specific Notion database where you copy the pages you want to store in Qdrant.\n   - Node: `Page Added in Notion Database`\n\n2. **Retrieve Page Content**:\n   - Fetches all block content from the newly added Notion page.\n   - Node: `Get Blocks Content`\n\n3. **Filter Non-Text Content**:\n   - Excludes blocks of type \"image\" and \"video\" to focus on textual content.\n   - Node: `Filter - Exclude Media Content`\n\n4. **Summarize Content**:\n   - Concatenates the Notion blocks content to create a single text for embedding.\n   - Node: `Summarize - Concatenate Notion's blocks content`\n\n5. **Store in Qdrant**:\n   - Stores the processed documents and their embeddings into a Qdrant table with a vector column.\n   - Node: `Store Documents in Qdrant`\n\n6. **Generate Embeddings**:\n   - Utilizes OpenAI's API to generate embeddings for the textual content.\n   - Node: `Generate Text Embeddings`\n\n\n7. **Create Metadata and Load Content**:\n   - Loads the block content and creates associated metadata, such as page ID and block ID.\n   - Node: `Load Block Content & Create Metadata`\n\n8. **Split Content into Chunks**:\n   - Divides the text into smaller chunks for easier processing and embedding generation.\n   - Node: `Token Splitter`\n\n\n\n",
        "height": 1113.7434387207031,
        "width": 637.1327972412109
      },
      "id": "495609cd-4ca0-426d-8413-69e771398188",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        100,
        -40
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "3f3e65dc-2b26-407c-87e5-52ba3b315fed",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        3440,
        -240
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "dRR3EqW0FEAbSHgt",
          "name": "william"
        }
      }
    },
    {
      "parameters": {
        "resource": "block",
        "operation": "getAll",
        "blockId": {
          "__rl": true,
          "value": "https://www.notion.so/iBox-Delivery-1217c386d92280e5b2d2f380fec51672",
          "mode": "url"
        },
        "limit": 2,
        "simplifyOutput": false
      },
      "id": "e4a6f524-e3f5-4d02-949a-8523f2d21965",
      "name": "Notion - Retrieve Page Content",
      "type": "n8n-nodes-base.notion",
      "position": [
        1280,
        340
      ],
      "typeVersion": 2.2,
      "credentials": {
        "notionApi": {
          "id": "eyQfrNhyfucklowG",
          "name": "william"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "e5b605e5-6d05-4bca-8f19-a859e474620f",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              },
              "leftValue": "={{ $json.type }}",
              "rightValue": "image"
            },
            {
              "id": "c7415859-5ffd-4c78-b497-91a3d6303b6f",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              },
              "leftValue": "={{ $json.type }}",
              "rightValue": "video"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "bfebc173-8d4b-4f8f-a625-4622949dd545",
      "name": "Filter Non-Text Content",
      "type": "n8n-nodes-base.filter",
      "position": [
        2240,
        -100
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.content }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "pageId",
                "value": "={{ $('Loop Over Items').item.json.id }}"
              },
              {
                "name": "createdTime",
                "value": "={{ $('Loop Over Items').item.json.created_time }}"
              },
              {
                "name": "pageTitle",
                "value": "={{ $('Loop Over Items').item.json[$('Loop Over Items').item.json.type].title }}"
              },
              {
                "name": "pageType",
                "value": "={{ $('Loop Over Items').item.json.type.split('_')[1] }}"
              },
              {
                "name": "keywords",
                "value": "={{ $fromAI(\"keywords\", \"\", \"string\", null) }}"
              }
            ]
          }
        }
      },
      "id": "0e64dbb5-20c1-4b90-b818-a1726aaf5112",
      "name": "Create metadata and load content",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        3520,
        -240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "content",
              "includeEmpty": true,
              "separateBy": "\n"
            }
          ]
        },
        "options": {
          "outputFormat": "separateItems"
        }
      },
      "id": "b04939f9-355a-430b-a069-b11800066313",
      "name": "Summarize - Concatenate",
      "type": "n8n-nodes-base.summarize",
      "position": [
        2440,
        -100
      ],
      "typeVersion": 1,
      "notes": "Summarize - Concatenate Notion's blocks content"
    },
    {
      "parameters": {},
      "id": "dbb03e3d-6cf0-4034-8508-75b739846153",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        920,
        340
      ],
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "d269790f-c39b-4dd1-aaa2-dabff793ecf9",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1480,
        340
      ]
    },
    {
      "parameters": {
        "amount": 0.5
      },
      "id": "12cf521a-ce7a-487d-96d5-e5fe0262dae4",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3740,
        -100
      ],
      "webhookId": "1cafe18b-c037-46ff-9f89-b3a0cdcea0dc"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "=child_page",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "page"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "aeb2b436-3a30-43a4-b0e5-d1c9c9fbe70d",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "child_database",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "database"
            }
          ]
        },
        "options": {}
      },
      "id": "435bab7f-5e39-4a8c-a2bb-bfadcc897df1",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1680,
        360
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "e5b605e5-6d05-4bca-8f19-a859e474620f",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $json.property_answer }}",
              "rightValue": "image"
            },
            {
              "id": "c7415859-5ffd-4c78-b497-91a3d6303b6f",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $json.property_answer }}",
              "rightValue": "video"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6f7d1568-c6dc-4341-970a-b622d1b0cbe1",
      "name": "Filter Empty-Content",
      "type": "n8n-nodes-base.filter",
      "position": [
        2240,
        380
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "54e5667d-a9d0-443a-9807-d15c93656348",
              "name": "content",
              "value": "={{ $('Filter Empty-Content').item.json.property_question }}\n{{ $('Filter Empty-Content').item.json.property_answer }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b0222ba8-8f4d-4dfa-955d-faee857d9b67",
      "name": "FAQ - Concatenate",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2640,
        380
      ]
    },
    {
      "parameters": {
        "resource": "block",
        "operation": "getAll",
        "blockId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "returnAll": true
      },
      "id": "8a12001e-dbcc-4203-b638-d214b364e016",
      "name": "Notion Get Page",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        2060,
        -100
      ],
      "executeOnce": true,
      "credentials": {
        "notionApi": {
          "id": "eyQfrNhyfucklowG",
          "name": "william"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "returnAll": true,
        "options": {}
      },
      "id": "9bbe16ef-d0b1-4732-ba66-8d24086e9f3a",
      "name": "Notion Get Database",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        2060,
        380
      ],
      "executeOnce": true,
      "credentials": {
        "notionApi": {
          "id": "eyQfrNhyfucklowG",
          "name": "william"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4735dedc-34eb-43e7-81b5-9fba04146f14",
              "name": "instance_name",
              "value": "=notion_ibox",
              "type": "string"
            },
            {
              "id": "bd2fee21-3c39-4a7d-874c-97e46c55e63b",
              "name": "qdrant_api",
              "value": "http://qdrant:6333",
              "type": "string"
            },
            {
              "id": "cdbb4a0c-da8c-4bad-9b48-0353c0ab5640",
              "name": "vector_name",
              "value": "notion_ibox",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f43b4eb1-7cb2-45dd-a73b-6deb772976cf",
      "name": "baseInfo",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1100,
        340
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "54e5667d-a9d0-443a-9807-d15c93656348",
              "name": "content",
              "value": "={{ $json.concatenated_content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "7609f389-489d-4dc3-874d-d0ab224d0655",
      "name": "Page - Concatenate",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2640,
        -100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('baseInfo').first().json.qdrant_api }}/collections/{{ $('baseInfo').first().json.vector_name }}/points",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "qdrantApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"ids\": [\"05bc7f80-cf37-4eee-bad0-a250eecf7212\"],\n  \"with_payload\": [\"content\",\"metadata\"]\n}\n",
        "options": {}
      },
      "id": "82bcb5f9-5033-4589-8fa8-0fa3b63c0986",
      "name": "Retrive Points",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1260,
        -160
      ],
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "qdrantApi": {
          "id": "ukGdBAa9ib5xqZKC",
          "name": "william"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "url": "={{ $('baseInfo').first().json.qdrant_api }}/collections",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "qdrantApi",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "6ea8ccf5-e32a-46ee-b837-8c0af968273a",
      "name": "List Collections",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        980,
        -440
      ],
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "qdrantApi": {
          "id": "ukGdBAa9ib5xqZKC",
          "name": "william"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "url": "={{ $('baseInfo').first().json.qdrant_api }}/collections/{{ $('baseInfo').first().json.vector_name }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "qdrantApi",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "11d80639-68fd-424f-ab57-261ee5244c80",
      "name": "Get Collection Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        980,
        -300
      ],
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "qdrantApi": {
          "id": "ukGdBAa9ib5xqZKC",
          "name": "william"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "url": "={{ $('baseInfo').first().json.qdrant_api }}/collections/{{ $('baseInfo').first().json.vector_name }}/exists",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "qdrantApi",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "679f8736-83c5-49f8-8c84-938c089fcdd3",
      "name": "Check Collection Existence",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        980,
        -160
      ],
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "qdrantApi": {
          "id": "ukGdBAa9ib5xqZKC",
          "name": "william"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('baseInfo').first().json.qdrant_api }}/collections/{{ $('baseInfo').first().json.vector_name }}/points/scroll",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "qdrantApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n    \"with_payload\": [\"content\", \"metadata\"],\n    \"filter\": {\n      \"must\": [\n        {\n          \"key\": \"metadata.pageTitle\",\n          \"match\": {\n            \"value\": \"1227c386-d922-80f6-a189-da47933003d0\"\n          }\n        }\n      ]\n    }\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "0aa0c35c-0f0c-49cd-b9eb-a505dacc1925",
      "name": "Scroll Points",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1260,
        -440
      ],
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "qdrantApi": {
          "id": "ukGdBAa9ib5xqZKC",
          "name": "william"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('baseInfo').first().json.qdrant_api }}/collections/{{ $('baseInfo').first().json.vector_name }}/points/delete",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "qdrantApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"filter\": {\n      \"must\": [\n        {\n          \"key\": \"metadata.pageId\",\n          \"match\": {\n            \"value\": \"{{ $json.id }}\"\n          }\n        }\n      ]\n    }\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "7ac2bbdd-2002-479c-8ae9-cb1d3bc9e03f",
      "name": "Delete Points",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2060,
        80
      ],
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "qdrantApi": {
          "id": "ukGdBAa9ib5xqZKC",
          "name": "william"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('baseInfo').first().json.qdrant_api }}/collections/{{ $('baseInfo').first().json.vector_name }}/points/scroll",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "qdrantApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n    \"with_payload\": [\"content\", \"metadata\"],\n    \"filter\": {\n      \"should\": [\n        {\n          \"key\": \"metadata.pageId\",\n          \"match\": {\n            \"value\": \"1227c386-d922-80f6-a189-da47933003d0\"\n          }\n        }\n      ]\n    }\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "4ce9a017-8515-4ab1-b6c6-4502b5f8ba20",
      "name": "Scroll Points All",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1260,
        -300
      ],
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "qdrantApi": {
          "id": "ukGdBAa9ib5xqZKC",
          "name": "william"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('baseInfo').first().json.qdrant_api }}/collections/{{ $('baseInfo').first().json.vector_name }}/points/delete",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "qdrantApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"filter\": {\n      \"must\": [\n        {\n          \"key\": \"metadata.pageId\",\n          \"match\": {\n            \"value\": \"{{ $json.id }}\"\n          }\n        }\n      ]\n    }\n}",
        "options": {}
      },
      "id": "97b366bb-0ae5-489f-bcf5-f50e42269041",
      "name": "Delete Points1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2060,
        540
      ],
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "qdrantApi": {
          "id": "ukGdBAa9ib5xqZKC",
          "name": "william"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "04f6ae9f-f5ca-4525-b7c6-eadd8625fc2e",
      "name": "Embeddings OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        1680,
        1680
      ],
      "credentials": {
        "openAiApi": {
          "id": "dRR3EqW0FEAbSHgt",
          "name": "william"
        }
      }
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "document.pageContent",
              "separateBy": "other",
              "customSeparator": "\\n\\n"
            }
          ]
        },
        "fieldsToSplitBy": "document.metadata.pageTitle",
        "options": {
          "continueIfFieldNotFound": true
        }
      },
      "id": "b8647a48-5de3-42e4-a6b0-a240cd2726a3",
      "name": "Summarize",
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1,
      "position": [
        2120,
        840
      ]
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "content"
            }
          ]
        },
        "options": {}
      },
      "id": "b66a1b47-5ee9-4dfd-84eb-e10aec98cd52",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2480,
        840
      ]
    },
    {
      "parameters": {
        "model": "llama-3.2-90b-text-preview",
        "options": {}
      },
      "id": "da2bc313-62e4-438a-829e-68377c829e67",
      "name": "Groq Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1920,
        1560
      ],
      "credentials": {
        "groqApi": {
          "id": "Qc9IFal2C1clPmRn",
          "name": "william"
        }
      }
    },
    {
      "parameters": {
        "name": "store_info",
        "description": "informações sobre a empresa e serviços prestados.",
        "topK": 10
      },
      "id": "a133c64f-53f6-4251-9a91-fb4217cbcbeb",
      "name": "Vector Store Tool",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        1800,
        1420
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini-2024-07-18",
        "options": {
          "temperature": 0.3
        }
      },
      "id": "8d38f261-3ea9-490d-9b80-b23098d374b5",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        1700,
        1380
      ],
      "credentials": {
        "openAiApi": {
          "id": "dRR3EqW0FEAbSHgt",
          "name": "william"
        }
      }
    },
    {
      "parameters": {
        "chunkOverlap": 100,
        "options": {
          "splitCode": "markdown"
        }
      },
      "id": "80a09794-0bcc-41d8-a1a2-9710792222e7",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        3520,
        -360
      ]
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "c9e665b2-f15b-491b-bcb8-42604f47dd35",
      "name": "Embeddings OpenAI2",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        1780,
        1020
      ],
      "credentials": {
        "openAiApi": {
          "id": "dRR3EqW0FEAbSHgt",
          "name": "william"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"keywords\": {\n      \"type\": \"array\",\n      \"maxItems\": 5,\n      \"items\": {\n        \"type\": \"string\"\n      }\n    }\n  }\n}"
      },
      "id": "3eb61933-22be-43fb-9fe6-eb11bbf4e56c",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        1520,
        1400
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "function documentClean(text, processingRule) {…}\n\nconst processingRule = {\n    rules: JSON.stringify({\n        pre_processing_rules: [\n            { id: \"remove_extra_spaces\", enabled: true },\n            { id: \"remove_urls_emails\", enabled: true }\n        ]\n    })\n};\n\nreturn { concatenated_content: documentClean($json.concatenated_content, processingRule) };"
      },
      "id": "6a6414d4-8abe-4bea-923b-d716b5334d85",
      "name": "documentClean",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        160
      ],
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e4a3a0f5-0c9b-4c9b-9b9b-02705b44bc89",
              "name": "conversation",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "facf036f-0a35-4beb-92bb-718034133a95",
      "name": "messageInfo",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1180,
        1220
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8e2d740b-6861-4b2e-a6c9-aca75b551540",
              "name": "content",
              "value": "={{ $json.document_metadata_pageTitle }}: {{ $json.concatenated_document_pageContent }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "9ca1a45b-e6cb-404d-8b93-7094c2bd4318",
      "name": "Join Question Content",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2300,
        840
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "18d118f1-5967-493c-a31c-479d7b251d47",
      "name": "Loop Over Items1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2800,
        380
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "={{ $('baseInfo').item.json.vector_name }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "14fb9cf2-2164-49ac-8558-88cc90a0270c",
      "name": "Qdrant Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        3440,
        -100
      ],
      "credentials": {
        "qdrantApi": {
          "id": "ukGdBAa9ib5xqZKC",
          "name": "william"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "50c1e074-ded6-4b26-b4c7-61e981df770e",
      "name": "Embeddings OpenAI3",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        3440,
        260
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "dRR3EqW0FEAbSHgt",
          "name": "william"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.content }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "pageId",
                "value": "={{ $('Loop Over Items').item.json.id }}"
              },
              {
                "name": "createdTime",
                "value": "={{ $('Loop Over Items').item.json.created_time }}"
              },
              {
                "name": "pageTitle",
                "value": "={{ $('Loop Over Items').item.json[$('Loop Over Items').item.json.type].title }}"
              },
              {
                "name": "pageType",
                "value": "={{ $('Loop Over Items').item.json.type.split('_')[1] }}"
              },
              {
                "name": "keywords",
                "value": "={{ $('Generate Keywords2').item.json.output.keywords.filter(item => item.length > 4).unique() }}"
              }
            ]
          }
        }
      },
      "id": "fe6284f4-7554-47df-973d-0fe6583e9465",
      "name": "Create metadata and load content1",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        3520,
        260
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chunkOverlap": 100,
        "options": {
          "splitCode": "markdown"
        }
      },
      "id": "81fe5c5f-44ab-4684-b100-26d32d4b0d9a",
      "name": "Recursive Character Text Splitter1",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        3520,
        160
      ]
    },
    {
      "parameters": {
        "content": "## Qdrant",
        "height": 512.0662957622236,
        "width": 457.9458021385195
      },
      "id": "a5540eb3-5939-4192-ae38-5688fd0f4136",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        940,
        -492.0582304950616
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "={{ $('baseInfo').item.json.vector_name }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "01b8514f-e8f0-473f-8680-604b02cb0c26",
      "name": "Qdrant Vector Store3",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        3440,
        400
      ],
      "credentials": {
        "qdrantApi": {
          "id": "ukGdBAa9ib5xqZKC",
          "name": "william"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"keywords\": {\n      \"type\": \"array\",\n      \"description\": \"Palavras-chave individuais relevantes, no máximo 5\",\n      \"maxItems\": 5,\n      \"items\": {\n        \"type\": \"string\"\n      }\n    }\n  },\n  \"required\": [\"keywords\"]\n}"
      },
      "id": "a95b290f-af4e-42c6-a4e4-e54346859c91",
      "name": "Structured Output Parser2",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        3160,
        700
      ]
    },
    {
      "parameters": {
        "amount": 2
      },
      "id": "058b174e-9bd4-459f-b928-2ae0bb27f14f",
      "name": "Wait1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3740,
        400
      ],
      "webhookId": "1cafe18b-c037-46ff-9f89-b3a0cdcea0dc"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9bacc086-2e2a-4af0-abde-5a129cd33b74",
              "name": "content",
              "value": "={{ $('Loop Over Items1').item.json.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b5eefe46-912a-476e-a781-3b8141089e95",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3280,
        400
      ]
    },
    {
      "parameters": {},
      "id": "27fff0b8-26d3-44f1-8293-7989daff1857",
      "name": "Auto-fixing Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserAutofixing",
      "typeVersion": 1,
      "position": [
        3080,
        580
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini-2024-07-18",
        "options": {
          "maxTokens": 2048,
          "maxRetries": 2
        }
      },
      "id": "0089d2a4-8d3f-4939-9366-a6dcc295c370",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        3000,
        580
      ],
      "credentials": {
        "openAiApi": {
          "id": "dRR3EqW0FEAbSHgt",
          "name": "william"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.content }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "Você é um especialista em identificação de palavras-chave. Sua tarefa é gerar palavras-chave altamente relevantes, tags e metadados com base no conteúdo fornecido pelo usuário. Separe todos os termos compostos em palavras-chave individuais para maximizar a cobertura semântica. Forneça até 5 itens em cada categoria (keywords, tags, metadatas)."
            }
          ]
        }
      },
      "id": "78fe49a0-6528-4aca-b5e6-5d072eedb56c",
      "name": "Generate Keywords2",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        2980,
        400
      ],
      "retryOnFail": true,
      "notesInFlow": false,
      "waitBetweenTries": 4000,
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "43d0a942-408e-4b14-841a-7ab2c7a30ba4",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        1000,
        1220
      ],
      "webhookId": "19a29629-c6aa-47ec-82b1-2f4ca64783ad"
    },
    {
      "parameters": {
        "model": "gpt-4o-mini-2024-07-18",
        "options": {}
      },
      "id": "da3f870c-ae17-461a-af60-ce312e17e6de",
      "name": "OpenAI Chat Model2",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        1360,
        1400
      ],
      "credentials": {
        "openAiApi": {
          "id": "dRR3EqW0FEAbSHgt",
          "name": "william"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('messageInfo').item.json.conversation }}",
        "messages": {
          "messageValues": [
            {
              "type": "AIMessagePromptTemplate",
              "message": "=\n{{ $json.content.join('\\\\n\\\\n').replaceAll('\\\\n', '\\n') }}\n"
            },
            {
              "message": "=\nVocê é uma assistente virtual chamada **Stephany**.\n\n## Diretrizes\n- Não responda nada que não tenha certeza do que esteja falando, evite inventar informação que não veio da \"AI\".\n- Use a data e hora atuais no formato ISO para requisições: `{{ $now.toISO() }}`. No entanto, nas respostas para o usuário, utilize o formato mais comum (ex: DD/MM/AAAA).\n- Não informe sobre taxas a não ser que seja perguntado.\n- Utilize emojis de maneira equilibrada para criar uma interação amigável.\n- Ao compartilhar links, forneça-os sem formatação (puro texto).\n- Para respostas longas, divida-as em partes para facilitar a compreensão do usuário.\n- Personalize as respostas usando o nome do usuário, quando possível e apropriado.\n- Seja sempre cordial e educado em suas respostas.\n- Mantenha respostas concisas e claras para evitar mal-entendidos.\n- Se não souber a resposta, seja transparente sobre isso e ofereça alternativas.\n- Nunca ofereça promessas ou garantias que não possam ser cumpridas.\n- Verifique sempre se há mais algo com que o cliente precise de ajuda antes de encerrar a conversa.\n- Adapte sua comunicação ao nível de entendimento do cliente para garantir clareza.\n- Responda às mensagens de forma oportuna e evite atrasos desnecessários.\n- Encoraje sempre a honestidade e a clareza nas comunicações.\n- Evite usar gírias ou linguagem informal em contextos profissionais.\n"
            }
          ]
        }
      },
      "id": "97702057-35be-49db-af74-beda09c4efda",
      "name": "Basic LLM Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        2660,
        840
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "model": "gpt-4o-mini-2024-07-18",
        "options": {}
      },
      "id": "8f24eb21-a46b-4176-bfcc-fa9aa02b1a4c",
      "name": "OpenAI Chat Model3",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        2660,
        1020
      ],
      "credentials": {
        "openAiApi": {
          "id": "dRR3EqW0FEAbSHgt",
          "name": "william"
        }
      }
    },
    {
      "parameters": {
        "mode": "load",
        "qdrantCollection": {
          "__rl": true,
          "value": "notion_ibox",
          "mode": "list",
          "cachedResultName": "notion_ibox"
        },
        "prompt": "={{ $('messageInfo').item.json.conversation }}",
        "topK": 3,
        "options": {}
      },
      "id": "ab9808e5-b326-44d0-8eca-f075a84ec464",
      "name": "Qdrant Vector Store2",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        1780,
        840
      ],
      "alwaysOutputData": true,
      "credentials": {
        "qdrantApi": {
          "id": "ukGdBAa9ib5xqZKC",
          "name": "william"
        }
      },
      "notes": "{\n  \"should\": [\n    {\n      \"key\": \"metadata.keywords\",\n      \"match\": {\n        \"any\": {{ $json.output.keywords.filter(item => item.length > 4).unique().toJsonString() }}\n      }\n    }\n  ]\n}"
    },
    {
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "value": "notion_ibox",
          "mode": "list",
          "cachedResultName": "notion_ibox"
        },
        "options": {
          "searchFilterJson": "={\n  \"should\": [\n    {\n      \"key\": \"metadata.keywords\",\n      \"match\": {\n        \"any\": {{ $json.output.keywords.filter(item => item.length > 4).unique().toJsonString() }}\n      }\n    }\n  ]\n}"
        }
      },
      "id": "6d0bc975-6ef1-4c8a-86bd-9544ce3c8803",
      "name": "Qdrant Vector Store1",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        1680,
        1560
      ],
      "credentials": {
        "qdrantApi": {
          "id": "ukGdBAa9ib5xqZKC",
          "name": "william"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.conversation }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "Você é um especialista em identificação de palavras-chave. Sua tarefa é gerar palavras-chave altamente relevantes, tags e metadados com base no conteúdo fornecido pelo usuário. Separe todos os termos compostos em palavras-chave individuais para maximizar a cobertura semântica. Forneça até 5 itens em cada categoria (keywords, tags, metadatas). Se não conseguir gerar nada, retorne um array vazio."
            }
          ]
        }
      },
      "id": "b96e61c6-a51a-46c4-a60c-b47f7e452eef",
      "name": "Generate Keywords",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        1360,
        1220
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('messageInfo').item.json.conversation }}",
        "options": {
          "systemMessage": "=Você é uma assistente virtual chamada **Stephany** da empresa **ibox delivery**, você irá responder e tirar duvidas dos usuários.\n\n## Diretrizes\n- Não responda nada que não tenha certeza do que esteja falando, evite inventar informação que não veio da \"AI\".\n- Use a data e hora atuais no formato ISO para requisições: `{{ $now.toISO() }}`. No entanto, nas respostas para o usuário, utilize o formato mais comum (ex: DD/MM/AAAA).\n- Não informe sobre taxas a não ser que seja perguntado.\n- Utilize emojis de maneira equilibrada para criar uma interação amigável.\n- Ao compartilhar links, forneça-os sem formatação (puro texto).\n- Para respostas longas, divida-as em partes para facilitar a compreensão do usuário.\n- Personalize as respostas usando o nome do usuário, quando possível e apropriado.\n- Seja sempre cordial e educado em suas respostas.\n- Mantenha respostas concisas e claras para evitar mal-entendidos.\n- Se não souber a resposta, seja transparente sobre isso e ofereça alternativas.\n- Nunca ofereça promessas ou garantias que não possam ser cumpridas.\n- Verifique sempre se há mais algo com que o cliente precise de ajuda antes de encerrar a conversa.\n- Adapte sua comunicação ao nível de entendimento do cliente para garantir clareza.\n- Responda às mensagens de forma oportuna e evite atrasos desnecessários.\n- Encoraje sempre a honestidade e a clareza nas comunicações.\n- Evite usar gírias ou linguagem informal em contextos profissionais.\n"
        }
      },
      "id": "2f9d4095-de7b-48db-bc02-ac4d85b36802",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        1700,
        1220
      ]
    }
  ],
  "pinData": {
    "Notion - Retrieve Page Content": [
      {
        "json": {
          "object": "block",
          "parent_id": "1217c386d92280e5b2d2f380fec51672",
          "id": "1227c386-d922-80f6-a189-da47933003d0",
          "parent": {
            "type": "page_id",
            "page_id": "1217c386-d922-80e5-b2d2-f380fec51672"
          },
          "created_time": "2024-10-17T02:45:00.000Z",
          "last_edited_time": "2024-10-17T14:47:00.000Z",
          "created_by": {
            "object": "user",
            "id": "121d872b-594c-8122-8b02-0002916a30c8"
          },
          "last_edited_by": {
            "object": "user",
            "id": "121d872b-594c-8122-8b02-0002916a30c8"
          },
          "has_children": true,
          "archived": false,
          "in_trash": false,
          "type": "child_page",
          "child_page": {
            "title": "Base de Conhecimento"
          }
        }
      },
      {
        "json": {
          "object": "block",
          "parent_id": "1217c386d92280e5b2d2f380fec51672",
          "id": "1227c386-d922-80ab-993b-c2d4c8b17c7b",
          "parent": {
            "type": "page_id",
            "page_id": "1217c386-d922-80e5-b2d2-f380fec51672"
          },
          "created_time": "2024-10-17T02:50:00.000Z",
          "last_edited_time": "2024-10-17T03:14:00.000Z",
          "created_by": {
            "object": "user",
            "id": "121d872b-594c-8122-8b02-0002916a30c8"
          },
          "last_edited_by": {
            "object": "user",
            "id": "121d872b-594c-8122-8b02-0002916a30c8"
          },
          "has_children": false,
          "archived": false,
          "in_trash": false,
          "type": "child_database",
          "child_database": {
            "title": "Perguntas Frequentes (FAQ)"
          }
        }
      }
    ],
    "Notion Get Page": [
      {
        "json": {
          "object": "block",
          "parent_id": "1227c386-d922-80f6-a189-da47933003d0",
          "id": "1227c386-d922-8029-b908-da6acb5bbaf4",
          "parent": {
            "type": "page_id",
            "page_id": "1227c386-d922-80f6-a189-da47933003d0"
          },
          "last_edited_by": {
            "object": "user",
            "id": "121d872b-594c-8122-8b02-0002916a30c8"
          },
          "has_children": false,
          "archived": false,
          "in_trash": false,
          "type": "heading_3",
          "root_id": "1227c386-d922-80f6-a189-da47933003d0",
          "content": "Sobre a Empresa"
        }
      },
      {
        "json": {
          "object": "block",
          "parent_id": "1227c386-d922-80f6-a189-da47933003d0",
          "id": "1227c386-d922-8041-a671-f10ed9577e1b",
          "parent": {
            "type": "page_id",
            "page_id": "1227c386-d922-80f6-a189-da47933003d0"
          },
          "last_edited_by": {
            "object": "user",
            "id": "121d872b-594c-8122-8b02-0002916a30c8"
          },
          "has_children": false,
          "archived": false,
          "in_trash": false,
          "type": "paragraph",
          "root_id": "1227c386-d922-80f6-a189-da47933003d0",
          "content": "A iBox, com 4 anos de experiência no mercado, é uma empresa inovadora especializada em soluções tecnológicas para o setor de alimentação. Nosso foco principal é fornecer sistemas avançados de controle de pedidos, tanto para delivery quanto para atendimento em mesas, adaptados às necessidades específicas de restaurantes, lanchonetes e outros estabelecimentos. Nosso objetivo é otimizar operações, aumentar a eficiência e melhorar a experiência do cliente, combinando tecnologia de ponta com uma interface intuitiva e amigável."
        }
      },
      {
        "json": {
          "object": "block",
          "parent_id": "1227c386-d922-80f6-a189-da47933003d0",
          "id": "1227c386-d922-80f8-8111-c5ae2c273804",
          "parent": {
            "type": "page_id",
            "page_id": "1227c386-d922-80f6-a189-da47933003d0"
          },
          "last_edited_by": {
            "object": "user",
            "id": "121d872b-594c-8122-8b02-0002916a30c8"
          },
          "has_children": false,
          "archived": false,
          "in_trash": false,
          "type": "paragraph",
          "root_id": "1227c386-d922-80f6-a189-da47933003d0",
          "content": ""
        }
      },
      {
        "json": {
          "object": "block",
          "parent_id": "1227c386-d922-80f6-a189-da47933003d0",
          "id": "1227c386-d922-80a8-9f83-f376f6130e8c",
          "parent": {
            "type": "page_id",
            "page_id": "1227c386-d922-80f6-a189-da47933003d0"
          },
          "last_edited_by": {
            "object": "user",
            "id": "121d872b-594c-8122-8b02-0002916a30c8"
          },
          "has_children": false,
          "archived": false,
          "in_trash": false,
          "type": "heading_3",
          "root_id": "1227c386-d922-80f6-a189-da47933003d0",
          "content": "Sobre o Sistema"
        }
      },
      {
        "json": {
          "object": "block",
          "parent_id": "1227c386-d922-80f6-a189-da47933003d0",
          "id": "1227c386-d922-80be-b63c-c63de954f9d1",
          "parent": {
            "type": "page_id",
            "page_id": "1227c386-d922-80f6-a189-da47933003d0"
          },
          "last_edited_by": {
            "object": "user",
            "id": "121d872b-594c-8122-8b02-0002916a30c8"
          },
          "has_children": false,
          "archived": false,
          "in_trash": false,
          "type": "paragraph",
          "root_id": "1227c386-d922-80f6-a189-da47933003d0",
          "content": "Nosso sistema possui dois modos principais de operação: iBox Professional para delivery e iBox Table para atendimento em mesas. Ambos os modos oferecem funcionalidades específicas para cada segmento, garantindo uma experiência personalizada e eficiente para os usuários. O sistema é online e atende todo o território nacional."
        }
      },
      {
        "json": {
          "object": "block",
          "parent_id": "1227c386-d922-80f6-a189-da47933003d0",
          "id": "1227c386-d922-8011-aa81-e70b1ef50c15",
          "parent": {
            "type": "page_id",
            "page_id": "1227c386-d922-80f6-a189-da47933003d0"
          },
          "last_edited_by": {
            "object": "user",
            "id": "121d872b-594c-8122-8b02-0002916a30c8"
          },
          "has_children": false,
          "archived": false,
          "in_trash": false,
          "type": "paragraph",
          "root_id": "1227c386-d922-80f6-a189-da47933003d0",
          "content": "Atendentemos diversos segmentos, como: restaurantes, pizzarias, hamburguerias, cafeterias, bares, lanchonetes, padarias, food trucks, entre outros. Nossos clientes variam de pequenos estabelecimentos locais a grandes redes de restaurantes, todos buscando uma solução completa e eficiente para gerenciar seus pedidos e aumentar suas vendas."
        }
      },
      {
        "json": {
          "object": "block",
          "parent_id": "1227c386-d922-80f6-a189-da47933003d0",
          "id": "1227c386-d922-8088-9f36-cb3b76d183d8",
          "parent": {
            "type": "page_id",
            "page_id": "1227c386-d922-80f6-a189-da47933003d0"
          },
          "last_edited_by": {
            "object": "user",
            "id": "121d872b-594c-8122-8b02-0002916a30c8"
          },
          "has_children": false,
          "archived": false,
          "in_trash": false,
          "type": "paragraph",
          "root_id": "1227c386-d922-80f6-a189-da47933003d0",
          "content": ""
        }
      },
      {
        "json": {
          "object": "block",
          "parent_id": "1227c386-d922-80f6-a189-da47933003d0",
          "id": "1227c386-d922-8011-ac9e-fbfe3e4d046d",
          "parent": {
            "type": "page_id",
            "page_id": "1227c386-d922-80f6-a189-da47933003d0"
          },
          "last_edited_by": {
            "object": "user",
            "id": "121d872b-594c-8122-8b02-0002916a30c8"
          },
          "has_children": false,
          "archived": false,
          "in_trash": false,
          "type": "heading_3",
          "root_id": "1227c386-d922-80f6-a189-da47933003d0",
          "content": "Planos e Preços"
        }
      },
      {
        "json": {
          "object": "block",
          "parent_id": "1227c386-d922-80f6-a189-da47933003d0",
          "id": "1227c386-d922-8051-9bc0-f8537144c4f5",
          "parent": {
            "type": "page_id",
            "page_id": "1227c386-d922-80f6-a189-da47933003d0"
          },
          "last_edited_by": {
            "object": "user",
            "id": "121d872b-594c-8122-8b02-0002916a30c8"
          },
          "has_children": false,
          "archived": false,
          "in_trash": false,
          "type": "paragraph",
          "root_id": "1227c386-d922-80f6-a189-da47933003d0",
          "content": "Para contratar um plano, acesse https://ibox.delivery."
        }
      },
      {
        "json": {
          "object": "block",
          "parent_id": "1227c386-d922-80f6-a189-da47933003d0",
          "id": "1227c386-d922-80d4-9b94-deb54b5fb93f",
          "parent": {
            "type": "page_id",
            "page_id": "1227c386-d922-80f6-a189-da47933003d0"
          },
          "last_edited_by": {
            "object": "user",
            "id": "121d872b-594c-8122-8b02-0002916a30c8"
          },
          "has_children": false,
          "archived": false,
          "in_trash": false,
          "type": "paragraph",
          "root_id": "1227c386-d922-80f6-a189-da47933003d0",
          "content": "Atualmente oferecemos três planos principais:"
        }
      },
      {
        "json": {
          "object": "block",
          "parent_id": "1227c386-d922-80f6-a189-da47933003d0",
          "id": "1227c386-d922-80c6-9920-d4befe606037",
          "parent": {
            "type": "page_id",
            "page_id": "1227c386-d922-80f6-a189-da47933003d0"
          },
          "last_edited_by": {
            "object": "user",
            "id": "121d872b-594c-8122-8b02-0002916a30c8"
          },
          "has_children": false,
          "archived": false,
          "in_trash": false,
          "type": "numbered_list_item",
          "root_id": "1227c386-d922-80f6-a189-da47933003d0",
          "content": "iBox Professional para delivery"
        }
      },
      {
        "json": {
          "object": "block",
          "parent_id": "1227c386-d922-80f6-a189-da47933003d0",
          "id": "1227c386-d922-8020-8665-f21712ca31ec",
          "parent": {
            "type": "page_id",
            "page_id": "1227c386-d922-80f6-a189-da47933003d0"
          },
          "last_edited_by": {
            "object": "user",
            "id": "121d872b-594c-8122-8b02-0002916a30c8"
          },
          "has_children": false,
          "archived": false,
          "in_trash": false,
          "type": "numbered_list_item",
          "root_id": "1227c386-d922-80f6-a189-da47933003d0",
          "content": "iBox Table para atendimento em mesas"
        }
      },
      {
        "json": {
          "object": "block",
          "parent_id": "1227c386-d922-80f6-a189-da47933003d0",
          "id": "1227c386-d922-80ab-90e7-f76e181c606a",
          "parent": {
            "type": "page_id",
            "page_id": "1227c386-d922-80f6-a189-da47933003d0"
          },
          "last_edited_by": {
            "object": "user",
            "id": "121d872b-594c-8122-8b02-0002916a30c8"
          },
          "has_children": false,
          "archived": false,
          "in_trash": false,
          "type": "numbered_list_item",
          "root_id": "1227c386-d922-80f6-a189-da47933003d0",
          "content": "iBox Economic Plus que combina as funcionalidades dos planos Professional e Table"
        }
      },
      {
        "json": {
          "object": "block",
          "parent_id": "1227c386-d922-80f6-a189-da47933003d0",
          "id": "1227c386-d922-80cc-b09f-feb5a2a1c80d",
          "parent": {
            "type": "page_id",
            "page_id": "1227c386-d922-80f6-a189-da47933003d0"
          },
          "last_edited_by": {
            "object": "user",
            "id": "121d872b-594c-8122-8b02-0002916a30c8"
          },
          "has_children": false,
          "archived": false,
          "in_trash": false,
          "type": "paragraph",
          "root_id": "1227c386-d922-80f6-a189-da47933003d0",
          "content": ""
        }
      },
      {
        "json": {
          "object": "block",
          "parent_id": "1227c386-d922-80f6-a189-da47933003d0",
          "id": "1227c386-d922-807a-b9f8-d4497aa85d0c",
          "parent": {
            "type": "page_id",
            "page_id": "1227c386-d922-80f6-a189-da47933003d0"
          },
          "last_edited_by": {
            "object": "user",
            "id": "121d872b-594c-8122-8b02-0002916a30c8"
          },
          "has_children": false,
          "archived": false,
          "in_trash": false,
          "type": "heading_3",
          "root_id": "1227c386-d922-80f6-a189-da47933003d0",
          "content": "1. iBox Professional"
        }
      },
      {
        "json": {
          "object": "block",
          "parent_id": "1227c386-d922-80f6-a189-da47933003d0",
          "id": "1227c386-d922-80dd-96c5-e55917c567aa",
          "parent": {
            "type": "page_id",
            "page_id": "1227c386-d922-80f6-a189-da47933003d0"
          },
          "last_edited_by": {
            "object": "user",
            "id": "121d872b-594c-8122-8b02-0002916a30c8"
          },
          "has_children": false,
          "archived": false,
          "in_trash": false,
          "type": "paragraph",
          "root_id": "1227c386-d922-80f6-a189-da47933003d0",
          "content": "Descrição: Ideal para estabelecimentos que realizam entregas de pedidos, como restaurantes, pizzarias e lanchonetes."
        }
      },
      {
        "json": {
          "object": "block",
          "parent_id": "1227c386-d922-80f6-a189-da47933003d0",
          "id": "1227c386-d922-805f-bdf3-e5812b7b8059",
          "parent": {
            "type": "page_id",
            "page_id": "1227c386-d922-80f6-a189-da47933003d0"
          },
          "last_edited_by": {
            "object": "user",
            "id": "121d872b-594c-8122-8b02-0002916a30c8"
          },
          "has_children": false,
          "archived": false,
          "in_trash": false,
          "type": "paragraph",
          "root_id": "1227c386-d922-80f6-a189-da47933003d0",
          "content": "Valores: R$ 169,90/mês, com desconto de 5% na compra de 3 meses, 10% em 6 meses e 15% na contratação de 12 meses."
        }
      },
      {
        "json": {
          "object": "block",
          "parent_id": "1227c386-d922-80f6-a189-da47933003d0",
          "id": "1227c386-d922-8091-b603-f76bb262d7a7",
          "parent": {
            "type": "page_id",
            "page_id": "1227c386-d922-80f6-a189-da47933003d0"
          },
          "last_edited_by": {
            "object": "user",
            "id": "121d872b-594c-8122-8b02-0002916a30c8"
          },
          "has_children": false,
          "archived": false,
          "in_trash": false,
          "type": "paragraph",
          "root_id": "1227c386-d922-80f6-a189-da47933003d0",
          "content": "Lista de Funcionalidades:"
        }
      },
      {
        "json": {
          "object": "block",
          "parent_id": "1227c386-d922-80f6-a189-da47933003d0",
          "id": "1227c386-d922-8089-9870-d81acfaa90e9",
          "parent": {
            "type": "page_id",
            "page_id": "1227c386-d922-80f6-a189-da47933003d0"
          },
          "last_edited_by": {
            "object": "user",
            "id": "121d872b-594c-8122-8b02-0002916a30c8"
          },
          "has_children": false,
          "archived": false,
          "in_trash": false,
          "type": "bulleted_list_item",
          "root_id": "1227c386-d922-80f6-a189-da47933003d0",
          "content": "Acesso ao sistema por computador e celular"
        }
      },
      {
        "json": {
          "object": "block",
          "parent_id": "1227c386-d922-80f6-a189-da47933003d0",
          "id": "1227c386-d922-80ef-92bc-d1289454767f",
          "parent": {
            "type": "page_id",
            "page_id": "1227c386-d922-80f6-a189-da47933003d0"
          },
          "last_edited_by": {
            "object": "user",
            "id": "121d872b-594c-8122-8b02-0002916a30c8"
          },
          "has_children": false,
          "archived": false,
          "in_trash": false,
          "type": "bulleted_list_item",
          "root_id": "1227c386-d922-80f6-a189-da47933003d0",
          "content": "Cadastro de produtos personalizados"
        }
      },
      {
        "json": {
          "object": "block",
          "parent_id": "1227c386-d922-80f6-a189-da47933003d0",
          "id": "1227c386-d922-8003-aff8-c4db1e5ae7f5",
          "parent": {
            "type": "page_id",
            "page_id": "1227c386-d922-80f6-a189-da47933003d0"
          },
          "last_edited_by": {
            "object": "user",
            "id": "121d872b-594c-8122-8b02-0002916a30c8"
          },
          "has_children": false,
          "archived": false,
          "in_trash": false,
          "type": "bulleted_list_item",
          "root_id": "1227c386-d922-80f6-a189-da47933003d0",
          "content": "Impressão automática de pedidos"
        }
      },
      {
        "json": {
          "object": "block",
          "parent_id": "1227c386-d922-80f6-a189-da47933003d0",
          "id": "1227c386-d922-80b6-ba2e-d3544228d4d0",
          "parent": {
            "type": "page_id",
            "page_id": "1227c386-d922-80f6-a189-da47933003d0"
          },
          "last_edited_by": {
            "object": "user",
            "id": "121d872b-594c-8122-8b02-0002916a30c8"
          },
          "has_children": false,
          "archived": false,
          "in_trash": false,
          "type": "bulleted_list_item",
          "root_id": "1227c386-d922-80f6-a189-da47933003d0",
          "content": "Relatórios detalhados sobre vendas"
        }
      },
      {
        "json": {
          "object": "block",
          "parent_id": "1227c386-d922-80f6-a189-da47933003d0",
          "id": "1227c386-d922-808e-8f57-c94bdb5c0700",
          "parent": {
            "type": "page_id",
            "page_id": "1227c386-d922-80f6-a189-da47933003d0"
          },
          "last_edited_by": {
            "object": "user",
            "id": "121d872b-594c-8122-8b02-0002916a30c8"
          },
          "has_children": false,
          "archived": false,
          "in_trash": false,
          "type": "bulleted_list_item",
          "root_id": "1227c386-d922-80f6-a189-da47933003d0",
          "content": "Alerta de pedidos recebidos direto no Navegador"
        }
      },
      {
        "json": {
          "object": "block",
          "parent_id": "1227c386-d922-80f6-a189-da47933003d0",
          "id": "1227c386-d922-8040-8e01-d35362812feb",
          "parent": {
            "type": "page_id",
            "page_id": "1227c386-d922-80f6-a189-da47933003d0"
          },
          "last_edited_by": {
            "object": "user",
            "id": "121d872b-594c-8122-8b02-0002916a30c8"
          },
          "has_children": false,
          "archived": false,
          "in_trash": false,
          "type": "bulleted_list_item",
          "root_id": "1227c386-d922-80f6-a189-da47933003d0",
          "content": "Acompanhamento em tempo real"
        }
      },
      {
        "json": {
          "object": "block",
          "parent_id": "1227c386-d922-80f6-a189-da47933003d0",
          "id": "1227c386-d922-804f-8596-e796473da076",
          "parent": {
            "type": "page_id",
            "page_id": "1227c386-d922-80f6-a189-da47933003d0"
          },
          "last_edited_by": {
            "object": "user",
            "id": "121d872b-594c-8122-8b02-0002916a30c8"
          },
          "has_children": false,
          "archived": false,
          "in_trash": false,
          "type": "paragraph",
          "root_id": "1227c386-d922-80f6-a189-da47933003d0",
          "content": "Funcionalidades Específicas para Delivery:"
        }
      },
      {
        "json": {
          "object": "block",
          "parent_id": "1227c386-d922-80f6-a189-da47933003d0",
          "id": "1227c386-d922-8032-b588-f8060dbbdb7e",
          "parent": {
            "type": "page_id",
            "page_id": "1227c386-d922-80f6-a189-da47933003d0"
          },
          "last_edited_by": {
            "object": "user",
            "id": "121d872b-594c-8122-8b02-0002916a30c8"
          },
          "has_children": false,
          "archived": false,
          "in_trash": false,
          "type": "bulleted_list_item",
          "root_id": "1227c386-d922-80f6-a189-da47933003d0",
          "content": "Cadastro de entregadores"
        }
      },
      {
        "json": {
          "object": "block",
          "parent_id": "1227c386-d922-80f6-a189-da47933003d0",
          "id": "1227c386-d922-8037-b664-caa7118a4e3d",
          "parent": {
            "type": "page_id",
            "page_id": "1227c386-d922-80f6-a189-da47933003d0"
          },
          "last_edited_by": {
            "object": "user",
            "id": "121d872b-594c-8122-8b02-0002916a30c8"
          },
          "has_children": false,
          "archived": false,
          "in_trash": false,
          "type": "bulleted_list_item",
          "root_id": "1227c386-d922-80f6-a189-da47933003d0",
          "content": "Cardápio digital com link exclusivo"
        }
      },
      {
        "json": {
          "object": "block",
          "parent_id": "1227c386-d922-80f6-a189-da47933003d0",
          "id": "1227c386-d922-8078-a0d2-fbc2ac447af7",
          "parent": {
            "type": "page_id",
            "page_id": "1227c386-d922-80f6-a189-da47933003d0"
          },
          "last_edited_by": {
            "object": "user",
            "id": "121d872b-594c-8122-8b02-0002916a30c8"
          },
          "has_children": false,
          "archived": false,
          "in_trash": false,
          "type": "bulleted_list_item",
          "root_id": "1227c386-d922-80f6-a189-da47933003d0",
          "content": "Robô de Atendimento Automático via WhatsApp"
        }
      },
      {
        "json": {
          "object": "block",
          "parent_id": "1227c386-d922-80f6-a189-da47933003d0",
          "id": "1227c386-d922-80cd-8983-f732667bafe7",
          "parent": {
            "type": "page_id",
            "page_id": "1227c386-d922-80f6-a189-da47933003d0"
          },
          "last_edited_by": {
            "object": "user",
            "id": "121d872b-594c-8122-8b02-0002916a30c8"
          },
          "has_children": false,
          "archived": false,
          "in_trash": false,
          "type": "bulleted_list_item",
          "root_id": "1227c386-d922-80f6-a189-da47933003d0",
          "content": "QR Code do cardápio digital para impressão"
        }
      },
      {
        "json": {
          "object": "block",
          "parent_id": "1227c386-d922-80f6-a189-da47933003d0",
          "id": "1227c386-d922-80fe-a7fa-e78756e020d4",
          "parent": {
            "type": "page_id",
            "page_id": "1227c386-d922-80f6-a189-da47933003d0"
          },
          "last_edited_by": {
            "object": "user",
            "id": "121d872b-594c-8122-8b02-0002916a30c8"
          },
          "has_children": false,
          "archived": false,
          "in_trash": false,
          "type": "bulleted_list_item",
          "root_id": "1227c386-d922-80f6-a189-da47933003d0",
          "content": "Recebimento de pagamentos imediato direto na conta do estabelecimento"
        }
      },
      {
        "json": {
          "object": "block",
          "parent_id": "1227c386-d922-80f6-a189-da47933003d0",
          "id": "1227c386-d922-805b-a83f-f0397b9dda8a",
          "parent": {
            "type": "page_id",
            "page_id": "1227c386-d922-80f6-a189-da47933003d0"
          },
          "last_edited_by": {
            "object": "user",
            "id": "121d872b-594c-8122-8b02-0002916a30c8"
          },
          "has_children": false,
          "archived": false,
          "in_trash": false,
          "type": "bulleted_list_item",
          "root_id": "1227c386-d922-80f6-a189-da47933003d0",
          "content": "Cupons de desconto personalizados"
        }
      },
      {
        "json": {
          "object": "block",
          "parent_id": "1227c386-d922-80f6-a189-da47933003d0",
          "id": "1227c386-d922-80fd-809c-ded94849fd71",
          "parent": {
            "type": "page_id",
            "page_id": "1227c386-d922-80f6-a189-da47933003d0"
          },
          "last_edited_by": {
            "object": "user",
            "id": "121d872b-594c-8122-8b02-0002916a30c8"
          },
          "has_children": false,
          "archived": false,
          "in_trash": false,
          "type": "bulleted_list_item",
          "root_id": "1227c386-d922-80f6-a189-da47933003d0",
          "content": "Taxas de entrega personalizadas"
        }
      },
      {
        "json": {
          "object": "block",
          "parent_id": "1227c386-d922-80f6-a189-da47933003d0",
          "id": "1227c386-d922-8036-a610-d97528068211",
          "parent": {
            "type": "page_id",
            "page_id": "1227c386-d922-80f6-a189-da47933003d0"
          },
          "last_edited_by": {
            "object": "user",
            "id": "121d872b-594c-8122-8b02-0002916a30c8"
          },
          "has_children": false,
          "archived": false,
          "in_trash": false,
          "type": "bulleted_list_item",
          "root_id": "1227c386-d922-80f6-a189-da47933003d0",
          "content": "Notificações sobre pedidos para os usuários via WhatsApp"
        }
      },
      {
        "json": {
          "object": "block",
          "parent_id": "1227c386-d922-80f6-a189-da47933003d0",
          "id": "1227c386-d922-80c5-bf4c-dd80941757f6",
          "parent": {
            "type": "page_id",
            "page_id": "1227c386-d922-80f6-a189-da47933003d0"
          },
          "last_edited_by": {
            "object": "user",
            "id": "121d872b-594c-8122-8b02-0002916a30c8"
          },
          "has_children": false,
          "archived": false,
          "in_trash": false,
          "type": "paragraph",
          "root_id": "1227c386-d922-80f6-a189-da47933003d0",
          "content": "Não cobramos taxa de instalação, e nem sobre o valor das vendas. Apenas uma taxa de R$ 1,00 por pedido finalizado via PIX Online no plano Professional."
        }
      },
      {
        "json": {
          "object": "block",
          "parent_id": "1227c386-d922-80f6-a189-da47933003d0",
          "id": "1227c386-d922-80b7-9aeb-e8c8437091cf",
          "parent": {
            "type": "page_id",
            "page_id": "1227c386-d922-80f6-a189-da47933003d0"
          },
          "last_edited_by": {
            "object": "user",
            "id": "121d872b-594c-8122-8b02-0002916a30c8"
          },
          "has_children": false,
          "archived": false,
          "in_trash": false,
          "type": "paragraph",
          "root_id": "1227c386-d922-80f6-a189-da47933003d0",
          "content": ""
        }
      },
      {
        "json": {
          "object": "block",
          "parent_id": "1227c386-d922-80f6-a189-da47933003d0",
          "id": "1227c386-d922-80f1-900d-d59036d787e0",
          "parent": {
            "type": "page_id",
            "page_id": "1227c386-d922-80f6-a189-da47933003d0"
          },
          "last_edited_by": {
            "object": "user",
            "id": "121d872b-594c-8122-8b02-0002916a30c8"
          },
          "has_children": false,
          "archived": false,
          "in_trash": false,
          "type": "heading_3",
          "root_id": "1227c386-d922-80f6-a189-da47933003d0",
          "content": "2. iBox Table"
        }
      },
      {
        "json": {
          "object": "block",
          "parent_id": "1227c386-d922-80f6-a189-da47933003d0",
          "id": "1227c386-d922-80eb-a20c-d973f7f064e7",
          "parent": {
            "type": "page_id",
            "page_id": "1227c386-d922-80f6-a189-da47933003d0"
          },
          "last_edited_by": {
            "object": "user",
            "id": "121d872b-594c-8122-8b02-0002916a30c8"
          },
          "has_children": false,
          "archived": false,
          "in_trash": false,
          "type": "paragraph",
          "root_id": "1227c386-d922-80f6-a189-da47933003d0",
          "content": "Descrição: Ideal para restaurantes, bares e lanchonetes que desejam um sistema completo para gerenciar pedidos e atendimento em mesas."
        }
      },
      {
        "json": {
          "object": "block",
          "parent_id": "1227c386-d922-80f6-a189-da47933003d0",
          "id": "1227c386-d922-80e0-9a23-d8dd2cca86f9",
          "parent": {
            "type": "page_id",
            "page_id": "1227c386-d922-80f6-a189-da47933003d0"
          },
          "last_edited_by": {
            "object": "user",
            "id": "121d872b-594c-8122-8b02-0002916a30c8"
          },
          "has_children": false,
          "archived": false,
          "in_trash": false,
          "type": "paragraph",
          "root_id": "1227c386-d922-80f6-a189-da47933003d0",
          "content": "Valores: R$ 94,92/mês, com desconto de 5% na compra de 3 meses, 10% em 6 meses e 15% na contratação de 12 meses."
        }
      },
      {
        "json": {
          "object": "block",
          "parent_id": "1227c386-d922-80f6-a189-da47933003d0",
          "id": "1227c386-d922-80a5-97bb-dc945a3f4b60",
          "parent": {
            "type": "page_id",
            "page_id": "1227c386-d922-80f6-a189-da47933003d0"
          },
          "last_edited_by": {
            "object": "user",
            "id": "121d872b-594c-8122-8b02-0002916a30c8"
          },
          "has_children": false,
          "archived": false,
          "in_trash": false,
          "type": "paragraph",
          "root_id": "1227c386-d922-80f6-a189-da47933003d0",
          "content": "Lista de Funcionalidades:"
        }
      },
      {
        "json": {
          "object": "block",
          "parent_id": "1227c386-d922-80f6-a189-da47933003d0",
          "id": "1227c386-d922-805c-9ea8-e7a4200bf649",
          "parent": {
            "type": "page_id",
            "page_id": "1227c386-d922-80f6-a189-da47933003d0"
          },
          "last_edited_by": {
            "object": "user",
            "id": "121d872b-594c-8122-8b02-0002916a30c8"
          },
          "has_children": false,
          "archived": false,
          "in_trash": false,
          "type": "bulleted_list_item",
          "root_id": "1227c386-d922-80f6-a189-da47933003d0",
          "content": "Acesso ao sistema por computador e celular"
        }
      },
      {
        "json": {
          "object": "block",
          "parent_id": "1227c386-d922-80f6-a189-da47933003d0",
          "id": "1227c386-d922-8037-af6b-eddbc755cc93",
          "parent": {
            "type": "page_id",
            "page_id": "1227c386-d922-80f6-a189-da47933003d0"
          },
          "last_edited_by": {
            "object": "user",
            "id": "121d872b-594c-8122-8b02-0002916a30c8"
          },
          "has_children": false,
          "archived": false,
          "in_trash": false,
          "type": "bulleted_list_item",
          "root_id": "1227c386-d922-80f6-a189-da47933003d0",
          "content": "Cadastro de produtos personalizados"
        }
      },
      {
        "json": {
          "object": "block",
          "parent_id": "1227c386-d922-80f6-a189-da47933003d0",
          "id": "1227c386-d922-80de-bcf0-dee1147c3630",
          "parent": {
            "type": "page_id",
            "page_id": "1227c386-d922-80f6-a189-da47933003d0"
          },
          "last_edited_by": {
            "object": "user",
            "id": "121d872b-594c-8122-8b02-0002916a30c8"
          },
          "has_children": false,
          "archived": false,
          "in_trash": false,
          "type": "bulleted_list_item",
          "root_id": "1227c386-d922-80f6-a189-da47933003d0",
          "content": "Impressão automática de pedidos"
        }
      },
      {
        "json": {
          "object": "block",
          "parent_id": "1227c386-d922-80f6-a189-da47933003d0",
          "id": "1227c386-d922-80aa-b0e3-c66d81a96f82",
          "parent": {
            "type": "page_id",
            "page_id": "1227c386-d922-80f6-a189-da47933003d0"
          },
          "last_edited_by": {
            "object": "user",
            "id": "121d872b-594c-8122-8b02-0002916a30c8"
          },
          "has_children": false,
          "archived": false,
          "in_trash": false,
          "type": "bulleted_list_item",
          "root_id": "1227c386-d922-80f6-a189-da47933003d0",
          "content": "Relatórios detalhados sobre vendas"
        }
      },
      {
        "json": {
          "object": "block",
          "parent_id": "1227c386-d922-80f6-a189-da47933003d0",
          "id": "1227c386-d922-80bc-97ed-cffa82e86805",
          "parent": {
            "type": "page_id",
            "page_id": "1227c386-d922-80f6-a189-da47933003d0"
          },
          "last_edited_by": {
            "object": "user",
            "id": "121d872b-594c-8122-8b02-0002916a30c8"
          },
          "has_children": false,
          "archived": false,
          "in_trash": false,
          "type": "bulleted_list_item",
          "root_id": "1227c386-d922-80f6-a189-da47933003d0",
          "content": "Acompanhamento em tempo real"
        }
      },
      {
        "json": {
          "object": "block",
          "parent_id": "1227c386-d922-80f6-a189-da47933003d0",
          "id": "1227c386-d922-80b7-a9cd-d02f834e8845",
          "parent": {
            "type": "page_id",
            "page_id": "1227c386-d922-80f6-a189-da47933003d0"
          },
          "last_edited_by": {
            "object": "user",
            "id": "121d872b-594c-8122-8b02-0002916a30c8"
          },
          "has_children": false,
          "archived": false,
          "in_trash": false,
          "type": "paragraph",
          "root_id": "1227c386-d922-80f6-a189-da47933003d0",
          "content": "Funcionalidades Específicas para Atendimento em Mesas:"
        }
      },
      {
        "json": {
          "object": "block",
          "parent_id": "1227c386-d922-80f6-a189-da47933003d0",
          "id": "1227c386-d922-80fc-bf93-dda8e553ad6c",
          "parent": {
            "type": "page_id",
            "page_id": "1227c386-d922-80f6-a189-da47933003d0"
          },
          "last_edited_by": {
            "object": "user",
            "id": "121d872b-594c-8122-8b02-0002916a30c8"
          },
          "has_children": false,
          "archived": false,
          "in_trash": false,
          "type": "bulleted_list_item",
          "root_id": "1227c386-d922-80f6-a189-da47933003d0",
          "content": "Cadastro de garçons"
        }
      },
      {
        "json": {
          "object": "block",
          "parent_id": "1227c386-d922-80f6-a189-da47933003d0",
          "id": "1227c386-d922-8097-89cc-d87601779e6f",
          "parent": {
            "type": "page_id",
            "page_id": "1227c386-d922-80f6-a189-da47933003d0"
          },
          "last_edited_by": {
            "object": "user",
            "id": "121d872b-594c-8122-8b02-0002916a30c8"
          },
          "has_children": false,
          "archived": false,
          "in_trash": false,
          "type": "bulleted_list_item",
          "root_id": "1227c386-d922-80f6-a189-da47933003d0",
          "content": "Cadastro de mesas"
        }
      },
      {
        "json": {
          "object": "block",
          "parent_id": "1227c386-d922-80f6-a189-da47933003d0",
          "id": "1227c386-d922-80e2-b8d9-e5e6166f1b20",
          "parent": {
            "type": "page_id",
            "page_id": "1227c386-d922-80f6-a189-da47933003d0"
          },
          "last_edited_by": {
            "object": "user",
            "id": "121d872b-594c-8122-8b02-0002916a30c8"
          },
          "has_children": false,
          "archived": false,
          "in_trash": false,
          "type": "bulleted_list_item",
          "root_id": "1227c386-d922-80f6-a189-da47933003d0",
          "content": "Gerenciamento de pedidos por mesa"
        }
      },
      {
        "json": {
          "object": "block",
          "parent_id": "1227c386-d922-80f6-a189-da47933003d0",
          "id": "1227c386-d922-80bc-9f4a-cbcbf1aac10f",
          "parent": {
            "type": "page_id",
            "page_id": "1227c386-d922-80f6-a189-da47933003d0"
          },
          "last_edited_by": {
            "object": "user",
            "id": "121d872b-594c-8122-8b02-0002916a30c8"
          },
          "has_children": false,
          "archived": false,
          "in_trash": false,
          "type": "bulleted_list_item",
          "root_id": "1227c386-d922-80f6-a189-da47933003d0",
          "content": "Divisão de contas por cliente"
        }
      },
      {
        "json": {
          "object": "block",
          "parent_id": "1227c386-d922-80f6-a189-da47933003d0",
          "id": "1227c386-d922-8011-97ff-db3e87080ed2",
          "parent": {
            "type": "page_id",
            "page_id": "1227c386-d922-80f6-a189-da47933003d0"
          },
          "last_edited_by": {
            "object": "user",
            "id": "121d872b-594c-8122-8b02-0002916a30c8"
          },
          "has_children": false,
          "archived": false,
          "in_trash": false,
          "type": "paragraph",
          "root_id": "1227c386-d922-80f6-a189-da47933003d0",
          "content": ""
        }
      },
      {
        "json": {
          "object": "block",
          "parent_id": "1227c386-d922-80f6-a189-da47933003d0",
          "id": "1227c386-d922-80a5-8f1f-fed609aca109",
          "parent": {
            "type": "page_id",
            "page_id": "1227c386-d922-80f6-a189-da47933003d0"
          },
          "last_edited_by": {
            "object": "user",
            "id": "121d872b-594c-8122-8b02-0002916a30c8"
          },
          "has_children": false,
          "archived": false,
          "in_trash": false,
          "type": "heading_3",
          "root_id": "1227c386-d922-80f6-a189-da47933003d0",
          "content": "3. iBox Economic Plus"
        }
      },
      {
        "json": {
          "object": "block",
          "parent_id": "1227c386-d922-80f6-a189-da47933003d0",
          "id": "1227c386-d922-8055-b67e-db2a25425102",
          "parent": {
            "type": "page_id",
            "page_id": "1227c386-d922-80f6-a189-da47933003d0"
          },
          "last_edited_by": {
            "object": "user",
            "id": "121d872b-594c-8122-8b02-0002916a30c8"
          },
          "has_children": false,
          "archived": false,
          "in_trash": false,
          "type": "paragraph",
          "root_id": "1227c386-d922-80f6-a189-da47933003d0",
          "content": "Descrição: Combina as funcionalidades dos planos Professional e Table, oferecendo desconto em relação à contratação separada."
        }
      },
      {
        "json": {
          "object": "block",
          "parent_id": "1227c386-d922-80f6-a189-da47933003d0",
          "id": "1227c386-d922-8095-b1ce-eca75796ef32",
          "parent": {
            "type": "page_id",
            "page_id": "1227c386-d922-80f6-a189-da47933003d0"
          },
          "last_edited_by": {
            "object": "user",
            "id": "121d872b-594c-8122-8b02-0002916a30c8"
          },
          "has_children": false,
          "archived": false,
          "in_trash": false,
          "type": "paragraph",
          "root_id": "1227c386-d922-80f6-a189-da47933003d0",
          "content": "Valor: R$ 199,90/mês, com desconto de 5% na compra de 3 meses, 10% em 6 meses e 15% na contratação de 12 meses."
        }
      },
      {
        "json": {
          "object": "block",
          "parent_id": "1227c386-d922-80f6-a189-da47933003d0",
          "id": "1227c386-d922-8073-82dc-d5f3a46c4f24",
          "parent": {
            "type": "page_id",
            "page_id": "1227c386-d922-80f6-a189-da47933003d0"
          },
          "last_edited_by": {
            "object": "user",
            "id": "121d872b-594c-8122-8b02-0002916a30c8"
          },
          "has_children": false,
          "archived": false,
          "in_trash": false,
          "type": "paragraph",
          "root_id": "1227c386-d922-80f6-a189-da47933003d0",
          "content": ""
        }
      },
      {
        "json": {
          "object": "block",
          "parent_id": "1227c386-d922-80f6-a189-da47933003d0",
          "id": "1227c386-d922-8080-920d-e53c44d9ec3e",
          "parent": {
            "type": "page_id",
            "page_id": "1227c386-d922-80f6-a189-da47933003d0"
          },
          "last_edited_by": {
            "object": "user",
            "id": "121d872b-594c-8122-8b02-0002916a30c8"
          },
          "has_children": false,
          "archived": false,
          "in_trash": false,
          "type": "heading_3",
          "root_id": "1227c386-d922-80f6-a189-da47933003d0",
          "content": "Suporte e Contato"
        }
      },
      {
        "json": {
          "object": "block",
          "parent_id": "1227c386-d922-80f6-a189-da47933003d0",
          "id": "1227c386-d922-80e1-8afc-f38fa773d1cb",
          "parent": {
            "type": "page_id",
            "page_id": "1227c386-d922-80f6-a189-da47933003d0"
          },
          "last_edited_by": {
            "object": "user",
            "id": "121d872b-594c-8122-8b02-0002916a30c8"
          },
          "has_children": false,
          "archived": false,
          "in_trash": false,
          "type": "bulleted_list_item",
          "root_id": "1227c386-d922-80f6-a189-da47933003d0",
          "content": "E-mail de Suporte: contato@ibox.delivery"
        }
      },
      {
        "json": {
          "object": "block",
          "parent_id": "1227c386-d922-80f6-a189-da47933003d0",
          "id": "1227c386-d922-80ab-84a6-ea7816ecb286",
          "parent": {
            "type": "page_id",
            "page_id": "1227c386-d922-80f6-a189-da47933003d0"
          },
          "last_edited_by": {
            "object": "user",
            "id": "121d872b-594c-8122-8b02-0002916a30c8"
          },
          "has_children": false,
          "archived": false,
          "in_trash": false,
          "type": "bulleted_list_item",
          "root_id": "1227c386-d922-80f6-a189-da47933003d0",
          "content": "WhatsApp: +55 (12) 98218-4879"
        }
      },
      {
        "json": {
          "object": "block",
          "parent_id": "1227c386-d922-80f6-a189-da47933003d0",
          "id": "1227c386-d922-80b3-9cb4-f19446afb92b",
          "parent": {
            "type": "page_id",
            "page_id": "1227c386-d922-80f6-a189-da47933003d0"
          },
          "last_edited_by": {
            "object": "user",
            "id": "121d872b-594c-8122-8b02-0002916a30c8"
          },
          "has_children": false,
          "archived": false,
          "in_trash": false,
          "type": "bulleted_list_item",
          "root_id": "1227c386-d922-80f6-a189-da47933003d0",
          "content": "Horário de Suporte: Segunda a Domingo, das 9h às 22h"
        }
      },
      {
        "json": {
          "object": "block",
          "parent_id": "1227c386-d922-80f6-a189-da47933003d0",
          "id": "1227c386-d922-80d0-b5c2-e790cf7ee472",
          "parent": {
            "type": "page_id",
            "page_id": "1227c386-d922-80f6-a189-da47933003d0"
          },
          "last_edited_by": {
            "object": "user",
            "id": "121d872b-594c-8122-8b02-0002916a30c8"
          },
          "has_children": false,
          "archived": false,
          "in_trash": false,
          "type": "bulleted_list_item",
          "root_id": "1227c386-d922-80f6-a189-da47933003d0",
          "content": "Tempo de Resposta: Até 24 horas"
        }
      }
    ],
    "Notion Get Database": [
      {
        "json": {
          "id": "1227c386-d922-80a4-8544-e3d8ec788600",
          "name": "Existe algum treinamento ou material de apoio disponível para os funcionários aprenderem a usar o sistema?",
          "url": "https://www.notion.so/Existe-algum-treinamento-ou-material-de-apoio-dispon-vel-para-os-funcion-rios-aprenderem-a-usar-o-si-1227c386d92280a48544e3d8ec788600",
          "property_answer": "Sim, oferecemos treinamento online e material de apoio para auxiliar os funcionários a aprenderem a usar o sistema de forma eficiente. Além disso, nosso suporte está disponível para esclarecer dúvidas e fornecer suporte técnico.",
          "property_updated_at": {
            "start": "2024-10-17T00:13:00.000-03:00",
            "end": null,
            "time_zone": null
          },
          "property_question": "Existe algum treinamento ou material de apoio disponível para os funcionários aprenderem a usar o sistema?"
        }
      },
      {
        "json": {
          "id": "1227c386-d922-80ef-b24a-c322df1a9f2b",
          "name": "O sistema oferece suporte para múltiplos idiomas?",
          "url": "https://www.notion.so/O-sistema-oferece-suporte-para-m-ltiplos-idiomas-1227c386d92280efb24ac322df1a9f2b",
          "property_answer": "No momento, o sistema está disponível apenas em português, mas estamos trabalhando para adicionar suporte a outros idiomas em breve.",
          "property_updated_at": {
            "start": "2024-10-17T00:13:00.000-03:00",
            "end": null,
            "time_zone": null
          },
          "property_question": "O sistema oferece suporte para múltiplos idiomas?"
        }
      },
      {
        "json": {
          "id": "1227c386-d922-80c3-978f-c2f0e2996e13",
          "name": "Qual é a política de backup e segurança dos dados?",
          "url": "https://www.notion.so/Qual-a-pol-tica-de-backup-e-seguran-a-dos-dados-1227c386d92280c3978fc2f0e2996e13",
          "property_answer": "Realizamos backups diários dos dados dos clientes e utilizamos criptografia para garantir a segurança das informações. Além disso, nossos servidores são protegidos por firewalls e outras medidas de segurança.",
          "property_updated_at": {
            "start": "2024-10-17T00:13:00.000-03:00",
            "end": null,
            "time_zone": null
          },
          "property_question": "Qual é a política de backup e segurança dos dados?"
        }
      },
      {
        "json": {
          "id": "1227c386-d922-80f8-9e38-f5a43b6d0d16",
          "name": "Existe um programa de afiliados ou indicação para parceiros?",
          "url": "https://www.notion.so/Existe-um-programa-de-afiliados-ou-indica-o-para-parceiros-1227c386d92280f89e38f5a43b6d0d16",
          "property_answer": "No momento, não possuímos um programa de afiliados, mas estamos abertos a parcerias e indicações. Entre em contato conosco para mais informações.",
          "property_updated_at": {
            "start": "2024-10-17T00:13:00.000-03:00",
            "end": null,
            "time_zone": null
          },
          "property_question": "Existe um programa de afiliados ou indicação para parceiros?"
        }
      },
      {
        "json": {
          "id": "1227c386-d922-80cf-b180-d7b741ac9447",
          "name": "Há um limite de produtos ou categorias que podem ser cadastrados no sistema?",
          "url": "https://www.notion.so/H-um-limite-de-produtos-ou-categorias-que-podem-ser-cadastrados-no-sistema-1227c386d92280cfb180d7b741ac9447",
          "property_answer": "Por padrão, não há limite de produtos ou categorias que podem ser cadastrados. Caso haja necessidade de um número muito grande de produtos, entre em contato com o suporte para avaliação.",
          "property_updated_at": {
            "start": "2024-10-17T00:13:00.000-03:00",
            "end": null,
            "time_zone": null
          },
          "property_question": "Há um limite de produtos ou categorias que podem ser cadastrados no sistema?"
        }
      },
      {
        "json": {
          "id": "1227c386-d922-80b4-81bb-ce09f53a52b5",
          "name": "O sistema é compatível com quais sistemas operacionais e dispositivos?",
          "url": "https://www.notion.so/O-sistema-compat-vel-com-quais-sistemas-operacionais-e-dispositivos-1227c386d92280b481bbce09f53a52b5",
          "property_answer": "Nosso sistema é compatível com Windows, MacOS, Android e iOS, podendo ser acessado por computadores, tablets e smartphones.",
          "property_updated_at": {
            "start": "2024-10-17T00:13:00.000-03:00",
            "end": null,
            "time_zone": null
          },
          "property_question": "O sistema é compatível com quais sistemas operacionais e dispositivos?"
        }
      },
      {
        "json": {
          "id": "1227c386-d922-80f3-88cc-cc3846c08c43",
          "name": "Existe um período de teste gratuito para experimentar o sistema antes de assinar?",
          "url": "https://www.notion.so/Existe-um-per-odo-de-teste-gratuito-para-experimentar-o-sistema-antes-de-assinar-1227c386d92280f388cccc3846c08c43",
          "property_answer": "Sim, oferecemos um período de teste gratuito de 7 dias para que você possa experimentar todas as funcionalidades do sistema antes de decidir pela contratação.",
          "property_updated_at": {
            "start": "2024-10-17T00:13:00.000-03:00",
            "end": null,
            "time_zone": null
          },
          "property_question": "Existe um período de teste gratuito para experimentar o sistema antes de assinar?"
        }
      },
      {
        "json": {
          "id": "1227c386-d922-8005-b3b4-e788b3a2eb79",
          "name": "Qual é o tempo médio de implementação do sistema após a contratação?",
          "url": "https://www.notion.so/Qual-o-tempo-m-dio-de-implementa-o-do-sistema-ap-s-a-contrata-o-1227c386d9228005b3b4e788b3a2eb79",
          "property_answer": "Não possuímos um tempo fixo, mas a maioria dos clientes consegue configurar e começar a usar o sistema em menos de 24 horas. O suporte está disponível para auxiliar em qualquer etapa do processo.",
          "property_updated_at": {
            "start": "2024-10-17T00:13:00.000-03:00",
            "end": null,
            "time_zone": null
          },
          "property_question": "Qual é o tempo médio de implementação do sistema após a contratação?"
        }
      },
      {
        "json": {
          "id": "1227c386-d922-80eb-99cf-e5c45fb5e5b1",
          "name": "Posso personalizar o cardápio digital?",
          "url": "https://www.notion.so/Posso-personalizar-o-card-pio-digital-1227c386d92280eb99cfe5c45fb5e5b1",
          "property_answer": "Sim, você pode personalizar o cardápio com fotos e descrições dos produtos, além de alterar preços e categorias conforme sua necessidade. Outras personalizações podem ser feitas sob consulta.",
          "property_updated_at": {
            "start": "2024-10-17T00:13:00.000-03:00",
            "end": null,
            "time_zone": null
          },
          "property_question": "Posso personalizar o cardápio digital?"
        }
      },
      {
        "json": {
          "id": "1227c386-d922-80fe-8f37-df2dc15cc0cb",
          "name": "Quais são os métodos de pagamento aceitos?",
          "url": "https://www.notion.so/Quais-s-o-os-m-todos-de-pagamento-aceitos-1227c386d92280fe8f37df2dc15cc0cb",
          "property_answer": "Aceitamos os principais métodos de pagamento, como PIX, dinheiro, cartões de crédito e débito para contratação dos planos.",
          "property_updated_at": {
            "start": "2024-10-17T00:13:00.000-03:00",
            "end": null,
            "time_zone": null
          },
          "property_question": "Quais são os métodos de pagamento aceitos?"
        }
      },
      {
        "json": {
          "id": "1227c386-d922-800e-9224-daf18877b6b3",
          "name": "É possível usar o sistema de mesa e delivery ao mesmo tempo?",
          "url": "https://www.notion.so/poss-vel-usar-o-sistema-de-mesa-e-delivery-ao-mesmo-tempo-1227c386d922800e9224daf18877b6b3",
          "property_answer": "Sim, ambos são integrados e podem ser usados simultaneamente.",
          "property_updated_at": {
            "start": "2024-10-17T00:13:00.000-03:00",
            "end": null,
            "time_zone": null
          },
          "property_question": "É possível usar o sistema de mesa e delivery ao mesmo tempo?"
        }
      },
      {
        "json": {
          "id": "1227c386-d922-80a5-9a92-f3cc14285ab5",
          "name": "Como posso cancelar meu plano?",
          "url": "https://www.notion.so/Como-posso-cancelar-meu-plano-1227c386d92280a59a92f3cc14285ab5",
          "property_answer": "Basta não realizar o pagamento. Nossos planos são pré-pagos, então não há fidelidade.",
          "property_updated_at": {
            "start": "2024-10-17T00:13:00.000-03:00",
            "end": null,
            "time_zone": null
          },
          "property_question": "Como posso cancelar meu plano?"
        }
      },
      {
        "json": {
          "id": "1227c386-d922-8022-9093-e91396fe107c",
          "name": "Há algum custo adicional além do valor mensal do plano?",
          "url": "https://www.notion.so/H-algum-custo-adicional-al-m-do-valor-mensal-do-plano-1227c386d92280229093e91396fe107c",
          "property_answer": "Não, exceto a taxa de R$ 1,00 por pedido finalizado via PIX Online no plano Professional.",
          "property_updated_at": {
            "start": "2024-10-17T00:13:00.000-03:00",
            "end": null,
            "time_zone": null
          },
          "property_question": "Há algum custo adicional além do valor mensal do plano?"
        }
      },
      {
        "json": {
          "id": "1227c386-d922-805f-90f2-e33e4d48b63f",
          "name": "Como é o processo de instalação e configuração do sistema?",
          "url": "https://www.notion.so/Como-o-processo-de-instala-o-e-configura-o-do-sistema-1227c386d922805f90f2e33e4d48b63f",
          "property_answer": "Rápido e simples, inicie o cadastro no site e siga as instruções, em poucos minutos você já estará pronto para começar a usar. Se precisar de ajuda, nosso suporte está disponível para auxiliá-lo.",
          "property_updated_at": {
            "start": "2024-10-17T00:13:00.000-03:00",
            "end": null,
            "time_zone": null
          },
          "property_question": "Como é o processo de instalação e configuração do sistema?"
        }
      },
      {
        "json": {
          "id": "a7338ab8-3770-411c-ae56-f3fb21524221",
          "name": "Posso alterar meu plano após a assinatura?",
          "url": "https://www.notion.so/Posso-alterar-meu-plano-ap-s-a-assinatura-a7338ab83770411cae56f3fb21524221",
          "property_answer": "Sim, basta entrar em contato com o suporte.",
          "property_updated_at": {
            "start": "2024-10-17T00:13:00.000-03:00",
            "end": null,
            "time_zone": null
          },
          "property_question": "Posso alterar meu plano após a assinatura?"
        }
      }
    ]
  },
  "settings": {},
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-09-27T17:42:17.034Z",
      "updatedAt": "2024-09-27T17:42:17.034Z",
      "id": "TsfCA8eZuTObjOfy",
      "name": "Backup"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-10-19T23:59:07.586Z",
  "versionId": "1a3a47d1-48cf-4a16-a257-eede9122aa58"
}