workflows/TOOL Clinica Med Center.json
{
  "active": false,
  "connections": {
    "EWT": {
      "main": [
        [
          {
            "node": "Request to Tool?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query": {
      "main": [
        [
          {
            "node": "EWT 2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "EWT Fixed": {
      "main": [
        [
          {
            "node": "EWT 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contextual Compression Retriever": {
      "ai_retriever": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Retriever": {
      "ai_retriever": [
        [
          {
            "node": "Contextual Compression Retriever",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    },
    "Question and Answer Chain": {
      "main": [
        [
          {
            "node": "Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Contextual Compression Retriever",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Question and Answer Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Qdant Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Qdant Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Retriever",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Format Specialists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Tool": {
      "main": [
        [],
        [
          {
            "node": "Get Specialists",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Exams",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Details Exam",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Details Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Appointment Scheduling Agent": {
      "main": [
        [
          {
            "node": "Response2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Availability Tool": {
      "ai_tool": [
        [
          {
            "node": "Appointment Scheduling Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Existing Appt Tool": {
      "ai_tool": [
        [
          {
            "node": "Appointment Scheduling Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Find Existing Appt Tool": {
      "ai_tool": [
        [
          {
            "node": "Appointment Scheduling Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Cancel Appt Tool": {
      "ai_tool": [
        [
          {
            "node": "Appointment Scheduling Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Appt Tool": {
      "ai_tool": [
        [
          {
            "node": "Appointment Scheduling Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Reschedule Appt Tool": {
      "ai_tool": [
        [
          {
            "node": "Appointment Scheduling Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Appointment Scheduling Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Appointment Scheduling Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Procedures Tool": {
      "ai_tool": [
        [
          {
            "node": "Appointment Scheduling Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Chat": {
      "main": [
        [
          {
            "node": "Query",
            "type": "main",
            "index": 0
          },
          {
            "node": "EWT Fixed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request to Tool?": {
      "main": [
        [
          {
            "node": "Switch Tool",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Agent": {
      "main": [
        [
          {
            "node": "Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Cached?": {
      "main": [
        [
          {
            "node": "List Specialists",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Load Specialists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reset Memo": {
      "main": [
        [
          {
            "node": "Appointment Scheduling Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize": {
      "main": [
        [
          {
            "node": "Reset Memo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Update User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update User": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Delete User Account",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EWT 2": {
      "main": [
        [
          {
            "node": "Request to Tool?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Exams": {
      "main": [
        [
          {
            "node": "Data Cached? 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Exams": {
      "main": [
        [
          {
            "node": "Aggregate 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate 2": {
      "main": [
        [
          {
            "node": "Format Exams",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Exams": {
      "main": [
        [
          {
            "node": "Set Exams",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Exams": {
      "main": [
        [
          {
            "node": "Response4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Exams": {
      "main": [
        [
          {
            "node": "Response4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Cached? 2": {
      "main": [
        [
          {
            "node": "List Exams",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Load Exams",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Details Exam": {
      "main": [
        [
          {
            "node": "Data Cached? 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Details Exam": {
      "main": [
        [
          {
            "node": "Aggregate Exam",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Exam Details": {
      "main": [
        [
          {
            "node": "Set Exam Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Exam Details": {
      "main": [
        [
          {
            "node": "Response5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Cached? 3": {
      "main": [
        [
          {
            "node": "Details Exam",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Exam not found?": {
      "main": [
        [
          {
            "node": "Response Exam Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Calendar to Exams",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Specialists": {
      "main": [
        [
          {
            "node": "Data Cached?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Specialists": {
      "main": [
        [
          {
            "node": "Response3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Specialists": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Specialists": {
      "main": [
        [
          {
            "node": "Set Specialists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Specialists": {
      "main": [
        [
          {
            "node": "Response3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Cached? ": {
      "main": [
        [
          {
            "node": "Details Calendar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Details Calendar": {
      "main": [
        [
          {
            "node": "Data Cached? ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Details Calendar": {
      "main": [
        [
          {
            "node": "Aggregate 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate 3": {
      "main": [
        [
          {
            "node": "Calendar not found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Calendar Details": {
      "main": [
        [
          {
            "node": "Response6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Calendar Details": {
      "main": [
        [
          {
            "node": "Set Calendar Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calendar not found?": {
      "main": [
        [
          {
            "node": "Response Calendar Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Calendar Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Calendar to Exams": {
      "main": [
        [
          {
            "node": "Format Exam Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Exam": {
      "main": [
        [
          {
            "node": "Exam not found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response In Development": {
      "main": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-11-15T18:33:48.659Z",
  "id": "JZY3GPC55leuxyHn",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "TOOL Clinica Med Center",
  "nodes": [
    {
      "parameters": {},
      "id": "031ea9fc-c53f-4a6f-88be-a070538aa4d6",
      "name": "EWT",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        740,
        760
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1123d8e-c791-4dda-bbd0-e24c5b1d35d2",
              "name": "query.query",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "9ec9d580-43c2-4945-aaad-7f1f28b18556",
      "name": "Query",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        520,
        920
      ],
      "disabled": true
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"query\": {\n    \"user\": {\n      \"email\": \"williamkillerca@hotmail.com\"\n    },\n    \"pacient\": {\n      \"name\": \"William Almeida\"\n    },\n    \"query\": \"Agendar consulta com Dra. Rita Martom às 17:00 hoje.\"\n  },\n  \"agent\": \"calendar\",\n  \"messageInfo\": {\n    \"evo_api\": \"https://apiwp.wmst.com.br\",\n    \"instance\": \"ibox_cli_23\",\n    \"remoteJid\": \"5512982184879@s.whatsapp.net\",\n    \"pushName\": \"W.M. Soluções Tecnologicas\",\n    \"fromMe\": false,\n    \"unique_id\": \"william_5512982184879\",\n    \"debounce_time\": 5,\n    \"conversation\": \"as 17hrs\"\n  },\n  \"userAccount\": {\n    \"id\": 10,\n    \"remoteJid\": 5512982184879,\n    \"name\": null,\n    \"email\": null,\n    \"date_birth\": null,\n    \"address\": null,\n    \"created_at\": \"2024-11-18T04:17:02.326408+00:00\"\n  }\n}",
        "options": {}
      },
      "id": "be94c5e9-9db6-4c9d-8d3a-dec6a39dd78a",
      "name": "EWT Fixed",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        520,
        1080
      ],
      "disabled": true
    },
    {
      "parameters": {},
      "id": "80fcf8d3-0a4e-47b6-ac93-e701d21f1db6",
      "name": "Contextual Compression Retriever",
      "type": "@n8n/n8n-nodes-langchain.retrieverContextualCompression",
      "typeVersion": 1,
      "position": [
        2380,
        840
      ],
      "disabled": true
    },
    {
      "parameters": {
        "topK": "={{ $json.slots }}"
      },
      "id": "cfcd75ea-4251-4628-88d9-396589171d7c",
      "name": "Vector Store Retriever",
      "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
      "typeVersion": 1,
      "position": [
        2660,
        840
      ],
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemPromptTemplate": "Use the following pieces of context to answer the users question. If you don't know the answer, just say that you don't know, don't try to make up an answer.\n----------------\n{context}"
        }
      },
      "id": "93ba3023-aa4c-4b47-bb1f-7d21841045c0",
      "name": "Question and Answer Chain",
      "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
      "typeVersion": 1.3,
      "position": [
        2260,
        640
      ],
      "disabled": true
    },
    {
      "parameters": {
        "model": "llama-3.2-90b-text-preview",
        "options": {
          "temperature": 0
        }
      },
      "id": "55e590d8-f110-455f-9290-9597ba46e430",
      "name": "Groq Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        2260,
        840
      ],
      "credentials": {
        "groqApi": {
          "id": "Qc9IFal2C1clPmRn",
          "name": "william"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "e099ff70-e0ca-42ef-9c3d-4cfb790973a5",
      "name": "Embeddings OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        3220,
        840
      ],
      "credentials": {
        "openAiApi": {
          "id": "dRR3EqW0FEAbSHgt",
          "name": "william"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "value": "notion_faro",
          "mode": "list",
          "cachedResultName": "notion_faro"
        },
        "options": {
          "searchFilterJson": "={\n  \"should\": [\n    {\n      \"key\": \"metadata.type\",\n      \"match\": {\n        \"value\": \"{{ $('EWT').item.json.type ?? '' }}\"\n      }\n    }\n  ]\n}"
        }
      },
      "id": "2899748b-af1e-4b24-ae12-1409240e7eb8",
      "name": "Qdant Vector Store1",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        2940,
        840
      ],
      "credentials": {
        "qdrantApi": {
          "id": "ukGdBAa9ib5xqZKC",
          "name": "william"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "=data",
        "include": "allFieldsExcept",
        "fieldsToExclude": "instance_name,active,created_at,empresa,cal_username",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1820,
        -120
      ],
      "id": "efea46ed-0c5f-431e-b4f4-45954303df22",
      "name": "Aggregate",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.tool }}",
                    "rightValue": "rag",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "RAG"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5ece5fd9-4267-4bf2-a1b7-23b5d1c2362f",
                    "leftValue": "={{ $json.tool }}",
                    "rightValue": "specialists",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Procedures"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "42639684-02d9-4a30-96b2-cf1cb1df7b74",
                    "leftValue": "={{ $json.tool }}",
                    "rightValue": "supabase",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "supabase"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "82cfd93c-100b-4167-a74a-97be2345ff5e",
                    "leftValue": "={{ $json.tool }}",
                    "rightValue": "exams",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "exams"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "842d1b7b-1008-4d19-b983-c6cab57bb716",
                    "leftValue": "={{ $json.tool }}",
                    "rightValue": "exam details",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "exam details"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9b5f5609-379c-4f48-acb1-f823cf989818",
                    "leftValue": "={{ $json.tool }}",
                    "rightValue": "calendar details",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "calendar details"
            }
          ]
        },
        "options": {}
      },
      "id": "6ce5f04b-155b-4f55-9972-ed22f2b8cc00",
      "name": "Switch Tool",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1120,
        680
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "93b3a4ae-a50c-4b62-9872-f980bc19054c",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "84c653aa-55b7-408c-a70a-e65247e2ef30",
      "name": "Response2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2020,
        1140
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5e79ee57-938d-43a1-b3d4-084472693f30",
              "name": "response2",
              "value": "={{ $json.data.map(item => `- ${item.professional}, ${item.procedure}, crm ${item.crm}, event_id ${item.event_id}, price ${item.price}`).join('\\n') }}",
              "type": "string"
            },
            {
              "id": "d627fd60-f2b4-4840-9e24-38dace9a13e6",
              "name": "response",
              "value": "={{ $json.data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "25b096a1-f682-42a6-9bb2-b82e07ab178d",
      "name": "Response3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2220,
        40
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=You are an appointment scheduling helper.\n\n## Context:\nThe current date and time is '{{ $now.setLocale('en').weekdayLong }}, {{ $now.format(\"dd MMM yyyy HH:mm\") }}'.\nAll dates should be in ISO format.\nDuration of consultations is 60 minutes.\nAlways display booking ID and UID.\nDates should be displayed in d/M/Y format.\nUse a full-day range for availability checks.\n\n<previously mapped data>\nEmail Address: `{{ $json.userAccount.email ? $json.userAccount.email : '' }}`\nCellphone number: `{{ $json.messageInfo.remoteJid.split('@')[0] }}`\nFull name: `{{ $json.userAccount.name ? $json.userAccount.name : $json.messageInfo.pushName }}`\nAddress: `{{ $json.userAccount.endereco ?? '' }}`\n</previously mapped data>\n\n## Workflow Guidelines:\n1. **New Booking**:\n   - Ask if the user has an existing booking before proceeding.\n   - Collect Missing Information:\n      Explicitly inform the user about the information already available and only request what is missing: Email address, Full name, Cellphone number, Proposed date and preferred start time.\n\n   - Verify availability using the \"availability\" tool.\n   - If available, use \"schedule_appt_tool\" to book the appointment.\n   - Confirm the booking and provide the ID and UID to the user.\n\n2. **Existing Bookings**:\n   - Ask for the booking UID or email address to locate the booking if not provided.\n   - If the email address is identified or mapped, use it to locate the booking automatically without asking for confirmation.\n   - Use \"get_existing_appt_tool\" or \"find_existing_appt_tool\" to retrieve details.\n\n3. **Rescheduling**:\n   - Ask for the booking UID.\n   - Use \"reschedule_appt_tool\" with the new date and time.\n   - Confirm with the user before rescheduling.\n\n4. **Cancellation**:\n  - Ask for the reservation UID and reason for cancellation.\n  - Use \"cancel_appt_tool\" to cancel the booking.\n  - Confirm with the user before proceeding.\n\n5. **Check Availability**\n  - Ask for professional.\n  - Use \"procedures_tool\" to retrive event_id.\n\n5. **Errors and Feedback**:\n   - Notify the user if inputs are missing or invalid.\n   - Suggest corrections or alternatives where applicable.",
          "maxIterations": 7
        }
      },
      "id": "4babc4bb-6c11-40f7-afb6-bfc121f313cd",
      "name": "Appointment Scheduling Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        1700,
        1140
      ],
      "notes": "You are an appointment scheduling helper for consultant named William.\n\n## About William\nWilliam is a São Paulo-based consultant specialising in Laravel, n8n and AI. His website is wmst.com.br.\n\n## About the appointments\nAlways start your conversation by politely asking if the user wants to book a new appointment or enquire about an existing one.\nThe date and time now is {{ $now.toISO() }}. All dates should be given in the ISO format.\nEach appointment should have a start and end date and time relative to today's date in the future.\nAll appointments are strictly 30mins long.\n\n## To book an appointment\n* Before booking an appointment, ask if the user has an existing appointment.\n* Ensure you have the user's email address, full name and proposed date, preferred start time before booking an appointment.\n* Always check the calendar availability of the user's proposed date and time. If there is no availability, suggest the next available appointment slot.\n* If the appointment booking is successful, notify the user that an email confirmation will be sent to their provided email address.\n* If the appointment booking is unsuccessful, notify the user that you are unable to complete their request at the moment and to try again later.\n\n## To find an existing appointment\n* Ask the user for their email address and date of the existing booking\n* Use the user's email and date to search for the existing booking.\n* If the user's email and date do not match the results or no results are returned, then the existing booking is not found.\n* If the existing booking is not found, notify the user and suggest a new booking should be made.\n\n# To reschedule or cancel an existing appointment\n* First find the existing appointment so that you may obtain the existing appointment's booking ID.\n* Display this booking ID to the user.\n* Use this booking ID to reschedule or cancel an existing appointment.\n* If an existing appointment ID is not found or given, then notify the user that it is not possible to complete their request at this time and they should contact via email.\n* when user wants to cancel an appointment, ask for a reason for the cancellation and suggest rescheduling as an alternative. Confirm with user before cancelling an appointment.\n\n## About the user\nThe user's session id is {{ $json.sessionId }}"
    },
    {
      "parameters": {
        "name": "get_availability_tool",
        "description": "Call this tool to get availability for appointments using event ID.\n\n## Inputs Required:\n- Event ID (number, required).\n- Start date and time in ISO format (string, required).\n- End date and time in ISO format (string, required).\n\n## Workflow:\n1. Use the event ID to check available slots.\n2. Return all available time slots for the specified event.",
        "workflowId": {
          "__rl": true,
          "value": "5LfFRdaepFJdM4yE",
          "mode": "list",
          "cachedResultName": "COMP Cal.com"
        },
        "fields": {
          "values": [
            {
              "name": "action",
              "stringValue": "availability"
            }
          ]
        },
        "specifyInputSchema": true,
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"event_id\": {\n      \"type\": \"string\",\n      \"description\": \"Event ID of the professional for which you want to check availability\"\n    },\n    \"startTime\": {\n      \"type\": \"string\",\n      \"format\": \"date-time\",\n      \"description\": \"Start date and time of the appointment in ISO 8601 format (e.g., '2024-11-18T08:00:00Z')\"\n    },\n    \"endTime\": {\n      \"type\": \"string\",\n      \"format\": \"date-time\",\n      \"description\": \"End date and time of the appointment in ISO 8601 format. If not provided, the default will be 24 hours after 'startTime'. If provided, the end time must be within 3 days of the 'startTime'.\"\n    }\n  },\n  \"required\": [\n    \"event_id\",\n    \"startTime\",\n    \"endTime\"\n  ]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        2060,
        1440
      ],
      "id": "edc94a5f-7ab6-43d4-ba0e-9a341f9d256e",
      "name": "Get Availability Tool"
    },
    {
      "parameters": {
        "name": "get_existing_appt_tool",
        "description": "=Call this tool to retrieve details of an existing booking using a booking UID.\n\n## Inputs Required:\n- Booking UID (string, required).\n\n## Workflow:\n1. Provide the booking UID to locate the existing booking.\n2. Return the booking details or notify if not found.",
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "5LfFRdaepFJdM4yE",
          "cachedResultName": "COMP Cal.com"
        },
        "fields": {
          "values": [
            {
              "name": "action",
              "stringValue": "find booking"
            }
          ]
        },
        "specifyInputSchema": true,
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"booking_uid\": {\n      \"type\": \"string\",\n      \"description\": \"Booking UID of the booking\"\n    }\n  },\n  \"required\": [\"booking_uid\"]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        2180,
        1420
      ],
      "id": "7f237841-e763-4397-9870-b1c4777cde63",
      "name": "Get Existing Appt Tool",
      "disabled": true
    },
    {
      "parameters": {
        "name": "find_existing_appt_tool",
        "description": "=Call this tool to find existing reservations using the user's email address.\n\n## Inputs Required:\n- User email (string, required).\n- Event ID (string, optional).\n- Status (string, optional, default: \"all\").\n\n## Workflow:\n1. Search for bookings matching the provided email.\n2. Return matching reservations or notify if not found.",
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "5LfFRdaepFJdM4yE",
          "cachedResultName": "COMP Cal.com"
        },
        "fields": {
          "values": [
            {
              "name": "action",
              "stringValue": "list bookings"
            },
            {
              "name": "remoteJid",
              "stringValue": "={{ $json.messageInfo.remoteJid.split('@')[0] }}"
            }
          ]
        },
        "specifyInputSchema": true,
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"attendeeEmail\": {\n      \"type\": \"string\",\n      \"description\": \"Email address of the user\"\n    },\n    \"event_id\": {\n      \"type\": \"string\",\n      \"description\": \"Event ID to filter bookings\"\n    },\n    \"status\": {\n      \"type\": \"string\",\n      \"description\": \"Status of the booking (e.g., upcoming, past, cancelled)\",\n      \"default\": \"all\"\n    }\n  },\n  \"required\": [\"email\"]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        2540,
        1360
      ],
      "id": "4dd86eb4-e62e-4eb1-aa78-07e5772bba38",
      "name": "Find Existing Appt Tool"
    },
    {
      "parameters": {
        "name": "cancel_appt_tool",
        "description": "=Call this tool to cancel an appointment using a booking UID.\n\n## Inputs Required:\n- Booking UID (string, required).\n- Reason for cancellation (string, required).\n\n## Workflow:\n1. Verify the booking UID before proceeding.\n2. Confirm with the user before cancelling.\n3. Cancel the appointment and notify the user.",
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "5LfFRdaepFJdM4yE",
          "cachedResultName": "COMP Cal.com"
        },
        "fields": {
          "values": [
            {
              "name": "action",
              "stringValue": "cancel booking"
            }
          ]
        },
        "specifyInputSchema": true,
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"booking_uid\": {\n      \"type\": \"string\",\n      \"description\": \"Booking UID of the booking\"\n    },\n    \"cancellationReason\": {\n      \"type\": \"string\",\n      \"description\": \"Reason for cancellation\"\n    }\n  },\n  \"required\": [\"booking_uid\", \"cancellationReason\"]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        2420,
        1380
      ],
      "id": "ac72bff6-f5b8-4597-bd79-d21574a4695c",
      "name": "Cancel Appt Tool"
    },
    {
      "parameters": {
        "name": "schedule_appt_tool",
        "description": "Call this tool to schedule a booking.\n\n## Inputs Required:\n- User email (string, required).\n- Full name (string, required).\n- Proposed start date and time in ISO format (string, required).\n- Cellphone (string, required).\n\n## Workflow:\n1. Verify availability of the proposed date and time using the \"availability\" tool.\n2. Ensure all inputs are valid before proceeding.\n3. If scheduling fails, log the issue and notify the user.\n4. Confirm the booking and notify the user of the booking UID.\n",
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "5LfFRdaepFJdM4yE",
          "cachedResultName": "COMP Cal.com"
        },
        "fields": {
          "values": [
            {
              "name": "action",
              "stringValue": "schedule booking"
            }
          ]
        },
        "specifyInputSchema": true,
        "schemaType": "manual",
        "inputSchema": "{\"type\":\"object\",\"properties\":{\"start\":{\"type\":\"string\",\"description\":\"Date and time of the start of the booking in ISO format\"},\"title\":{\"type\":\"string\",\"description\":\"Title of the appointment\"},\"description\":{\"type\":\"string\",\"description\":\"Description of the appointment\"},\"attendee\":{\"type\":\"object\",\"properties\":{\"name\":{\"type\":\"string\"},\"email\":{\"type\":\"string\"}},\"required\":[\"name\",\"email\"]},\"event_id\":{\"type\":\"string\",\"description\":\"Event ID related to the booking\"},\"bookingFieldsResponses\":{\"type\":\"object\",\"properties\":{\"notes\":{\"type\":\"string\"},\"cellphone\":{\"type\":\"string\",\"description\":\"12982184877\"},\"professional\":{\"type\":\"string\"},\"procedure\":{\"type\":\"string\"},\"method_payment\":{\"type\":\"string\"},\"name_plan\":{\"type\":\"string\"},\"price\":{\"type\":\"string\"}},\"required\":[\"cellphone\",\"professional\",\"procedure\"]}},\"required\":[\"start\",\"title\",\"attendee\",\"event_id\",\"bookingFieldsResponses\"]}"
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        1940,
        1460
      ],
      "id": "c56148c9-e174-4896-8c12-f6eff039ed39",
      "name": "Schedule Appt Tool"
    },
    {
      "parameters": {
        "name": "reschedule_appt_tool",
        "description": "=Call this tool to reschedule an appointment using a booking UID.\n\n## Required inputs:\n- Booking UID (string, required).\n- Proposed start date and time in ISO format (string, required).\n- Reason for rescheduling (string, required).\n\n## Workflow:\n1. Verify the booking UID before proceeding.\n2. Confirm with the user before rescheduling.\n3. Reschedule the appointment and notify the user.",
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "5LfFRdaepFJdM4yE",
          "cachedResultName": "COMP Cal.com"
        },
        "fields": {
          "values": [
            {
              "name": "action",
              "stringValue": "reschedule booking"
            }
          ]
        },
        "specifyInputSchema": true,
        "schemaType": "manual",
        "inputSchema": "{\n\"type\": \"object\",\n  \"properties\": {\n    \"booking_uid\": {\n      \"type\": \"string\",\n      \"description\": \"the uid of the booking\"\n    },\n    \"start\": {\n      \"type\": \"string\",\n      \"description\": \"date and time of the start of the booking\"\n    },\n    \"reschedulingReason\": {\n      \"type\": \"string\",\n      \"description\": \"rescheduling reason\"\n    }\n  },\n  \"required\": [\n    \"booking_id\",\n    \"start\",\n    \"reschedulingReason\"\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        2300,
        1400
      ],
      "id": "0fb315e4-d637-4167-b8b0-cf776e9a551e",
      "name": "Reschedule Appt Tool"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=memo_{{ $('EWT').first().json.messageInfo.unique_id }}_clinica_calendar",
        "sessionTTL": 300
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.3,
      "position": [
        1640,
        1360
      ],
      "id": "690c918f-448f-416a-b23a-d8b056fddc1c",
      "name": "Chat Memory",
      "credentials": {
        "redis": {
          "id": "ePjUcKkuSrLqo1Tt",
          "name": "vps"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4o-mini-2024-07-18",
        "options": {
          "temperature": 0,
          "topP": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        1520,
        1380
      ],
      "id": "5e0c3074-7231-4059-b25e-2578852771c4",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "dRR3EqW0FEAbSHgt",
          "name": "william"
        }
      }
    },
    {
      "parameters": {
        "name": "procedures_tool",
        "description": "Use this tool to obtain the EVENT ID and information about the specialists (doctors) and procedures provided by the clinic.",
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "JZY3GPC55leuxyHn",
          "cachedResultName": "TOOL Clinica Med Center"
        },
        "fields": {
          "values": [
            {
              "name": "tool",
              "stringValue": "procedures"
            },
            {
              "name": "messageInfo",
              "type": "objectValue",
              "objectValue": "={{ $json.messageInfo }}"
            }
          ]
        }
      },
      "id": "98ed3f19-6468-4615-8e4e-1fdd5db62c09",
      "name": "Procedures Tool",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        1780,
        1360
      ]
    },
    {
      "parameters": {
        "model": "llama-3.2-90b-text-preview",
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1400,
        1400
      ],
      "id": "8f308a70-9a11-445d-ba7b-091000666b71",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "Qc9IFal2C1clPmRn",
          "name": "william"
        }
      }
    },
    {
      "parameters": {
        "content": "## Function Cal",
        "height": 240,
        "width": 760,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1900,
        1340
      ],
      "id": "f49b0c91-1cbb-45bf-85eb-c1c5e6d56ffc",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "760374de-6e34-46ca-9918-905a36c32c1d",
      "name": "Chat",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        320,
        1000
      ],
      "webhookId": "c97c3f09-c026-41e4-905a-4597cfd0966e",
      "disabled": true
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "23b0e203-6fae-425e-8945-9bf9e5eb437c",
      "name": "EWT 2",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        740,
        1000
      ],
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3d3f5973-0888-4a4a-9b95-74a7908fcf4c",
              "leftValue": "={{ $json.agent }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "309a8f36-ceba-4d09-a0ff-97bba24c00d3",
      "name": "Request to Tool?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        920,
        760
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.agent }}",
                    "rightValue": "calendar",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "calendar"
            }
          ]
        },
        "options": {}
      },
      "id": "ca609f71-ebaf-427b-b5d4-c2adfd9472ab",
      "name": "Switch Agent",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1120,
        1140
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "08781159-d933-43ce-8f8d-c043d0501403",
              "leftValue": "={{ $json.data }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1540,
        -40
      ],
      "id": "9728c09b-20a4-478b-b02c-035febda0142",
      "name": "Data Cached?"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=memo_{{ $('EWT').first().json.messageInfo.unique_id }}_clinica_calendar"
      },
      "id": "8d9813e1-5af7-459b-966a-8489f332debb",
      "name": "Reset Memo",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1540,
        1140
      ],
      "alwaysOutputData": true,
      "credentials": {
        "redis": {
          "id": "ePjUcKkuSrLqo1Tt",
          "name": "vps"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b49db797-0bdf-457d-8ba0-e7cf175881e5",
              "name": "response",
              "value": "={{ $json.response.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "4f2d1555-c5dd-47d4-ac12-392d83dafbfa",
      "name": "Response1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2580,
        640
      ],
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b49db797-0bdf-457d-8ba0-e7cf175881e5",
              "name": "response",
              "value": "=in development",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "16a11653-c133-4f38-943a-06bf9e07de80",
      "name": "Response In Development",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2100,
        640
      ]
    },
    {
      "parameters": {
        "content": "## Specialists\nList with Professionals, Procedures\nand ID",
        "height": 360,
        "width": 1020,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1340,
        -160
      ],
      "id": "ac24d5a0-5c05-447f-a0d5-f7a5c76119fc",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "53985a03-c355-4121-b058-0b87b0f8437d",
              "name": "query",
              "value": "={{ $json.query }}",
              "type": "string"
            },
            {
              "id": "b7ec07ee-1c3d-4b54-9be3-6c57b4ca0753",
              "name": "messageInfo",
              "value": "={{ $json.messageInfo }}",
              "type": "object"
            },
            {
              "id": "d488e141-67d9-47a1-a6f1-8387677abdeb",
              "name": "userAccount",
              "value": "={{ $json.userAccount }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1380,
        1140
      ],
      "id": "91fb783d-aef6-4a47-b4a9-931c93b6c7c8",
      "name": "Normalize"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "update user",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "user account"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1380,
        720
      ],
      "id": "82c3ff87-4990-48bb-96fd-e6987c840ac6",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "clinic_users",
        "filters": {
          "conditions": [
            {
              "keyName": "remoteJid",
              "condition": "eq",
              "keyValue": "={{ $json.messageInfo.remoteJid.split('@')[0] }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "={{ $json.query.key }}",
              "fieldValue": "={{ $json.query.value }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1580,
        720
      ],
      "id": "f009a914-e442-4fad-a7b4-2d5c0e1dcee6",
      "name": "Update User",
      "alwaysOutputData": false,
      "credentials": {
        "supabaseApi": {
          "id": "WWYYqpMcDDFZTW3g",
          "name": "william"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8cb2031b-a2ee-4f48-8968-d3362cbb4ba6",
              "name": "response",
              "value": "={{ $json.error ?? 'done' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1820,
        820
      ],
      "id": "e2fa2399-2e58-46a1-9c1e-6ab6921ee362",
      "name": "Response"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=user_account_{{ $json.remoteJid }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1820,
        660
      ],
      "id": "12b31f46-a7da-4278-885c-6a214024bb61",
      "name": "Delete User Account",
      "credentials": {
        "redis": {
          "id": "ePjUcKkuSrLqo1Tt",
          "name": "vps"
        }
      }
    },
    {
      "parameters": {
        "content": "## Update User Data in Supabase\nName, email, date birth or address and\nreset cache to bring the new data.",
        "height": 360,
        "width": 660,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1340,
        620
      ],
      "id": "ccd0b762-cdbf-42b9-ae12-5243ec9f1516",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b49db797-0bdf-457d-8ba0-e7cf175881e5",
              "name": "response",
              "value": "={{ $json.data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f491aeb9-3b07-4240-900f-8489ede2399f",
      "name": "Response4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2220,
        440
      ]
    },
    {
      "parameters": {
        "content": "## Exams\nList with Exams and ID",
        "height": 360,
        "width": 1020,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1340,
        240
      ],
      "id": "02b7e352-0e8a-4596-a4bf-5b6c7d54d55f",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "data",
        "key": "={{ $('EWT').item.json.messageInfo.instance }}_{{ $workflow.id\n}}_exams",
        "keyType": "string",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1380,
        360
      ],
      "id": "722d167f-d3d2-473b-a7cd-c2ac6d71c93f",
      "name": "Get Exams",
      "credentials": {
        "redis": {
          "id": "ePjUcKkuSrLqo1Tt",
          "name": "vps"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "clinic_exams",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "instance_name",
              "condition": "eq",
              "keyValue": "={{ $('EWT').item.json.messageInfo.instance }}"
            },
            {
              "keyName": "active",
              "condition": "eq",
              "keyValue": "true"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1680,
        280
      ],
      "id": "76f9243b-df22-4499-8c5e-577d67316c4e",
      "name": "List Exams",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "WWYYqpMcDDFZTW3g",
          "name": "william"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "=data",
        "include": "specifiedFields",
        "fieldsToInclude": "id,exam",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1820,
        280
      ],
      "id": "2f93080b-dcc4-4081-8320-9446fade33d1",
      "name": "Aggregate 2",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f8d70ac3-ee0f-45ae-a0f8-cb0d54876bb3",
              "name": "data",
              "value": "={{ $('List Exams').all().map(item => {\n  return {\n  exam: item.json.exam,\n  id: item.json.id\n  }\n}) }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1960,
        280
      ],
      "id": "f6ea11b9-880b-4ea7-a828-6a878a65453e",
      "name": "Format Exams"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('EWT').item.json.messageInfo.instance }}_{{ $workflow.id\n}}_exams",
        "value": "={{ $json.data.toJsonString() }}",
        "keyType": "string",
        "expire": true,
        "ttl": 120
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2100,
        280
      ],
      "id": "ad8fa5b0-499c-497c-baaa-c2f98aee0e11",
      "name": "Set Exams",
      "credentials": {
        "redis": {
          "id": "ePjUcKkuSrLqo1Tt",
          "name": "vps"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "27078474-0533-4004-8718-c55a54a5e46c",
              "name": "data",
              "value": "={{ $json.data.length ? $json.data.parseJson() : '' }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1680,
        440
      ],
      "id": "d3d2528d-6712-4543-bbd9-e3de955f233e",
      "name": "Load Exams"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "08781159-d933-43ce-8f8d-c043d0501403",
              "leftValue": "={{ $json.data }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1540,
        360
      ],
      "id": "6c0c60c0-7144-4c4a-a8ef-2095b5dec2ff",
      "name": "Data Cached? 2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b49db797-0bdf-457d-8ba0-e7cf175881e5",
              "name": "response",
              "value": "={{ $json.data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c805abe8-7ac0-43df-a16e-6a21f147f291",
      "name": "Response5",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3780,
        440
      ]
    },
    {
      "parameters": {
        "content": "## Details Exam\nInformations about a Exam",
        "height": 360,
        "width": 1520,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2400,
        240
      ],
      "id": "f88a1e70-cbcb-4bb6-974c-9786f0bc80bb",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "data",
        "key": "={{ $('EWT').item.json.messageInfo.instance }}_{{ $workflow.id\n}}_exam_detail_{{ $('EWT').item.json.query.exam_id }}",
        "keyType": "string",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2440,
        420
      ],
      "id": "d5617cc8-91d8-41b6-abca-b54030af1c7e",
      "name": "Get Details Exam",
      "credentials": {
        "redis": {
          "id": "ePjUcKkuSrLqo1Tt",
          "name": "vps"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "clinic_exams",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "instance_name",
              "condition": "eq",
              "keyValue": "={{ $('EWT').item.json.messageInfo.instance }}"
            },
            {
              "keyName": "active",
              "condition": "eq",
              "keyValue": "true"
            },
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('EWT').item.json.query.exam_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2760,
        320
      ],
      "id": "99cd6012-ad60-4ef3-8809-ca0467e1b547",
      "name": "Details Exam",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "WWYYqpMcDDFZTW3g",
          "name": "william"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f8d70ac3-ee0f-45ae-a0f8-cb0d54876bb3",
              "name": "data",
              "value": "={{ $('Aggregate Exam').first().json.data.first() }}",
              "type": "object"
            },
            {
              "id": "20f5ab55-5fd2-4abf-8b9d-e93a72e562cd",
              "name": "data.calendar_id",
              "value": "={{ $json.id ?? null }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3420,
        420
      ],
      "id": "6e572332-0566-43b9-bc11-a941a3bbf6b6",
      "name": "Format Exam Details"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('EWT').item.json.messageInfo.instance }}_{{ $workflow.id\n}}_exam_detail_{{ $('EWT').item.json.query.exam_id }}",
        "value": "={{ $json.data.toJsonString() }}",
        "keyType": "string",
        "expire": true,
        "ttl": 120
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        3600,
        420
      ],
      "id": "96e835d4-4110-45ac-b752-87e04e03f274",
      "name": "Set Exam Details",
      "credentials": {
        "redis": {
          "id": "ePjUcKkuSrLqo1Tt",
          "name": "vps"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "08781159-d933-43ce-8f8d-c043d0501403",
              "leftValue": "={{ $json.data }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2600,
        420
      ],
      "id": "9edb2d77-1096-440b-a150-a7e9ad2c4025",
      "name": "Data Cached? 3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b49db797-0bdf-457d-8ba0-e7cf175881e5",
              "name": "response",
              "value": "=exam not found with id {{ $('EWT').first().json.query.exam_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a79bd70a-3f27-412b-9eb5-9f6c65449d01",
      "name": "Response Exam Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3240,
        260
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fb6571d7-b6a3-490b-bc53-0c463c4981bd",
              "leftValue": "={{ $json.data.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3080,
        320
      ],
      "id": "7b63b339-d928-457f-bd17-0b43776101b4",
      "name": "Exam not found?"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "data",
        "key": "={{ $('EWT').item.json.messageInfo.instance }}_{{ $workflow.id\n}}_specialists",
        "keyType": "string",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1380,
        -40
      ],
      "id": "87dcc586-bccd-4b23-a808-6f01162d1d2f",
      "name": "Get Specialists",
      "credentials": {
        "redis": {
          "id": "ePjUcKkuSrLqo1Tt",
          "name": "vps"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "27078474-0533-4004-8718-c55a54a5e46c",
              "name": "data",
              "value": "={{ $json.data.length ? $json.data.parseJson() : '' }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1680,
        40
      ],
      "id": "bcc01bd3-7804-4e7c-99d2-b7f28bf225c4",
      "name": "Load Specialists"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "clinic_specialists",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "instance_name",
              "condition": "eq",
              "keyValue": "={{ $('EWT').item.json.messageInfo.instance }}"
            },
            {
              "keyName": "active",
              "condition": "eq",
              "keyValue": "true"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1680,
        -120
      ],
      "id": "06a09ac2-87ba-4933-9049-7b593ff8f4de",
      "name": "List Specialists",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "WWYYqpMcDDFZTW3g",
          "name": "william"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f8d70ac3-ee0f-45ae-a0f8-cb0d54876bb3",
              "name": "data",
              "value": "={{ $('List Specialists').all().map(item => {\n  return {\n  professional: item.json.professional,\n  procedure: item.json.procedure,\n  price: item.json.price,\n  crm: item.json.crm,\n  calendar_id: item.json.calendar_id,\n  id: item.json.professional\n  }\n}) }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1960,
        -120
      ],
      "id": "bec003e2-cc18-47ec-ab23-5b596fd0c1a7",
      "name": "Format Specialists"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('EWT').item.json.messageInfo.instance }}_{{ $workflow.id\n}}_specialists",
        "value": "={{ $json.data.toJsonString() }}",
        "keyType": "string",
        "expire": true,
        "ttl": 120
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2100,
        -120
      ],
      "id": "7f9c8a7b-ae2f-4d63-b6a4-694d19087707",
      "name": "Set Specialists",
      "credentials": {
        "redis": {
          "id": "ePjUcKkuSrLqo1Tt",
          "name": "vps"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b49db797-0bdf-457d-8ba0-e7cf175881e5",
              "name": "response",
              "value": "={{ $json.data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "510702bf-ba67-4fa4-9b27-ee49ca8da62a",
      "name": "Response6",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3560,
        40
      ]
    },
    {
      "parameters": {
        "content": "## Details Calendar\nInformations about Calendar",
        "height": 360,
        "width": 1300
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2400,
        -160
      ],
      "id": "3e30ef07-3e7d-47c0-b67c-6957060bc0d5",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "08781159-d933-43ce-8f8d-c043d0501403",
              "leftValue": "={{ $json.data }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2600,
        20
      ],
      "id": "aafc6da1-995d-4690-bfdd-7a2e5d519040",
      "name": "Data Cached? "
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "data",
        "key": "={{ $('EWT').item.json.messageInfo.instance }}_{{ $workflow.id\n}}_calendar_detail_{{ $('EWT').item.json.query.calendar_id }}",
        "keyType": "string",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2440,
        20
      ],
      "id": "7a255aa6-074e-452b-a306-a37a436e5eba",
      "name": "Get Details Calendar",
      "credentials": {
        "redis": {
          "id": "ePjUcKkuSrLqo1Tt",
          "name": "vps"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "clinic_calendars",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "instance_name",
              "condition": "eq",
              "keyValue": "={{ $('EWT').item.json.messageInfo.instance }}"
            },
            {
              "keyName": "active",
              "condition": "eq",
              "keyValue": "true"
            },
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('EWT').item.json.query.calendar_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2760,
        -80
      ],
      "id": "4fa1b17e-e0e6-4ab9-aea8-a5acc9cc62f0",
      "name": "Details Calendar",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "WWYYqpMcDDFZTW3g",
          "name": "william"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "include": "allFieldsExcept",
        "fieldsToExclude": "instance_name,active,type,created_at,id",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2900,
        -80
      ],
      "id": "0590572f-5152-45b3-b9b4-51128406cce4",
      "name": "Aggregate 3"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('EWT').item.json.messageInfo.instance }}_{{ $workflow.id\n}}_calendar_detail_{{ $('EWT').item.json.query.calendar_id }}",
        "value": "={{ $json.data.toJsonString() }}",
        "keyType": "string",
        "expire": true,
        "ttl": 120
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        3400,
        40
      ],
      "id": "190a3878-70ac-4faa-9ab3-42e14fa5062e",
      "name": "Set Calendar Details",
      "credentials": {
        "redis": {
          "id": "ePjUcKkuSrLqo1Tt",
          "name": "vps"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f8d70ac3-ee0f-45ae-a0f8-cb0d54876bb3",
              "name": "data",
              "value": "={{ $json.data.first() }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3240,
        40
      ],
      "id": "fdcb5356-29c1-44d0-9f05-65dbb3f6fe81",
      "name": "Format Calendar Details"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b49db797-0bdf-457d-8ba0-e7cf175881e5",
              "name": "response",
              "value": "=calendar with event id not found using id {{ $('EWT').first().json.query.calendar_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "fd099bbf-1d5e-4645-9ce6-3f67ec2fdea6",
      "name": "Response Calendar Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3240,
        -120
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fb6571d7-b6a3-490b-bc53-0c463c4981bd",
              "leftValue": "={{ $json.data.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3080,
        -80
      ],
      "id": "f0d49395-95e8-4388-8b16-9760cf380bf2",
      "name": "Calendar not found?"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "clinic_calendars",
        "filters": {
          "conditions": [
            {
              "keyName": "instance_name",
              "keyValue": "={{ $('EWT').item.json.messageInfo.instance }}"
            },
            {
              "keyName": "type",
              "keyValue": "c"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3240,
        420
      ],
      "id": "ff8b0586-0e63-4a93-9f83-47ef652ee9ea",
      "name": "Get Calendar to Exams",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "WWYYqpMcDDFZTW3g",
          "name": "william"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "include": "allFieldsExcept",
        "fieldsToExclude": "instance_name,approved_by_anvisa,active",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2900,
        320
      ],
      "id": "fe2eaa0a-32cd-464a-bf54-0751ed752247",
      "name": "Aggregate Exam"
    }
  ],
  "pinData": {
    "EWT": [
      {
        "json": {
          "query": {
            "calendar_id": 6
          },
          "tool": "calendar details",
          "messageInfo": {
            "evo_api": "https://apiwp.wmst.com.br",
            "instance": "ibox_cli_23",
            "remoteJid": "5512982184879@s.whatsapp.net",
            "pushName": "W.M. Soluções Tecnologicas",
            "fromMe": false,
            "unique_id": "william_5512982184879",
            "debounce_time": 5,
            "conversation": "nao"
          },
          "userAccount": {
            "id": 10,
            "remoteJid": 5512982184879,
            "name": "William",
            "email": "williamkillerca@hotmail.com",
            "date_birth": null,
            "address": null,
            "created_at": "2024-11-18T04:17:02.326408+00:00"
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-09-27T14:34:01.317Z",
      "updatedAt": "2024-09-27T14:34:01.317Z",
      "id": "ZoTSEGR97fzorfDz",
      "name": "AI"
    },
    {
      "createdAt": "2024-09-27T17:42:17.034Z",
      "updatedAt": "2024-09-27T17:42:17.034Z",
      "id": "TsfCA8eZuTObjOfy",
      "name": "Backup"
    },
    {
      "createdAt": "2024-10-30T23:31:05.255Z",
      "updatedAt": "2024-10-30T23:31:05.255Z",
      "id": "IDsda42rHm8bi7eR",
      "name": "Tool"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-11-20T15:22:53.830Z",
  "versionId": "911aa4d2-9c4d-49f4-bc0b-79d5a5788b7b"
}