workflows_local/AI 1 Benchmark.json
{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WF Capture Msg": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Debounce is active?": {
      "main": [
        [
          {
            "node": "baseInfo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "active debounce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "active debounce": {
      "main": [
        [
          {
            "node": "baseInfo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n": {
      "main": [
        [
          {
            "node": "Debounce is active?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "WF Capture Msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "inscrement": {
      "main": [
        [
          {
            "node": "hit limit?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "baseInfo": {
      "main": [
        [
          {
            "node": "RemoteJids",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Messages": {
      "main": [
        [
          {
            "node": "reset msgs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate ID": {
      "main": [
        [
          {
            "node": "Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message": {
      "main": [
        [
          {
            "node": "push on list",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "reset inscrement": {
      "main": [
        [
          {
            "node": "inscrement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "reset msgs": {
      "main": [
        [
          {
            "node": "reset inscrement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "push on list": {
      "main": [
        [
          {
            "node": "inscrement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "hit limit?": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get list": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "get list",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RemoteJids": {
      "main": [
        [
          {
            "node": "Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-10-03T14:07:21.854Z",
  "id": "Hm0fEh6T60MeEn8N",
  "meta": null,
  "name": "AI 1 Benchmark",
  "nodes": [
    {
      "parameters": {},
      "id": "e3f9debd-a451-4b98-bb35-460a18b73808",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1900,
        840
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b5edd299-4d0b-4d92-823b-78da55fbad50",
              "name": "remoteJid",
              "value": "5512982184879@s.whatsapp.net",
              "type": "string"
            },
            {
              "id": "d8051e6b-5541-4d20-83bf-ee9e47bbc236",
              "name": "pushName",
              "value": "William",
              "type": "string"
            },
            {
              "id": "2f1550de-1622-490d-bbcb-d550e66455a2",
              "name": "instance_name",
              "value": "ibox_cli_23",
              "type": "string"
            },
            {
              "id": "b394a911-c168-4e84-bcb7-7c7e3bcb68ae",
              "name": "limit",
              "value": 1,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "7e508985-d8be-4fd1-91f5-d3ac6c9c7fa6",
      "name": "baseInfo",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1240,
        820
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "032423ff-f83d-4a35-a095-1ead46f0f57c",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        640,
        720
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ef743ff9-0d57-46a2-80b7-290327b707f6",
              "name": "msgs",
              "value": "={{ [\n  \"oi\",\n  \"tudo bem?\",\n  \"Como vai?\",\n  \"Quero pedir\",\n  \"De onde são?\",\n  \"Qual o horário de funcionamento?\",\n  \"Tem promoção?\",\n  \"Aceitam cartão?\",\n  \"Qual o tempo de entrega?\",\n  \"Qual o cardápio?\",\n  \"Vocês entregam no meu bairro?\",\n  \"Posso pagar no pix?\",\n  \"Qual o endereço?\",\n  \"Vocês têm sobremesa?\",\n  \"Obrigado!\"\n] }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "eef9d81f-dd89-499b-b3f7-b5b4ded627a6",
      "name": "Messages",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -880,
        820
      ]
    },
    {
      "parameters": {
        "amount": 0.2
      },
      "id": "e607da0e-b603-47b3-97e5-9dee54a8a78d",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1180,
        740
      ],
      "webhookId": "8cbe7c67-f45e-4574-83bc-5f59a04172aa"
    },
    {
      "parameters": {
        "content": "# Stress Test\n## Envio de mensagem",
        "height": 113.7105412168414,
        "width": 454.9276353042105
      },
      "id": "783819b1-08f3-47ed-9aca-66d294f0acec",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1920,
        560
      ]
    },
    {
      "parameters": {
        "operation": "activate",
        "workflowId": {
          "__rl": true,
          "value": "KCzwyXp5E0KjdlRc",
          "mode": "list",
          "cachedResultName": "AI Processa Msgs (#KCzwyXp5E0KjdlRc)"
        },
        "requestOptions": {}
      },
      "id": "ef4eb650-6dc7-47d2-b35c-f29676f14ad9",
      "name": "active debounce",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -1380,
        980
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://webhook.n8n.wsl.local/webhook/f67c8094-022b-4aef-bb16-c7e430158fd9",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {}
      },
      "id": "f777d738-d7d2-4398-8794-1d24d2aff8ff",
      "name": "WF Capture Msg",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1020,
        740
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "filters": {
          "activeWorkflows": false,
          "tags": "Debounce"
        },
        "requestOptions": {}
      },
      "id": "c2defe1a-0c0e-4b65-acfc-b5ab345e40b7",
      "name": "n8n",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -1720,
        840
      ],
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "68ddab78-6782-443f-9682-326e7712f0d8",
              "leftValue": "={{ $json.active }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "18371b32-c61c-4fbb-a6d9-cfbf047c3b2a",
      "name": "Debounce is active?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1540,
        840
      ],
      "disabled": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let timestamp  = Math.round($now.toSeconds());\n\nconst content = {\n  \"body\": {\n    \"event\": \"messages.upsert\",\n    \"instance\": \"shake_serraria\",\n    \"data\": {\n      \"key\": {\n        \"remoteJid\": $('baseInfo').first().json.remoteJid,\n        \"fromMe\": false,\n        \"id\": $('Loop Over Items').item.json.messageId\n      },\n      \"pushName\": $('baseInfo').first().json.pushName,\n      \"message\": {\n        \"conversation\": $('Loop Over Items').item.json.conversation,\n        \"messageContextInfo\": {\n          \"deviceListMetadata\": {\n            \"senderKeyHash\": \"XmJzBOLylzgZMw==\",\n            \"senderTimestamp\": \"1726978616\",\n            \"senderAccountType\": \"E2EE\",\n            \"receiverAccountType\": \"E2EE\",\n            \"recipientKeyHash\": \"I8VCc5TteJywHg==\",\n            \"recipientTimestamp\": \"1727477157\"\n          },\n          \"deviceListMetadataVersion\": 2,\n          \"messageSecret\": \"pdwWR8j0uXhfIhPDgkn0V81XiAf9kXtezdO29U5q6pc=\"\n        }\n      },\n      \"messageType\": \"conversation\",\n      \"messageTimestamp\": 1727921856,\n      \"owner\": \"shake_serraria\",\n      \"source\": \"web\"\n    },\n    \"destination\": \"https://n8n.entiliber.com/webhook/c768e41c-091a-49f0-816f-587b563d8cdb/:TESTEssss\",\n    \"date_time\": \"2024-10-02T23:17:36.461Z\",\n    \"sender\": \"558287107712@s.whatsapp.net\",\n    \"server_url\": \"https://wapi.entiliber.com\",\n    \"apikey\": \"hw32bvv1fqtfmlio7n934q\"\n  },\n  \"webhookUrl\": \"https://webhook.n8n.wmst.com.br/webhook-test/052fca95-88ff-4599-8473-89421ca6fc46\",\n  \"executionMode\": \"test\"\n};\n\nreturn content;"
      },
      "id": "f5e442c3-f6b2-420d-940d-00cf634c1be7",
      "name": "Code Rafael",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        460
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let timestamp  = Math.round($now.toSeconds());\n\nconst msg = JSON.parse($input.item.json.msgs);\n\nconst content = {\n  \"body\": {\n    \"event\": \"messages.upsert\",\n    \"instance\": \"ibox_cli_23\",\n    \"data\": {\n      \"key\": {\n        \"remoteJid\": msg.user.remoteJid,\n        \"fromMe\": false,\n        \"id\": msg.messageId\n      },\n      \"pushName\": msg.user.pushName,\n      \"message\": {\n        \"messageContextInfo\": {\n          \"deviceListMetadata\": {\n            \"senderKeyHash\": \"XmJzBOLylzgZMw==\",\n            \"senderTimestamp\": \"1726978616\",\n            \"senderAccountType\": \"E2EE\",\n            \"receiverAccountType\": \"E2EE\",\n            \"recipientKeyHash\": \"133dAnqlyPxFrg==\",\n            \"recipientTimestamp\": timestamp\n          },\n          \"deviceListMetadataVersion\": 2\n        },\n        \"conversation\": `${msg.order} - ${msg.conversation}`\n      },\n      \"contextInfo\": {\n        \"ephemeralSettingTimestamp\": timestamp,\n        \"disappearingMode\": {\n          \"initiator\": \"CHANGED_IN_CHAT\",\n          \"trigger\": \"CHAT_SETTING\"\n        }\n      },\n      \"messageType\": \"extendedTextMessage\",\n      \"messageTimestamp\": timestamp,\n      \"instanceId\": \"88d98422-5c77-47d2-8405-c813d554530e\",\n      \"source\": \"web\",\n      \"chatwootMessageId\": 762,\n      \"chatwootInboxId\": 4,\n      \"chatwootConversationId\": 3\n    },\n    \"destination\": \"https://n8n.wmst.com.br/webhook-test/052fca95-88ff-4599-8473-89421ca6fc46\",\n    \"date_time\": \"2024-09-25T14:42:39.164Z\",\n    \"sender\": \"5512982471939@s.whatsapp.net\",\n    \"server_url\": \"https://apiwp.wmst.com.br\",\n    \"apikey\": \"A87404A4-1FBF-42C2-B2EF-F3AE0A4D8D36\"\n  },\n  \"webhookUrl\": \"https://webhook.n8n.wmst.com.br/webhook-test/052fca95-88ff-4599-8473-89421ca6fc46\",\n  \"executionMode\": \"test\"\n};\n\nreturn content;"
      },
      "id": "14fd1b52-a827-4ed0-a7d2-de99c99d6213",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        840,
        740
      ]
    },
    {
      "parameters": {
        "operation": "incr",
        "key": "benchmark",
        "expire": true
      },
      "id": "4a735bb8-b53a-4950-844c-513368d31578",
      "name": "inscrement",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -300,
        820
      ],
      "credentials": {
        "redis": {
          "id": "OBaygrKwLFGSUCWa",
          "name": "redis local"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f0a722b2-85d2-4509-910a-0fec2cb34489",
              "name": "id",
              "value": "={{ [...Array(22)].map(() => Math.floor(Math.random() * 16).toString(16).toUpperCase()).join('') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "3026b8dd-ff2b-4d21-90dd-9fe0f5e944b6",
      "name": "Generate ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        940
      ]
    },
    {
      "parameters": {
        "operation": "push",
        "list": "benchmark_msgs",
        "messageData": "={{ $json.msg }}",
        "tail": true
      },
      "id": "7c0486e8-5e9e-4a82-bc5c-0098a17b1f28",
      "name": "push on list",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        400,
        940
      ],
      "credentials": {
        "redis": {
          "id": "OBaygrKwLFGSUCWa",
          "name": "redis local"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "msgs",
        "key": "benchmark_msgs",
        "keyType": "list",
        "options": {}
      },
      "id": "c4f90862-8d10-4b15-b5fb-65a90eaded1d",
      "name": "get list",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        300,
        720
      ],
      "credentials": {
        "redis": {
          "id": "OBaygrKwLFGSUCWa",
          "name": "redis local"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2292c75f-b563-4411-85e1-cce1791ec97e",
              "name": "msg",
              "value": "={{ { order: $('inscrement').first().json.benchmark, messageId: $json.id, conversation: $('Messages').first().json.msgs.randomItem(), user: $('RemoteJids').first().json.msgs.randomItem() } }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "6b998c55-969e-44e2-a327-aba6f0cb8c3d",
      "name": "Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        940
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "benchmark"
      },
      "id": "efd40d9b-2e7a-423d-b21f-0f0b3459abf9",
      "name": "reset inscrement",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -500,
        820
      ],
      "credentials": {
        "redis": {
          "id": "OBaygrKwLFGSUCWa",
          "name": "redis local"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "benchmark_msgs"
      },
      "id": "43f220ec-ab23-443d-9903-fb2c0cab0085",
      "name": "reset msgs",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -680,
        820
      ],
      "credentials": {
        "redis": {
          "id": "OBaygrKwLFGSUCWa",
          "name": "redis local"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "dffa0a3e-feae-47c9-9840-be8106e0cf69",
              "leftValue": "={{ $json.benchmark }}",
              "rightValue": "={{ $('baseInfo').first().json.limit }}",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "5a7e126a-aa0d-4f86-acb1-b67aa9526389",
      "name": "hit limit?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -120,
        820
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "msgs",
        "options": {}
      },
      "id": "fa86ece3-8060-41d7-8057-67706dfd5634",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        460,
        720
      ]
    },
    {
      "parameters": {},
      "id": "b15a7166-7545-433a-ae0c-376734e416ea",
      "name": "Wait1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        100,
        720
      ],
      "webhookId": "64c3bb36-2eba-43ab-9b77-159557a76a05",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ef743ff9-0d57-46a2-80b7-290327b707f6",
              "name": "msgs",
              "value": "={{ [\n  { remoteJid: \"5512982184879@s.whatsapp.net\", pushName: 'William' }\n] }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "5ba8dbbd-d5b5-4334-95e2-e8b30ec403ce",
      "name": "RemoteJids",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1060,
        820
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ef743ff9-0d57-46a2-80b7-290327b707f6",
              "name": "msgs",
              "value": "={{ [\n  { remoteJid: \"5512982184879@s.whatsapp.net\", pushName: 'William' },\n  { remoteJid: \"558299515825@s.whatsapp.net\", pushName: 'Rafael' },\n  { remoteJid: \"5512981793016@s.whatsapp.net\", pushName: 'Stephany' }\n] }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "abab7552-a2e7-409a-a478-766a0f05d1cb",
      "name": "RemoteJids1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1060,
        640
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "saveDataSuccessExecution": "none",
    "saveManualExecutions": false
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-10-03T14:02:12.218Z",
      "updatedAt": "2024-10-03T14:02:12.218Z",
      "id": "ePaEfPWjwBhgkRd0",
      "name": "AI"
    },
    {
      "createdAt": "2024-10-03T14:02:12.218Z",
      "updatedAt": "2024-10-03T14:02:12.218Z",
      "id": "Qx5hdtOeGw5RMkau",
      "name": "Backup"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-10-05T01:46:48.318Z",
  "versionId": "e9a4f6fb-c801-4e9f-a4d6-3f02943d18a2"
}