workflows_local/AI with TOOLs.json
{
  "active": false,
  "connections": {
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get store info": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Chat": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "add_product_cart_tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-10-05T02:15:09.258Z",
  "id": "35m9ja3v8CH6bTGp",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "AI with TOOLs",
  "nodes": [
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "test_session",
        "contextWindowLength": 10
      },
      "id": "77fc7db4-222f-4400-b2ee-3f729c435c8b",
      "name": "Redis Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.3,
      "position": [
        980,
        500
      ],
      "credentials": {
        "redis": {
          "id": "OBaygrKwLFGSUCWa",
          "name": "redis local"
        }
      }
    },
    {
      "parameters": {
        "model": "llama-3.2-3b-preview",
        "options": {
          "temperature": 0
        }
      },
      "id": "dd4ad4cb-af46-4ee2-96ee-0ebf2b57c26f",
      "name": "Groq Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1100,
        800
      ],
      "credentials": {
        "groqApi": {
          "id": "yOzNKNU8zoJ0SLOd",
          "name": "william"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4o-mini-2024-07-18",
        "options": {}
      },
      "id": "105b747b-ff6b-480f-b932-c24faf3b245c",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        880,
        500
      ],
      "credentials": {
        "openAiApi": {
          "id": "apFg4kZ0LYjZ2viY",
          "name": "william"
        }
      }
    },
    {
      "parameters": {},
      "id": "4de86b9c-2168-4877-85e6-fe2c7b9c8c8d",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        1360,
        340
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "63f8631e-8bef-439e-980d-92ecf80f9f19",
              "name": "response",
              "value": "memory reseted",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d0f00239-3a72-4b2a-b829-f1f5fb5f628d",
      "name": "response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1580,
        340
      ]
    },
    {
      "parameters": {
        "name": "get_store_info",
        "description": "use esta ferramenta para retornar informações sobre uma loja quando solicitada",
        "workflowId": {
          "__rl": true,
          "value": "35m9ja3v8CH6bTGp",
          "mode": "list",
          "cachedResultName": "My workflow"
        },
        "specifyInputSchema": true,
        "schemaType": "manual",
        "inputSchema": "{\n\"type\": \"object\",\n  \"properties\": {\n    \"format\": {\n      \"type\": \"string\",\n      \"description\": \"always fill markdown\"\n    },\n    \"store\": {\n      \"type\": \"string\",\n      \"description\": \"store name [hamburgueria or frutosdegoiaspk]\"\n    },\n    \"block\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\",\n        \"description\": \"store name [basic_info or null to retrive all store info]\"\n      }\n    }\n  },\n  \"required\": [\n    \"format\",\n    \"store\",\n    \"block\"\n  ]\n}"
      },
      "id": "c7f6f135-9102-47f6-8dbd-2e4bb78c2eab",
      "name": "get store info2",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        1520,
        660
      ],
      "disabled": true
    },
    {
      "parameters": {
        "toolDescription": "get informations about store.\n\n# Rules:\n- Never mention the block names exactly as they are written.\n- Respond using user-friendly terms.\n\nblocks enabled are \"basic_info\", \"status\" (store open or close), \"hours\" (hours opening), \"address\" (address localization), \"payment_methods\".",
        "method": "POST",
        "url": "https://ibox.delivery/api/whatsapp/store",
        "sendQuery": true,
        "parametersQuery": {
          "values": [
            {
              "name": "format",
              "valueProvider": "fieldValue",
              "value": "text"
            },
            {
              "name": "instance_name",
              "valueProvider": "fieldValue",
              "value": "ibox_cli_23"
            }
          ]
        },
        "sendBody": true,
        "parametersBody": {
          "values": [
            {
              "name": "block",
              "valueProvider": "fieldValue",
              "value": "{block}"
            }
          ]
        },
        "placeholderDefinitions": {
          "values": [
            {
              "name": "block",
              "description": "the input should be a string with comma separted names of blocks to consult.",
              "type": "string"
            }
          ]
        },
        "optimizeResponse": true,
        "responseType": "text",
        "truncateResponse": true
      },
      "id": "b729d2af-a250-4914-a6ec-948d9325d25f",
      "name": "get store info",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1240,
        660
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f2c03176-1adf-46c0-90f1-5a63c27b1d81",
      "name": "Chat",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        580,
        300
      ],
      "webhookId": "10a4bbae-ee31-4b76-b737-ccb9ec9a06ef"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e0e097fe-2a7a-4292-a6cf-d35477b65e14",
              "name": "sessionId",
              "value": "test_session",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c15209d4-8433-4d35-830a-ddf86fdc6377",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        740,
        300
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "test_session"
      },
      "id": "eb77311e-942b-445a-a3c9-3a7d147de002",
      "name": "Redis1",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1360,
        160
      ],
      "credentials": {
        "redis": {
          "id": "OBaygrKwLFGSUCWa",
          "name": "redis local"
        }
      }
    },
    {
      "parameters": {
        "name": "add_product_cart_tool",
        "description": "call this tool to add a product on cart until the user request to finish your order.\n\nbefore to add item on cart, confirm with user and use the product on Knowledge Base list_products",
        "workflowId": {
          "__rl": true,
          "value": "35m9ja3v8CH6bTGp",
          "mode": "list",
          "cachedResultName": "My workflow"
        },
        "specifyInputSchema": true,
        "jsonSchemaExample": "{\n\t\"products\": [\n      {\n        \"name\": \"Nome do Produto\",\n        \"amount\": \"1\",\n        \"observation\": \"\"\n      }\n    ]\n}"
      },
      "id": "adc24b70-23f9-4cb7-b048-0f63bc70943b",
      "name": "add_product_cart_tool",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        1380,
        660
      ]
    },
    {
      "parameters": {
        "name": "list_products",
        "description": "use essa ferramenta para retornar produtos/serviços fornecidos pela loja"
      },
      "id": "5671d864-4910-4dfa-8287-0938af99f9af",
      "name": "Vector Store Tool",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        940,
        660
      ]
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "02e9fe8c-d76f-452e-a717-497556cffca8",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        860,
        940
      ],
      "credentials": {
        "openAiApi": {
          "id": "apFg4kZ0LYjZ2viY",
          "name": "william"
        }
      }
    },
    {
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "value": "vector-empresa-416",
          "mode": "list",
          "cachedResultName": "vector-empresa-416"
        },
        "options": {}
      },
      "id": "2541758c-4ed2-4715-bae5-26ae5cc70571",
      "name": "Qdrant Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        860,
        800
      ],
      "credentials": {
        "qdrantApi": {
          "id": "bBhkyjVVPesLbbM6",
          "name": "qdrant local"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Chat').item.json.chatInput }}",
        "options": {
          "systemMessage": "Você é um assistente util, que irá ajudar ao usuário em suas duvidas e na realização do seu pedido.\n\n# Quando solicitado informações sobre da loja\n1. Pergunte o que usuário gostaria de saber sobre a loja.\n2. Se não encontrado a informações, notifique o usuário do ocorrido.",
          "returnIntermediateSteps": true
        }
      },
      "id": "a397d955-3b3b-455b-9db7-5bd87a5578d2",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        900,
        300
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-10-03T14:02:12.218Z",
      "updatedAt": "2024-10-03T14:02:12.218Z",
      "id": "Qx5hdtOeGw5RMkau",
      "name": "Backup"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-10-05T06:06:44.131Z",
  "versionId": "b0070a99-3748-4c6b-8f7c-ac3994683d2a"
}