workflows_local/TOOLs Tributation.json
{
  "active": false,
  "connections": {
    "baseInfo": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get ncm": {
      "main": [
        [
          {
            "node": "has response? ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "baseInfo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Collection": {
      "main": [
        [
          {
            "node": "blocksInfo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "blocksInfo": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Get Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "baseInfo1": {
      "main": [
        [
          {
            "node": "Delete Collection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "has output? 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "data": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Info": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "has output? 1": {
      "main": [
        [
          {
            "node": "data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Token Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "has response? ": {
      "main": [
        [
          {
            "node": "response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "not found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "has cfop?": {
      "main": [
        [
          {
            "node": "get cfop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "has ncm?": {
      "main": [
        [
          {
            "node": "get ncm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get cfop": {
      "main": [
        [
          {
            "node": "has response? ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "has ncm?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "has cfop?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "has cest?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "module not found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "has cest?": {
      "main": [
        [
          {
            "node": "get cest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get cest": {
      "main": [
        [
          {
            "node": "has response? ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-10-07T13:28:28.574Z",
  "id": "4JjaSJxWxmF5eLMf",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "TOOLs Tributation",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c0af5132-3b02-4d6a-885b-9331ab669995",
              "name": "api_url",
              "value": "http://192.168.1.9/assistente/public/api/v1",
              "type": "string"
            },
            {
              "id": "9d57f31a-b803-48a7-bb50-199f23602a2c",
              "name": "module",
              "value": "={{ $json.module }}",
              "type": "string"
            },
            {
              "id": "cdd29dff-2c14-43fe-8f6a-d228f1c36dd3",
              "name": "data",
              "value": "={{  $json.query.data }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "61a55fc6-541e-42ad-8e50-9e29308aa9d9",
      "name": "baseInfo",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        800,
        360
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.api_url }}/ncm",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "={\n    \"ncm\": \"{{ $json.data.ncm }}\",\n    \"descricao\": \"{{ $json.data.descricao ?? '' }}\",\n    \"data_inicio\": \"{{ $json.data.data_inicio ?? '' }}\",\n    \"data_fim\": \"{{ $json.data.data_fim ?? '' }}\",\n    \"tipo_ato\": \"{{ $json.data.tipo_ato ?? '' }}\",\n    \"numero_ato\": \"{{ $json.data.numero_ato ?? '' }}\",\n    \"ano_ato\": \"{{ $json.data.ano_ato ?? '' }}\"\n  }",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "cc0da34e-93d1-4160-bcd8-05acecbf4c76",
      "name": "get ncm",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        180
      ]
    },
    {
      "parameters": {},
      "id": "a7dfe71e-cb5f-4ced-a89f-9cc1e0e76a92",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        640,
        360
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f0813a4f-2610-4953-96a0-70f295cea24e",
              "name": "response",
              "value": "=Module '{{ $json.module }}' not exists.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b3f277b8-a6c4-4ca6-b714-a4060177c68a",
      "name": "module not found",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        620
      ]
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "={{ $('baseInfo1').first().json.qdrant_api }}/collections/{{ $json.vector_name }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "qdrantApi",
        "options": {}
      },
      "id": "0ea2ab9d-9ace-4c98-b9fe-e916d23ca9be",
      "name": "Delete Collection",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        580,
        940
      ],
      "alwaysOutputData": true,
      "credentials": {
        "qdrantApi": {
          "id": "bBhkyjVVPesLbbM6",
          "name": "qdrant local"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c20cd8e3-2a73-4758-bfbf-88d49edd563d",
              "name": "blocks",
              "value": "={{ ['ncm'] }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "61456700-775c-463f-812c-7a663da4e84d",
      "name": "blocksInfo",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        760,
        940
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "77b16aba-82e1-4aa5-a07e-fcc643a709a2",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1140,
        940
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c20cd8e3-2a73-4758-bfbf-88d49edd563d",
              "name": "url_api",
              "value": "http://192.168.1.9/assistente/public/api/v1",
              "type": "string"
            },
            {
              "id": "bd2fee21-3c39-4a7d-874c-97e46c55e63b",
              "name": "qdrant_api",
              "value": "http://qdrant:6333",
              "type": "string"
            },
            {
              "id": "ff252af5-8549-4d26-8e6d-7be5b56758f1",
              "name": "vector_name",
              "value": "tributation",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "922d803a-e49a-4a05-b391-efb9c01ac941",
      "name": "baseInfo1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        420,
        940
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "blocks",
        "options": {
          "destinationFieldName": "block"
        }
      },
      "id": "e7a6bcb0-a793-4ffe-a368-b4ba1eec8940",
      "name": "Split Out1",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        940,
        940
      ]
    },
    {
      "parameters": {},
      "id": "225d34b7-362e-47c0-b2b7-b67a38314c15",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        940
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "be3193ca-331c-48d5-b377-308808c1aaff",
      "name": "Loop Over Items1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1780,
        960
      ]
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "29a013f9-349d-4ea1-b1de-aab616c42fd2",
      "name": "Embeddings OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        2520,
        1180
      ],
      "credentials": {
        "openAiApi": {
          "id": "apFg4kZ0LYjZ2viY",
          "name": "william"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "block",
                "value": "={{ $('Loop Over Items').item.json.block }}"
              }
            ]
          }
        }
      },
      "id": "dc61be31-8493-4043-ad10-3ef38c3215f7",
      "name": "Default Data Loader1",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        2620,
        1180
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bb300119-d9a9-40d4-b939-89ba8936ce53",
              "name": "data",
              "value": "={{ $json.data.split('\\n') }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "2d7c7e4d-bfe6-465f-aef8-8b6e8f5a0aa4",
      "name": "data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2400,
        960
      ]
    },
    {
      "parameters": {
        "url": "={{ $('baseInfo1').first().json.url_api }}/{{ $json.block }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "format",
              "value": "vector_db"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          },
          "pagination": {
            "pagination": {
              "paginationMode": "responseContainsNextURL",
              "nextURL": "={{ $response.body.next_page_url }}",
              "limitPagesFetched": true,
              "maxRequests": 2,
              "requestInterval": 30
            }
          }
        }
      },
      "id": "d5a420d6-fd29-435b-b557-cc32d719cff0",
      "name": "Get Info",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1360,
        960
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "21baa15a-f57d-49f4-8715-5fcd08e367af",
              "leftValue": "={{ $json.data }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5e5e163c-fd33-4197-916b-1aac543e81c2",
      "name": "has output? 1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2000,
        980
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "={{ $('baseInfo1').first().json.vector_name }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "5f0aaee4-e1fb-4c77-b7d7-41408bfbc6ba",
      "name": "Qdrant Vector Store1",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        2580,
        960
      ],
      "credentials": {
        "qdrantApi": {
          "id": "bBhkyjVVPesLbbM6",
          "name": "qdrant local"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "c702ac2a-de28-438e-b640-61a910661f13",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1540,
        960
      ]
    },
    {
      "parameters": {
        "chunkOverlap": 100
      },
      "id": "62cfe38f-ba13-415a-9ae4-f926025ea6a1",
      "name": "Token Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterTokenSplitter",
      "typeVersion": 1,
      "position": [
        2620,
        1340
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6e0c340d-1af8-42b0-8a00-33b92136c2bf",
              "leftValue": "={{ $json.data }}",
              "rightValue": "{{ $json.data }}",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6172026c-c74e-43d2-bae0-67e2a0658ed3",
      "name": "has response? ",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1700,
        360
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0a59e209-99d5-412b-8f9b-022d6f3f6dd3",
              "leftValue": "={{ $('baseInfo').item.json.data }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "712112f0-26e3-4cdd-90b2-eefe328d2f7b",
      "name": "has cfop?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1240,
        380
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0a59e209-99d5-412b-8f9b-022d6f3f6dd3",
              "leftValue": "={{ $('baseInfo').item.json.data }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d538c7f4-164b-432c-b4c5-42947d8a68ca",
      "name": "has ncm?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1240,
        200
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.api_url }}/cfop",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "={\n    \"cfop\": \"{{ $json.data.cfop }}\",\n    \"descricao\": \"{{ $json.data.descricao ?? '' }}\"\n  }",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "8666e3ab-f2af-4ee1-820c-a04ef4209cd3",
      "name": "get cfop",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        360
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2e43aa9b-910d-432e-8de1-39ba35d4021f",
              "name": "response",
              "value": "Value not found.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "7ba5b639-048f-4b02-a98e-7965645a6c36",
      "name": "not found",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1920,
        460
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2e43aa9b-910d-432e-8de1-39ba35d4021f",
              "name": "response",
              "value": "={{ $json.data.map(item => item.removeField('id').toJsonString()) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "62783dbe-58be-4290-8582-f8669e94a751",
      "name": "response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1920,
        260
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.module }}",
                    "rightValue": "ncm",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ncm"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "59cf28fb-c24a-4048-a77e-09c19a05a368",
                    "leftValue": "={{ $json.module }}",
                    "rightValue": "cfop",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cfop"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "dd9a2530-e73e-4f92-9939-1d379e36fc67",
                    "leftValue": "={{ $json.module }}",
                    "rightValue": "cest",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cest"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "module_empty"
        }
      },
      "id": "484b1400-b4d6-4cfa-8fdb-e3406647d82b",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        960,
        360
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0a59e209-99d5-412b-8f9b-022d6f3f6dd3",
              "leftValue": "={{ $('baseInfo').item.json.data }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d70d251d-b786-4b66-a04c-03180dfc62e8",
      "name": "has cest?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1240,
        560
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.api_url }}/cest",
        "sendQuery": true,
        "specifyQuery": "json",
        "jsonQuery": "={\n    \"cest\": \"{{ $json.data.cest }}\",\n    \"descricao\": \"{{ $json.data.descricao ?? '' }}\"\n  }",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "2bdbea8b-ffa0-4b6d-bc21-8de9c807a484",
      "name": "get cest",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1460,
        540
      ]
    }
  ],
  "pinData": {
    "Execute Workflow Trigger": [
      {
        "json": {
          "query": {
            "data": {
              "cest": "13.010.00,03.010.02"
            }
          },
          "module": "cest"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-10-03T14:02:12.218Z",
      "updatedAt": "2024-10-03T14:02:12.218Z",
      "id": "Qx5hdtOeGw5RMkau",
      "name": "Backup"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-10-08T03:41:11.975Z",
  "versionId": "5c3940e1-cae9-4fba-8378-3f6d3d437566"
}